#channel-bar-wrap {
  background: #fff;
  border-bottom: solid 1px $theGray5;
  min-height: 50px;
  position: relative;
  #channel-bar {
    font-size: 0;
    line-height: 0;
    text-align: center;
    a {
      display: inline-block;
      color: $theGray1;
      font-size: 16px;
      line-height: 50px;
      text-decoration: none;
      border-bottom: solid 1px #fff;
      margin: 0 18px;
      &.selected {
        color: $thePink1;
        border-bottom: solid 1px $thePink1;
      }
    }
  }

  #upload-button {
    position: absolute;
    top: 11px;
    right: 30px;
    cursor: pointer;
    background: $thePink1;
    line-height: 28px;
    font-size: 10px;
    color: #fff;
    border-radius: 14px;
    padding: 0 14px;
    border: medium none;
    &:hover {
      background: $thePink2;
    }
    .icon.upload {
      height: 12px;
      width: 12px;
      display: inline-block;
      vertical-align: -1px;
      margin: 0 2px 0 0;
      @include sprite-position($icon-upload);
    }
  }
}

#register-banner {
  background-image: url(/images/notice_banner_background@3x.png);
  background-size: 1440px 80px;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  padding: 29px 0;
  position: relative;
  p {
    margin: 0;
    button {
      border: solid 1px white;
      color: white;
      border-radius: 4px;
      background: transparent;
      padding: 0 8px;
      font-size: 14px;
      line-height: 20px;
      cursor: pointer;
      margin: 0 8px;
    }
  }
  .cross {
    right: 60px;
    top: 28px;
    position: absolute;
    display: block;
    height: 27px;
    width: 27px;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      height: 1px;
      background: white;
      width: 27px;
      top: 13px;
    }
    &:before {
      @include transform(rotate(45deg));
    }
    &:after {
      @include transform(rotate(-45deg));
    }
  }
}