@font-face {
  font-family: Bebas Neue;
  src: url(/fonts/BebasNeue.otf);
}

$thePink1: #ea6264;
$thePink2: #cd5355;
$theGray1: #2a2a36;
$theGray2: #343440;
$theGray3: #515254;
$theGray4: #adadad;
$theGray5: #efeff1;
$theGray6: #c3c9cf;
$theGray7: #95979a;
$theGray8: #d8d8d8;
$theGray9: #f7f8fa;
$theGray10: #d2d2d2;
$theBlue1: #2A2A35;
$theBlue2: #93939e;
$theBlue3: #91919f;
$theBlue4: #4A90E2;
$theBlue5: #6F869A;
$theBlue6: #616176;
$theBlue7: #2B2B36;
$theGreen1: #2cbe42;

@mixin nolist {
  list-style: none;
  margin: 0;
  padding: 0;
}

html, body {
  background: $theGray9;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#page-content {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.radio-btn,
.checkbox-btn {
  cursor: pointer;
}

.blur {
  @include filter(blur(3px));
  overflow: hidden;
}

.show {
  display: block;
}

#mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  overflow: scroll;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  &.hide {
    display: none;
  }
}

#showcase {
  position: fixed;
  top: 0px;
  //left: -65px;
  left: 0;
  z-index: 100;
  transition: all .5s;
  padding: 4px 5px 4px 0;
  border-radius: 0 4px 4px 0;
  &:hover {
    left: 0;
    opacity: 1;
    background: rgba(0, 0, 0, .1);
  }
  h2 {
    font-size: 8px;
    color: $thePink1;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      background: #fff;
      line-height: 14px;
      font-size: 9px;
      border-radius: 0 2px 2px 0;
      color: #666;
      margin: 1px 0;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
      a {
        padding: 0 6px;
        display: block;
        text-decoration: none;
        color: #666;
        &:hover {
          background: #f0f0f0;
        }
      }
    }
  }
}

.container {
  width: 1200px;
  //padding: 0 50px;
  margin: 0 auto;
  padding: 1px 0;
}

.icon {
  background-image: url(/images/sprite@3x.png);
  background-size: $spritesheet-width $spritesheet-height;
}

input,
button,
textarea {
  outline: medium none;
}

hr {
  height: 1px;
  border: medium none;
  background: $theGray8;
}

#not-found-img {
  width: 542px;
  height: 367px;
  background-image: url(/images/sprite@3x.png);
  background-size: $spritesheet-width $spritesheet-height;
  @include sprite-position($not-found);
  margin: 100px auto 40px auto;
}

#not-found-return {
  font-size: 14px;
  height: 36px;
  padding: 0 18px;
  margin: 40px auto;
  background: #2A2A36;
  border-radius: 18px;
  border: medium none;
  color: #fff;
  display: block;
  width: 260px;
  box-sizing: border-box;
}

#activated-wrap {
  text-align: center;
  width: 480px;
  margin: 0 auto;
  .img {
    width: 94px;
    height: 94px;
    background-image: url(/images/sprite@3x.png);
    background-size: $spritesheet-width $spritesheet-height;
    @include sprite-position($happy);
    margin: 100px auto 40px auto;
  }
  h1 {
    font-size: 24px;
    font-weight: normal;
  }
  p {
    font-size: 18px;
    line-height: 28px;
  }
  button {

    font-size: 14px;
    height: 36px;
    padding: 0 18px;
    margin: 40px auto;
    background: #2A2A36;
    border-radius: 18px;
    border: medium none;
    color: #fff;
    display: block;
    width: 260px;
    box-sizing: border-box;
  }
}