@font-face {
  font-family: Bebas Neue;
  src: url(/fonts/BebasNeue.otf);
}

$thePink1: #ea6264;
$thePink2: #cd5355;
$theGray1: #2a2a36;
$theGray2: #343440;
$theGray3: #515254;
$theGray4: #adadad;
$theGray5: #efeff1;
$theGray6: #c3c9cf;
$theGray7: #95979a;
$theGray8: #d8d8d8;
$theGray9: #f7f8fa;
$theGray10: #d2d2d2;
$theBlue1: #2A2A35;
$theBlue2: #93939e;
$theBlue3: #91919f;
$theBlue4: #4A90E2;

html, body {
  background: $theGray9;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#page-content {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.radio-btn,
.checkbox-btn {
  cursor: pointer;
}

.blur {
  @include filter(blur(3px));
  overflow: hidden;
}

.show {
  display: block;
}

#mask {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  overflow: scroll;
}

#showcase {
  position: fixed;
  top: 60px;
  left: 0;
  h2 {
    font-size: 8px;
    color: $thePink1;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      background: #fff;
      line-height: 20px;
      font-size: 10px;
      border-radius: 0 10px 10px 0;
      color: #666;
      margin: 4px 0;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
      a {
        padding: 0 6px;
        display: block;
        text-decoration: none;
        color: #666;
        border-radius: 0 10px 10px 0;
        &:hover {
          background: #f6f6f6;
        }
      }
    }
  }
}

.container {
  width: 1200px;
  //padding: 0 50px;
  margin: 0 auto;
  padding: 1px 0;
}

.icon {
  background-image: url(/images/sprite@3x.png);
  background-size: $spritesheet-width $spritesheet-height;
}

input,
textarea {
  outline: medium none;
}