@font-face {
  font-family: Bebas Neue;
  src: url(/fonts/BebasNeue.otf);
}

body {
  background: #f7f8fa;
  font-family: 'Open Sans', sans-serif;
}

$thePink1: #ea6264;
$thePink2: #cd5355;
$theGray1: #2a2a36;
$theGray2: #343440;
$theGray3: #515254;
$theGray4: #adadad;
$theGray5: #efeff1;
$theGray6: #c3c9cf;
$theGray7: #95979a;

