.grid {
  @include clearfix;
  & > .column {
    box-sizing: border-box;
    float: left;
    width: 100%;
    & > .cell {
    }
  }
}

.grid.two {
  & > .column {
    width: 50%;
  }
}

.grid.five {
  & > .column {
    width: 20%;
  }
}

.product-card {
  background: #fff;
  border-radius: 4px;
  min-height: 100px;
  .product-card-thumbnail {
    border-radius: 4px 4px 0 0;
    img {
      display: block;
      padding: 0;
      margin: 0;
      border-radius: 4px 4px 0 0;
      width: 100%;
    }
  }
  .product-card-describe {
    border-style: solid;
    border-color: $theGray5;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 4px 4px;
    .product-card-title {
      padding: 10px 0;
      margin: 0 10px;
      border-bottom: solid 1px $theGray5;
      @include clearfix;
      h3 {
        margin: 0;
        font-size: 18px;
        line-height: 18px;
        color: $theGray3;
        font-weight: normal;
        float: left;
      }
      label {
        float: right;
        color: $theGray6;
        font-size: 10px;
        line-height: 18px;
        .icon {
          display: inline-block;
          height: $icon-label-height;
          width: $icon-label-width;
          vertical-align: -2px;
        }
        .label {
          @include sprite-position($icon-label);
        }
      }
    }
    .product-card-author {
      padding: 10px 0;
      margin: 0 10px;
      border-bottom: solid 1px $theGray5;
      @include clearfix;
      .portrait {
        float: left;
        height: 28px;
        width: 28px;
        border-radius: 14px;
      }
      h3 {
        margin: 0 0 0 10px;
        font-size: 14px;
        line-height: 28px;
        color: $theGray7;
        font-weight: normal;
        float: left;
      }
      .time {
        float: right;
        font-size: 10px;
        line-height: 28px;
        color: $theGray6;
      }
    }
    .product-card-follow {
      padding: 10px 0;
      margin: 0 10px;
      @include clearfix;
      label {
        color: $theGray7;
        font-size: 12px;
        line-height: 21px;
        cursor: pointer;
      }
      .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
      }
      .favorite {
        float: left;
        .icon.favor {
          vertical-align: -3px;
          @include sprite-position($icon-favor);
        }
      }
      .watch {
        float: right;
        .icon.eye {
          vertical-align: -6px;
          width: 21px;
          height: 21px;
          @include sprite-position($icon-eye);
        }
      }
    }
  }
}