header {
  background: $theGray1;
  @include clearfix;
  #header-logo {
    float: left;
    display: block;
    margin: 11px 0 11px 30px;
    img {
      display: block;
      height: 28px;
      width: 100px;
      border: medium none;
    }
  }
  #header-search-form {
    float: left;
    margin: 11px 38px;
    padding: 0;
    position: relative;
    #header-search-input {
      display: block;
      border: medium none;
      height: 28px;
      padding: 0 28px 0 14px;
      color: #fff;
      border-radius: 14px;
      box-sizing: border-box;
      font-size: 12px;
      width: 350px;
      background: $theGray2;
      @include placeholder {
        color: $theGray3;
      }
    }
    #header-search-submit {
      z-index: 10;
      display: block;
      border: medium none;
      cursor: pointer;
      background: none;
      height: 28px;
      width: 28px;
      padding: 4px;
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 0 14px 14px 0;
      &:hover {
        background: #444450;
      }
      i.icon.search {
        display: block;
        cursor: pointer;
        height: $icon-search-height;
        width: $icon-search-width;
        @include sprite-position($icon-search);
      }
    }
  }
  #header-menu {
    float: right;
    margin: 0 5px;
    padding: 0;
    @include clearfix;
    menuitem {
      color: #fff;
      float: left;
      margin: 0 5px;
      line-height: 50px;
      cursor: pointer;
      position: relative;
      .button {
        display: block;
        width: 100%;
        font-size: 16px;
        padding: 0 20px;
        box-sizing: border-box;
        position: relative;
        color: #fff;
        text-decoration: none;
        .balloon {
          position: absolute;
          background: #4a90e2;
          border-radius: 7px;
          padding: 0 3px;
          line-height: 12px;
          font-size: 8px;
          min-width: 6px;
          text-align: center;
          color: #fff;
          top: 6px;
          left: 39px;
          &.cart {
            background: $thePink1;
          }
        }
        &:hover {
          color: $thePink1;
          .element {
            @include sprite-position($icon-element-selected);
          }
          .cart {
            @include sprite-position($icon_cart_selected);
          }
          .account {
            @include sprite-position($icon_account_selected);
          }
          .notice {
            @include sprite-position($icon_notice_selected);
          }
        }
        .icon {
          height: 20px;
          width: 20px;
          display: inline-block;
          vertical-align: -4px;
          margin: 0 10px 0 0;
        }
        .element {
          @include sprite-position($icon-element);
        }
        .cart {
          @include sprite-position($icon-cart);
        }
        .account {
          @include sprite-position($icon-account);
        }
        .notice {
          @include sprite-position($icon-notice);
        }
      }
      .dropdown {
        z-index: 10;
        background: #fff;
        position: absolute;
        right: 20px;
        top: 58px;
        box-shadow: 0 5px 30px rgba(0, 0, 0, .1);
        border: solid 1px #e0e0e0;
        border-radius: 2px;
        padding: 0;
        &:before {
          top: -6px;
          right: 20px;
          border-style: solid;
          border-color: #e0e0e0 #fff #fff #e0e0e0;
          border-width: 1px;
          content: ' ';
          display: block;
          height: 10px;
          width: 10px;
          background: #fff;
          position: absolute;
          @include transform(rotate(45deg));
        }
        .list {
          padding: 5px 0;
          a {
            display: block;
            color: $theGray3;
            text-decoration: none;
            font-size: 12px;
            padding: 12px 30px;
            line-height: 12px;
            white-space: nowrap;
            text-align: center;
            &:hover {
              color: $thePink1;
            }
          }
        }
        .checkout-list {
          .goods {
            border-bottom: solid 1px #e0e0e0;
            @include clearfix;
            padding: 3px;
            .icon {
              width: 60px;
              height: 60px;
              border: medium none;
              background: #999;
              border-radius: 4px;
              float: left;
              margin: 5px
            }
            .info {
              zoom: 1;
              overflow: hidden;
              padding: 5px;
              .title {
                padding: 6px 0 0 0;
                color: $theGray3;
                font-size: 12px;
                display: block;
                line-height: 24px;
              }
              .name {
                font-size: 11px;
                color: $theGray4;
                display: block;
                line-height: 24px;
                padding: 0 0 6px 0;
              }
              .price {
                padding: 6px 10px 0 0;
                float: right;
                font-size: 11px;
                color: $theGray4;
                line-height: 24px;
              }
            }
          }
          .buttons {
            white-space: nowrap;
            font-size: 0;
            line-height: 0;
            padding: 6px;
            a {
              display: inline-block;
              font-size: 12px;
              line-height: 12px;
              text-decoration: none;
              box-sizing: border-box;
              color: $thePink1;
              &.checkout {
                background: $thePink1;
                color: #fff;
                font-size: 12px;
                height: 22px;
                line-height: 22px;
                border-radius: 11px;
                padding: 0 16px;
              }
              &.continue,
              &.subtotal {
                margin: 0 8px;
              }
            }
          }
        }
      }
    }
  }
}