#personal-title {
  color: $theGray3;
  font-size: 30px;
  line-height: 40px;
  border-bottom: solid 1px $theGray3;
  height: 20px;
  margin: 60px auto;
  width: 70%;
  text-align: center;
  span {
    display: inline-block;
    padding: 0 35px;
    background: $theGray9;
  }
}

#upload-more {
  text-align: right;
  margin: 15px 0;
  line-height: 24px;
  a {
    color: $thePink1;
    font-size: 16px;
  }
}

#products-table {
  border: solid 1px $theGray5;
  border-radius: 4px;
  background: #fff;
  width: 100%;
  border-collapse: collapse;
  th {
    font-size: 16px;
    color: $theGray3;
    font-weight: normal;
    padding: 14px;
    border-bottom: solid 1px $theGray5;
  }
  td {
    position: relative;
    padding: 20px;
    &:after {
      content: '';
      height: 1px;
      background: $theGray5;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &:first-child {
      &:after {
        left: 20px;
      }
    }
    &:last-child {
      &:after {
        right: 20px;
      }
    }
  }
  .product-table-major {
    width: 30%;
  }
  .product-major {
    .thumbnail {
      height: 100px;
      width: 100px;
      border-radius: 4px;
      float: left;
    }
    .product-info {
      zoom: 1;
      overflow: hidden;
      padding: 0 20px;
      .product-title {
        font-size: 20px;
        line-height: 40px;
      }
      .product-date,
      .product-follow {
        color: $theGray7;
        font-size: 14px;
        line-height: 30px;
      }
      .product-follow {
        .icon {
          display: inline-block;
          &.eye {
            vertical-align: -6px;
            width: 21px;
            height: 21px;
            @include sprite-position($icon-eye);
          }
          &.favor-selected {
            width: 16px;
            height: 16px;
            vertical-align: -3px;
            @include sprite-position($icon-favor-selected);
          }
        }
      }
    }
  }
  .product-table-status {
    font-size: 20px;
    text-align: center;
  }
  .product-table-price {
    font-size: 18px;
    text-align: center;

  }
  .product-table-actions {
    text-align: center;
    a {
      font-size: 18px;
      color: $theGray4;
      text-decoration: none;
    }
  }

}