.project-process2 {
  width: 940px;
  margin-bottom: 50px;
  > h2 {
    font-weight: normal;
    color: $theGray3;
    font-size: 24px;
    margin: 40px 0 30px 0;
  }
  > h3 {
    border-left: solid 4px $thePink1;
    color: $theGray3;
    font-weight: normal;
    margin: 30px 0;
    padding: 2px 10px;
    font-size: 14px;
    a {
      float: right;
      color: $thePink1;
      text-decoration: underline;
    }
  }
  > h4 {
    font-weight: normal;
    font-size: 14px;
    color: $theGray3;
    margin: 20px 0;
  }
  > hr {
    height: 0;
    background: transparent;
    color: transparent;
    border-bottom: solid 1px $theGray4;
    margin: 30px 0;
    &.dashed {
      border-bottom: dashed 1px $theGray4 !important;
    }
  }
  .requirements {
    font-size: 14px;
    @include nolist;
    @include clearfix;
    br {
      clear: both;
      height: 0;
      font-size: 0;
    }
    li {
      float: left;
      color: $theGray3;
      margin: 15px 70px 15px 0;
      label {
        display: inline-block;
        margin-right: 20px;
      }
      span {
        display: inline-block;
        color: $theGray4;
      }
    }
  }
  .steps {
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 14px;
    margin: 0 -40px;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      left: 40px;
      right: 40px;
      bottom: 0;
      background: $theGray4;
    }
    li {
      padding: 12px 0;
      margin: 0 40px;
      color: $theGray3;
      &.selected {
        color: $thePink1;
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          height: 2px;
          left: 0;
          right: 0;
          bottom: 0;
          background: $thePink1;
          z-index: 2;
        }
      }
    }
  }
  .photos {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 -5px;
    flex-wrap: wrap;
    li {
      padding: 0;
      margin: 5px;
      flex: 0 0 calc(33.3333% - 10px);
      position: relative;
      &.editable:hover {
        &:after {
          content: 'Delete';
          color: #fff;
          text-align: center;
          font-size: 12px;
          line-height: 26px;
          background: rgba(234, 98, 100, .75);
          border-radius: 0 0 4px 4px;
          position: absolute;
          height: 26px;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
      }
      &.add {
        background: white;
        border-radius: 4px;
        text-align: center;
        .icon.plus {
          height: 47px;
          width: 47px;
          display: block;
          margin: 50px auto 0 auto;
          @include sprite-position($icon-plus);
        }
        div {
          color: #b0b0b0;
          margin: 20px 0 0 0;
        }
      }
    }
  }
  .tips {
    &.center {
      text-align: center;
    }
    color: #9b9b9b;
    font-size: 12px;
    .icon {
      display: inline-block;
      &.arrow-up,
      &.arrow-down {
        vertical-align: 2px;
        margin: 0 0 0 6px;
        height: 4px;
        width: 10px;
        line-height: 22px;
      }
      &.arrow-down {
        @include sprite-position($icon-arrow-down);
      }
      &.arrow-up {
        @include sprite-position($icon-arrow-up);
      }
      &.checkbox,
      &.checkbox-selected {
        vertical-align: -2px;
        margin: 0 6px 0 0;
        height: 14px;
        width: 14px;
        line-height: 22px;
      }
      &.checkbox {
        @include sprite-position($icon-checkbox);
      }
      &.checkbox-selected {
        @include sprite-position($icon-checkbox-selected);
      }
    }
  }
  .description {
    p {
      font-size: 14px;
      color: $theGray4;
      line-height: 20px;
    }
  }
  .item-line {
    color: $theGray3;
    margin: 20px 70px 20px 0;
    font-size: 14px;
    label {
      display: inline-block;
      margin-right: 20px;
    }
    span {
      display: inline-block;
      color: $theGray4;
      margin-right: 20px;
    }
  }
  .clock-wrap {
    line-height: 35px;
    text-align: center;
    margin: 50px 0;
    color: $theGray3;
    font-size: 14px;
    .icon.clock {
      @include sprite-position($icon-clock);
      height: 35px;
      width: 35px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
    }
    .time {
      font-size: 18px;
      color: $thePink1;
    }
  }
  .next-btn {
    background: $theGray6;
    line-height: 46px;
    border-radius: 23px;
    padding: 0 10px;
    font-size: 14px;
    color: #fff;
    margin: 60px auto 30px auto;
    cursor: pointer;
    border: none medium;
    display: block;
    width: 170px;
    &.enabled {
      background: $thePink1;
    }
  }
  .response-table-wrap {
    table {
      color: $theGray3;
      font-size: 14px;
      width: 100%;
      th {
        padding: 20px 0;
      }
      td {
        padding: 5px 0;
      }
      th, td {
        border: medium none;
        font-weight: normal;
        text-align: center;
      }
      .model-th {
        width: 10%;
      }
      .album-th {
        width: 10%;
      }
      .rmi-th,
      .time-th,
      .price-th {
        width: 26.66%;
      }
      img {
        height: 70px;
        width: 105px;
        border-radius: 2px;
      }
    }
  }
  .results-table-wrap {
    table {
      color: $theGray3;
      font-size: 14px;
      width: 100%;
      th, td {
        border: medium none;
        font-weight: normal;
        text-align: center;
      }
      th {
        padding: 20px 0;
        &.artist-th {
          width: 8%;
        }
        &.rate-th {
          width: 14%;
        }
      }
      td {
        text-align: center;
        padding: 5px 0;
        img {
          width: 100px;
          height: 70px;
        }
        .icon {
          height: 20px;
          width: 20px;
          display: inline-block;
          vertical-align: -4px;
          &.star {
            @include sprite-position($icon-star);
          }
          &.star-twinkle {
            @include sprite-position($icon-star-twinkle);
          }
        }
      }
    }
  }
  .order-table-wrap {
    table {
      color: $theGray3;
      font-size: 14px;
      width: 100%;
      th, td {
        border: medium none;
        font-weight: normal;
        text-align: center;
      }
      th {
        padding: 20px 0;
        &.artist-th {
          width: 6%;
        }
        &.album-th,
        &.portfolio-th {
          width: 14%;
        }
      }
      td {
        text-align: center;
        padding: 5px 0;
        img {
          width: 100px;
          height: 70px;
        }
        .icon {
          height: 20px;
          width: 20px;
          display: inline-block;
          vertical-align: -4px;
          &.star {
            @include sprite-position($icon-star);
          }
          &.star-twinkle {
            @include sprite-position($icon-star-twinkle);
          }
        }
      }
    }
  }
  .payment-way {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    li {
      height: 160px;
      width: 160px;
      background: #fff;
      border-radius: 4px;
      border: solid 1px $theGray8;
      margin: 0 50px;
      .icon {
        display: block;
        margin: 64px auto 0 auto;
        &.creditcard {
          height: 42px;
          width: 66px;
          @include sprite-position($icon-creditcard);
        }
        &.alipay {
          height: 39px;
          width: 107px;
          @include sprite-position($icon-alipay);
        }
        &.paypal {
          height: 36px;
          width: 120px;
          @include sprite-position($icon-paypal);
        }
      }
    }
  }
  .line {
    position: relative;
    margin: 30px 0;
    line-height: 30px;
    display: flex;
    input[type=text] {
      border: solid 1px $theGray10;
      border-radius: 2px;
      padding: 0 10px;
      line-height: 30px;
      font-size: 14px;
      box-sizing: border-box;
      color: $theGray3;
      flex: 0;
      &.period,
      &.country,
      &.area-code,
      &.phone-code {
        flex: 0;
        margin: 0 6px 0 0;
      }
      &.period {
        width: 140px;
      }
      &.country {
        width: 120px;
      }
      &.area-code {
        width: 70px;
      }
      &.phone-code {
        width: 180px;
      }
    }
    & > label {
      font-size: 14px;
      color: $theGray3;
      padding: 0 20px 0 0;
      text-align: right;
    }
    > .options {
      flex: 1;
      display: flex;
      font-size: 14px;
      margin: 0 -12px;
      box-sizing: border-box;
      > .option {
        box-sizing: border-box;
        border: solid 1px #9b9b9b;
        margin: 0 12px;
        padding: 0 30px;
        border-radius: 2px;
        text-align: center;
        color: #9b9b9b;
        &.selected {
          background: $thePink1;
          border: solid 1px $thePink1;
          color: white;
        }
      }
    }
    .browse {
      color: $thePink1;
      text-decoration: underline;
      padding: 0 20px;
      font-size: 14px;
    }
    span {
      color: $theGray3;
      padding: 0 20px;
      font-size: 14px;
    }
    #change-btn,
    #cancel-btn,
    #save-btn {
      border: solid 1px $thePink1;
      color: $thePink1;
      border-radius: 23px;
      background: transparent;
      padding: 0 50px;
      font-size: 14px;
      line-height: 46px;
      cursor: pointer;
    }
    #cancel-btn,
    #save-btn {
      margin: 0 30px;
    }
    #change-btn {
      margin: 36px 0;
      float: left;
    }
  }
  .skipped {
    font-size: 18px;
    color: $theGray3;
    text-align: center;
    padding: 160px 0;
  }
  textarea.description {
    line-height: 20px;
    font-size: 14px;
    padding: 10px;
    border: solid 1px $theGray10;
    border-radius: 2px;
    background: white;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    height: 180px;
    color: $theGray3;
  }
  .review-btns {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    button {
      line-height: 46px;
      border-radius: 23px;
      padding: 0 10px;
      font-size: 14px;
      color: #fff;
      margin: 0 30px;
      cursor: pointer;
      border: none medium;
      display: block;
      width: 170px;
    }
    .confirm-btn {
      background: $thePink1;
    }
    .report-btn {
      background: $theGreen1;
    }
  }
  .schedule-wrap {
    display: flex;
    margin: 0 -10px;
    .chat {
      width: 50%;
      background: #fff;
      border-radius: 2px;
      padding: 0;
      margin: 0 10px;
      &:before {
        top: -6px;
        right: 16px;
        border-style: solid;
        border-color: #e0e0e0 #fff #fff #e0e0e0;
        border-width: 1px;
        content: ' ';
        display: block;
        height: 10px;
        width: 10px;
        background: #fff;
        position: absolute;
        @include transform(rotate(45deg));
      }
      h3 {
        font-size: 16px;
        line-height: 24px;
        font-weight: normal;
        color: $theBlue4;
        margin: 0;
        padding: 8px 16px;
        border-bottom: solid 1px #e0e0e0;
      }
      ul {
        padding: 16px;
        margin: -20px 0;
        list-style: none;
        li {
          padding: 0;
          margin: 20px 0;
          @include clearfix;
          .portrait {
            height: 38px;
            width: 38px;
            border-radius: 19px;
            float: left;
          }
          .cork {
            overflow: hidden;
            zoom: 1;
            padding: 0 0 0 10px;
            margin: 0;
            .msg {
              position: relative;
              background: $theBlue4;
              border-radius: 4px;
              color: #fff;
              font-size: 12px;
              line-height: 18px;
              padding: 8px 12px;
              &:before {
                left: -5px;
                top: 10px;
                content: ' ';
                display: block;
                height: 10px;
                width: 10px;
                background: $theBlue4;
                position: absolute;
                @include transform(rotate(45deg));
              }
            }
            .datetime {
              font-size: 8px;
              color: $theGray8;
              display: block;
              line-height: 16px;
            }
          }
          &.right {
            .portrait {
              float: right;
            }
            .cork {
              padding: 0 10px 0 0;
              .msg {
                background: $theGray4;
                &:before {
                  right: -5px;
                  top: 10px;
                  left: auto;
                  background: $theGray4;
                }
              }
            }
          }
        }
      }
      .chat-form {
        border-top: solid 1px $theGray8;
        padding: 16px;
        display: flex;
        input[type=text] {
          line-height: 30px;
          border-radius: 15px;
          border: solid 1px $theGray8;
          padding: 0 16px;
          margin: 0;
          font-size: 14px;
          color: $theGray3;
          box-sizing: border-box;
          flex: 1 0 auto;
          @include placeholder {
            color: $theGray8;
          }
        }
        input[type=button] {
          line-height: 30px;
          border-radius: 15px;
          border: solid 1px $theBlue4;
          background: $theBlue4;
          padding: 0 16px;
          margin: 0 0 0 10px;
          flex: 0 0 0;
          color: white;
          font-size: 14px;
          box-sizing: border-box;
        }
      }
    }
    .calendar {
      margin: 0 10px;
      width: 50%;
      background: white;
      h4 {
        color: $theGray3;
        text-align: center;
        display: flex;
        margin: 0;
        line-height: 24px;
        font-weight: normal;
        label {
          flex: 1 0 auto;
          padding: 15px 20px;
          font-size: 16px;
        }
        span {
          font-size: 24px;
          padding: 16px 20px;
        }
        border-bottom: solid 1px $theGray5;
      }
      table {
        color: $theGray3;
        font-size: 14px;
        width: 100%;
        th, td {
          padding: 12px 0;
          font-weight: normal;
          width: 14.28%;
          text-align: center;
        }
        td {
          background: #fbfbfb;
          &.selected {
            background: $thePink1;
            color: white;
          }
          &.disabled {
            color: $theGray4;
          }
        }
      }
      .info-wrap {
        padding: 10px 0;
        .info {
          font-size: 14px;
          color: $theGray3;
          line-height: 24px;
          padding: 0 10px;
          label {
            margin-right: 10px;
          }
          span {
            color: $theGray4;
            &.left-time {
              color: $thePink1;
            }
          }
        }
      }
    }
  }
  > h5 {
    font-size: 14px;
    color: $theGray3;
    font-weight: normal;
    margin: 20px 0;
  }
  .line-fill {
    color: $theGray3;
    font-size: 14px;
    margin: 20px 0;
    @include clearfix;
    .underline {
      text-decoration: underline;
    }
    .due-day {
      color: $thePink1;
    }
    .right {
      float: right;
    }
  }
  .nothing {
    padding: 50px 0;
    font-size: 14px;
    color: $theGray3;
    text-align: center;
  }
  .projects-list {
    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      > li {
        &:last-child {
          border-bottom: none medium;
        }
        border-bottom: solid 1px $theGray5;
        margin: 30px 0 0 0;
        padding: 0 0 30px 0;
        > .list-card {
          border-radius: 4px;
          background: white;
          border: solid 1px $theGray5;
          display: flex;
          padding: 7px;
          img {
            height: 140px;
            width: 140px;
            border-radius: 4px;
          }
          .project-list-text {
            color: $theGray3;
            font-size: 14px;
            flex: 1;
            .list-line1 {
              height: 45px;
              line-height: 45px;
              margin: 0 20px 0 30px;
              @include clearfix;
              label {
                font-size: 18px;
              }
              span {
                float: right;
              }
            }
            .list-info {
              height: 45px;
              line-height: 45px;
              font-size: 14px;
              margin: 0 20px 0 30px;
            }

            a.list-info {
              color: $thePink1;
            }
            .list-info2 {
              height: 45px;
              line-height: 45px;
              font-size: 14px;
              margin: 0 20px 0 30px;
              span {
                margin-left: 10px;
                display: inline-block;
                color: $theGray6;
              }
            }
            .list-line2 {
              height: 45px;
              line-height: 45px;
              margin: 0 20px 0 30px;
              @include clearfix;
              span {
                color: $theGray6;
              }
            }
            .list-line3 {
              height: 45px;
              line-height: 45px;
              margin: 0 20px 0 30px;
              @include clearfix;
              .left {
                float: left;
              }
              .right {
                float: right;
              }
              .left, .right {
                span {
                  color: $theGray6;
                  margin-left: 10px;
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
  .add-image {
    background: white;
    border-radius: 4px;
    text-align: center;
    padding: 0;
    margin: 5px;
    list-style: none;
    margin: 0 -5px;
    width: 300px;
    height: 190px;
    .icon.plus {
      height: 47px;
      width: 47px;
      display: block;
      margin: 50px auto 0 auto;
      @include sprite-position($icon-plus);
    }
    div {
      color: #b0b0b0;
      margin: 20px 0 0 0;
    }
  }
  .tips-center {
    color: $theGray3;
    font-size: 14px;
    text-align: center;
    .icon {
      display: inline-block;
      &.arrow-up,
      &.arrow-down {
        vertical-align: 2px;
        margin: 0 0 0 6px;
        height: 4px;
        width: 10px;
        line-height: 22px;
      }
      &.arrow-down {
        @include sprite-position($icon-arrow-down);
      }
      &.arrow-up {
        @include sprite-position($icon-arrow-up);
      }
      &.checkbox,
      &.checkbox-selected {
        vertical-align: -1px;
        margin: 0 6px 0 0;
        height: 14px;
        width: 14px;
        line-height: 22px;
      }
      &.checkbox {
        @include sprite-position($icon-checkbox);
      }
      &.checkbox-selected {
        @include sprite-position($icon-checkbox-selected);
      }
    }
  }
  #save-draft-btn {
    text-decoration: underline;
    font-size: 14px;
    margin: 10px auto;
    cursor: pointer;
    border: none medium;
    display: block;
    color: $thePink1;
    text-align: center;
  }
  .download-btn {
    background: $thePink1;
    line-height: 30px;
    border-radius: 23px;
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    border: none medium;
    display: inline-block;
    margin: 0 0 0 20px;
  }
  .inline-inputs {
    font-size: 14px;
    @include nolist;
    @include clearfix;
    br {
      clear: both;
      height: 0;
      font-size: 0;
    }
    li {
      float: left;
      color: $theGray3;
      margin: 15px 70px 15px 0;
      label {
        display: inline-block;
        margin-right: 10px;
      }
      input[type=text] {
        border: solid 1px $theGray10;
        border-radius: 2px;
        padding: 0 10px;
        line-height: 30px;
        font-size: 14px;
        box-sizing: border-box;
        color: $theGray3;
        flex: 0;
        &.period,
        &.country,
        &.area-code,
        &.phone-code {
          flex: 0;
          margin: 0 6px 0 0;
        }
        &.period {
          width: 140px;
        }
        &.country {
          width: 120px;
        }
        &.area-code {
          width: 70px;
        }
        &.phone-code {
          width: 180px;
        }
      }
      span {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
  .not-audit {
    padding: 20px 0;
    font-size: 14px;
    color: $theGray3;
    text-align: center;
  }
  .trial-label {
    color: $theGray3;
    text-align: center;
    margin: 30px 0;
    font-size: 14px;
    .icon {
      display: inline-block;
      margin-right: 5px;
      &.waiting {
        @include sprite-position($icon-waiting);
        width: 20px;
        height: 34px;
        vertical-align: -10px;
      }
      &.crying {
        @include sprite-position($icon-crying);
        width: 42px;
        height: 42px;
        vertical-align: -14px;
      }
      &.congratulations {
        @include sprite-position($icon-congratulations);
        width: 34px;
        height: 36px;
        vertical-align: -10px;
      }
    }
  }
  .stars {
    text-align: center;
    margin: 30px 0;
    .icon {
      height: 20px;
      width: 20px;
      display: inline-block;
      vertical-align: -4px;
      &.star {
        @include sprite-position($icon-star);
      }
      &.star-twinkle {
        @include sprite-position($icon-star-twinkle);
      }
    }
  }
  .review-result-detail {
    display: flex;
    border: solid 1px $theGray4;
    padding: 40px 0;
    margin: 20px 0;
    border-radius: 4px;
    > div {
      font-size: 14px;
      color: $theGray3;
      flex: 1;
      text-align: center;
      label {
        display: inline-block;
        margin-right: 10px;
      }
      span {
        .icon {
          height: 20px;
          width: 20px;
          display: inline-block;
          vertical-align: -4px;
          &.star {
            @include sprite-position($icon-star);
          }
          &.star-twinkle {
            @include sprite-position($icon-star-twinkle);
          }
        }
      }
    }
  }
}
