.container.publish {
  margin: 20px auto;
  & > .grid {
    margin: 0 -5px;
    & > .column {
      width: 50%;
      padding: 0 5px;
      //$leftWidth: .75;
      &.left {
        //width: percentage($leftWidth);
        zoom: 1;
        overflow: hidden;
        float: none;
        width: auto;
      }
      &.right {
        //width: percentage(1 - $leftWidth);
        width: 300px;
        float: right;
      }
      & > .cell {
        background: #ff0;
        height: 300px;
      }
    }
  }
}

#upload-form {
  h2 {
    color: $theGray3;
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0;
  }
  hr {
    height: 1px;
    border: medium none;
    background: $theGray8;
    margin: 40px 0;
  }
  #upload-images-wrap {
    overflow: hidden;
    margin: 40px 0;
    #upload-images {
      list-style: none;
      padding: 0;
      margin: -24px;
      @include clearfix;
      li {
        float: left;
        margin: 24px;
        background: #fff;
        border: solid 1px $theGray5;
        border-radius: 4px;
        padding: 0;
        cursor: pointer;
        height: 180px;
        width: 180px;
        position: relative;
        .icon.plus {
          height: 47px;
          width: 47px;
          display: block;
          margin: 67px auto;
          @include sprite-position($icon-plus);
        }
        img {
          display: block;
          height: 164px;
          width: 164px;
          margin: 8px auto;
        }
      }
    }
  }
  #upload-choose-file-wrap {
    text-align: center;
    margin: 30px 0;
    #upload-choose-file {
      line-height: 44px;
      font-size: 16px;
      border-radius: 22px;
      border: solid 1px $thePink1;
      color: $thePink1;
      padding: 0 90px;
      background: none;
      cursor: pointer;
    }
  }
  .progress {
    height: 10px;
    border-radius: 6px;
    border: solid 1px $theGray5;
    background: #fff;
    .value {
      background: $thePink1;
      height: 10px;
      border-radius: 5px;
      box-shadow: 0 3px 20px rgba(234, 98, 100, .7);
    }
  }
  #upload-progress-wrap {
    text-align: center;
    #upload-progress {
      margin: 0 auto;
      width: 70%;
    }
    .icon.upload-giant {
      height: 50px;
      width: 60px;
      margin: 20px auto;
      display: block;
      @include sprite-position($icon-upload-giant);
    }
    label {
      display: block;
      color: $thePink1;
      font-size: 16px;
      line-height: 16px;
      margin: 20px 0 0 0;
    }
  }
}

#product-form {
  border-radius: 4px;
  background: #fff;
  border: solid 1px $theGray5;
  padding: 16px;
  hr {
    border: medium none;
    height: 1px;
    background: $theGray8;
    margin: 25px 0;
  }
  #product-price-wrap {
    padding: 0 20px;
  }
  .monopoly {
    line-height: 34px;
    margin: 10px 0;
  }
  .align-center {
    text-align: center;
  }
  #watermark-label-wrap {
    line-height: 16px;
    padding: 0 0 0 10px;
    label {
      color: $theGray6;
      font-size: 12px;
    }
  }
  #product-watermark {
    margin: 8px 0 0 0;
  }
  #product-license-label > sup {
    color: $thePink1;
  }
  & > .grid {
    margin: 0 -8px;
    & > .column {
      padding: 0 8px;
    }
  }
  .icon.checkbox,
  .icon.radio {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: -4px;
    margin: 0 5px 0 0;
  }
  .icon {
    &.checkbox {
      @include sprite-position($icon-checkbox-large);
      &.selected {
        @include sprite-position($icon-checkbox-large-selected);
      }
    }
    &.radio {
      @include sprite-position($icon-radio-large);
      &.selected {
        @include sprite-position($icon-radio-large-selected);
      }
    }
  }
  .line {
    color: $theGray3;
    line-height: 34px;
    font-size: 16px;
    &.justify {
      @include clearfix;
      .item:first-child {
        float: left;
      }
      .item:last-child {
        float: right;
      }
    }
    &.fill {
      & > *:first-child {
        float: left;
      }
      & > *:nth-child(2) {
        float: right;
      }
      & > *:last-child {
        float: none;
        zoom: 1;
        overflow: hidden;
        & > * {
          display: block;
        }
      }
    }
    input {
      font-size: 16px;
      margin: 0 !important;
    }
    .item {
      line-height: 34px;
      display: inline-block;
      label {
        padding: 0;
        margin: 0;
      }
    }
    label {
      font-size: 16px;
      display: inline !important;
      padding: 0;
      margin: 0;
    }
    input {
      display: inline-block !important;
    }
  }
  label {
    display: block;
    color: $theGray3;
    font-size: 16px;
    margin: 10px 0;
    .icon {
      height: 18px;
      width: 18px;
      display: inline-block;
      &.polygons {
        @include sprite-position($icon_polygons);
      }
      &.vertices {
        @include sprite-position($icon_vertices);
      }
    }
  }
  input[type=text],
  input[type=submit],
  textarea {
    margin: 10px 0;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: medium none;
    resize: none;
    font-size: 12px;
    color: $theGray3;
    padding: 0 10px;
    @include placeholder {
      color: $theGray8;
    }
  }
  input[type=text],
  textarea {
    line-height: 34px;
    border: solid 1px $theGray10;
    border-radius: 2px;
  }
  #product-form-submit {
    background: $thePink1;
    line-height: 46px;
    border-radius: 23px;
    box-shadow: 0 5px 30px rgba(234, 98, 100, 1);
    padding: 0 10px;
    font-size: 16px;
    color: #fff;
    margin: 10px 0 20px 0;
    cursor: pointer;
    &:disabled {
      background: $theGray8;
      box-shadow: none;
    }
  }
  textarea {
    line-height: 18px;
    padding: 10px;
    height: 130px;
  }
}