/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-account-name: 'icon_account';
$icon-account-x: 20px;
$icon-account-y: 217px;
$icon-account-offset-x: -20px;
$icon-account-offset-y: -217px;
$icon-account-width: 20px;
$icon-account-height: 20px;
$icon-account-total-width: 262px;
$icon-account-total-height: 257px;
$icon-account-image: '../images/sprite@1x.png';
$icon-account: (20px, 217px, -20px, -217px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_account', );
$icon-account-selected-name: 'icon_account_selected';
$icon-account-selected-x: 80px;
$icon-account-selected-y: 217px;
$icon-account-selected-offset-x: -80px;
$icon-account-selected-offset-y: -217px;
$icon-account-selected-width: 20px;
$icon-account-selected-height: 20px;
$icon-account-selected-total-width: 262px;
$icon-account-selected-total-height: 257px;
$icon-account-selected-image: '../images/sprite@1x.png';
$icon-account-selected: (80px, 217px, -80px, -217px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_account_selected', );
$icon-alert-name: 'icon_alert';
$icon-alert-x: 156px;
$icon-alert-y: 126px;
$icon-alert-offset-x: -156px;
$icon-alert-offset-y: -126px;
$icon-alert-width: 12px;
$icon-alert-height: 12px;
$icon-alert-total-width: 262px;
$icon-alert-total-height: 257px;
$icon-alert-image: '../images/sprite@1x.png';
$icon-alert: (156px, 126px, -156px, -126px, 12px, 12px, 262px, 257px, '../images/sprite@1x.png', 'icon_alert', );
$icon-alipay-name: 'icon_alipay';
$icon-alipay-x: 76px;
$icon-alipay-y: 36px;
$icon-alipay-offset-x: -76px;
$icon-alipay-offset-y: -36px;
$icon-alipay-width: 107px;
$icon-alipay-height: 39px;
$icon-alipay-total-width: 262px;
$icon-alipay-total-height: 257px;
$icon-alipay-image: '../images/sprite@1x.png';
$icon-alipay: (76px, 36px, -76px, -36px, 107px, 39px, 262px, 257px, '../images/sprite@1x.png', 'icon_alipay', );
$icon-arrow-down-name: 'icon_arrow_down';
$icon-arrow-down-x: 243px;
$icon-arrow-down-y: 85px;
$icon-arrow-down-offset-x: -243px;
$icon-arrow-down-offset-y: -85px;
$icon-arrow-down-width: 10px;
$icon-arrow-down-height: 4px;
$icon-arrow-down-total-width: 262px;
$icon-arrow-down-total-height: 257px;
$icon-arrow-down-image: '../images/sprite@1x.png';
$icon-arrow-down: (243px, 85px, -243px, -85px, 10px, 4px, 262px, 257px, '../images/sprite@1x.png', 'icon_arrow_down', );
$icon-bank-card-name: 'icon_bank_card';
$icon-bank-card-x: 187px;
$icon-bank-card-y: 171px;
$icon-bank-card-offset-x: -187px;
$icon-bank-card-offset-y: -171px;
$icon-bank-card-width: 24px;
$icon-bank-card-height: 17px;
$icon-bank-card-total-width: 262px;
$icon-bank-card-total-height: 257px;
$icon-bank-card-image: '../images/sprite@1x.png';
$icon-bank-card: (187px, 171px, -187px, -171px, 24px, 17px, 262px, 257px, '../images/sprite@1x.png', 'icon_bank_card', );
$icon-cart-name: 'icon_cart';
$icon-cart-x: 140px;
$icon-cart-y: 217px;
$icon-cart-offset-x: -140px;
$icon-cart-offset-y: -217px;
$icon-cart-width: 20px;
$icon-cart-height: 20px;
$icon-cart-total-width: 262px;
$icon-cart-total-height: 257px;
$icon-cart-image: '../images/sprite@1x.png';
$icon-cart: (140px, 217px, -140px, -217px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_cart', );
$icon-cart-selected-name: 'icon_cart_selected';
$icon-cart-selected-x: 0px;
$icon-cart-selected-y: 217px;
$icon-cart-selected-offset-x: 0px;
$icon-cart-selected-offset-y: -217px;
$icon-cart-selected-width: 20px;
$icon-cart-selected-height: 20px;
$icon-cart-selected-total-width: 262px;
$icon-cart-selected-total-height: 257px;
$icon-cart-selected-image: '../images/sprite@1x.png';
$icon-cart-selected: (0px, 217px, 0px, -217px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_cart_selected', );
$icon-check-name: 'icon_check';
$icon-check-x: 222px;
$icon-check-y: 135px;
$icon-check-offset-x: -222px;
$icon-check-offset-y: -135px;
$icon-check-width: 26px;
$icon-check-height: 26px;
$icon-check-total-width: 262px;
$icon-check-total-height: 257px;
$icon-check-image: '../images/sprite@1x.png';
$icon-check: (222px, 135px, -222px, -135px, 26px, 26px, 262px, 257px, '../images/sprite@1x.png', 'icon_check', );
$icon-check-selected-name: 'icon_check_selected';
$icon-check-selected-x: 196px;
$icon-check-selected-y: 135px;
$icon-check-selected-offset-x: -196px;
$icon-check-selected-offset-y: -135px;
$icon-check-selected-width: 26px;
$icon-check-selected-height: 26px;
$icon-check-selected-total-width: 262px;
$icon-check-selected-total-height: 257px;
$icon-check-selected-image: '../images/sprite@1x.png';
$icon-check-selected: (196px, 135px, -196px, -135px, 26px, 26px, 262px, 257px, '../images/sprite@1x.png', 'icon_check_selected', );
$icon-checkbox-name: 'icon_checkbox';
$icon-checkbox-x: 248px;
$icon-checkbox-y: 135px;
$icon-checkbox-offset-x: -248px;
$icon-checkbox-offset-y: -135px;
$icon-checkbox-width: 14px;
$icon-checkbox-height: 14px;
$icon-checkbox-total-width: 262px;
$icon-checkbox-total-height: 257px;
$icon-checkbox-image: '../images/sprite@1x.png';
$icon-checkbox: (248px, 135px, -248px, -135px, 14px, 14px, 262px, 257px, '../images/sprite@1x.png', 'icon_checkbox', );
$icon-checkbox-dark-name: 'icon_checkbox_dark';
$icon-checkbox-dark-x: 248px;
$icon-checkbox-dark-y: 149px;
$icon-checkbox-dark-offset-x: -248px;
$icon-checkbox-dark-offset-y: -149px;
$icon-checkbox-dark-width: 12px;
$icon-checkbox-dark-height: 12px;
$icon-checkbox-dark-total-width: 262px;
$icon-checkbox-dark-total-height: 257px;
$icon-checkbox-dark-image: '../images/sprite@1x.png';
$icon-checkbox-dark: (248px, 149px, -248px, -149px, 12px, 12px, 262px, 257px, '../images/sprite@1x.png', 'icon_checkbox_dark', );
$icon-checkbox-dark-selected-name: 'icon_checkbox_dark_selected';
$icon-checkbox-dark-selected-x: 168px;
$icon-checkbox-dark-selected-y: 126px;
$icon-checkbox-dark-selected-offset-x: -168px;
$icon-checkbox-dark-selected-offset-y: -126px;
$icon-checkbox-dark-selected-width: 12px;
$icon-checkbox-dark-selected-height: 12px;
$icon-checkbox-dark-selected-total-width: 262px;
$icon-checkbox-dark-selected-total-height: 257px;
$icon-checkbox-dark-selected-image: '../images/sprite@1x.png';
$icon-checkbox-dark-selected: (168px, 126px, -168px, -126px, 12px, 12px, 262px, 257px, '../images/sprite@1x.png', 'icon_checkbox_dark_selected', );
$icon-checkbox-large-name: 'icon_checkbox_large';
$icon-checkbox-large-x: 160px;
$icon-checkbox-large-y: 217px;
$icon-checkbox-large-offset-x: -160px;
$icon-checkbox-large-offset-y: -217px;
$icon-checkbox-large-width: 20px;
$icon-checkbox-large-height: 20px;
$icon-checkbox-large-total-width: 262px;
$icon-checkbox-large-total-height: 257px;
$icon-checkbox-large-image: '../images/sprite@1x.png';
$icon-checkbox-large: (160px, 217px, -160px, -217px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_checkbox_large', );
$icon-checkbox-large-selected-name: 'icon_checkbox_large_selected';
$icon-checkbox-large-selected-x: 242px;
$icon-checkbox-large-selected-y: 109px;
$icon-checkbox-large-selected-offset-x: -242px;
$icon-checkbox-large-selected-offset-y: -109px;
$icon-checkbox-large-selected-width: 20px;
$icon-checkbox-large-selected-height: 20px;
$icon-checkbox-large-selected-total-width: 262px;
$icon-checkbox-large-selected-total-height: 257px;
$icon-checkbox-large-selected-image: '../images/sprite@1x.png';
$icon-checkbox-large-selected: (242px, 109px, -242px, -109px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_checkbox_large_selected', );
$icon-checkbox-selected-name: 'icon_checkbox_selected';
$icon-checkbox-selected-x: 142px;
$icon-checkbox-selected-y: 126px;
$icon-checkbox-selected-offset-x: -142px;
$icon-checkbox-selected-offset-y: -126px;
$icon-checkbox-selected-width: 14px;
$icon-checkbox-selected-height: 14px;
$icon-checkbox-selected-total-width: 262px;
$icon-checkbox-selected-total-height: 257px;
$icon-checkbox-selected-image: '../images/sprite@1x.png';
$icon-checkbox-selected: (142px, 126px, -142px, -126px, 14px, 14px, 262px, 257px, '../images/sprite@1x.png', 'icon_checkbox_selected', );
$icon-creditcard-name: 'icon_creditcard';
$icon-creditcard-x: 196px;
$icon-creditcard-y: 0px;
$icon-creditcard-offset-x: -196px;
$icon-creditcard-offset-y: 0px;
$icon-creditcard-width: 66px;
$icon-creditcard-height: 42px;
$icon-creditcard-total-width: 262px;
$icon-creditcard-total-height: 257px;
$icon-creditcard-image: '../images/sprite@1x.png';
$icon-creditcard: (196px, 0px, -196px, 0px, 66px, 42px, 262px, 257px, '../images/sprite@1x.png', 'icon_creditcard', );
$icon-cross-name: 'icon_cross';
$icon-cross-x: 128px;
$icon-cross-y: 126px;
$icon-cross-offset-x: -128px;
$icon-cross-offset-y: -126px;
$icon-cross-width: 14px;
$icon-cross-height: 14px;
$icon-cross-total-width: 262px;
$icon-cross-total-height: 257px;
$icon-cross-image: '../images/sprite@1x.png';
$icon-cross: (128px, 126px, -128px, -126px, 14px, 14px, 262px, 257px, '../images/sprite@1x.png', 'icon_cross', );
$icon-cross-black-name: 'icon_cross_black';
$icon-cross-black-x: 0px;
$icon-cross-black-y: 0px;
$icon-cross-black-offset-x: 0px;
$icon-cross-black-offset-y: 0px;
$icon-cross-black-width: 76px;
$icon-cross-black-height: 76px;
$icon-cross-black-total-width: 262px;
$icon-cross-black-total-height: 257px;
$icon-cross-black-image: '../images/sprite@1x.png';
$icon-cross-black: (0px, 0px, 0px, 0px, 76px, 76px, 262px, 257px, '../images/sprite@1x.png', 'icon_cross_black', );
$icon-dropdown-name: 'icon_dropdown';
$icon-dropdown-x: 243px;
$icon-dropdown-y: 78px;
$icon-dropdown-offset-x: -243px;
$icon-dropdown-offset-y: -78px;
$icon-dropdown-width: 11px;
$icon-dropdown-height: 7px;
$icon-dropdown-total-width: 262px;
$icon-dropdown-total-height: 257px;
$icon-dropdown-image: '../images/sprite@1x.png';
$icon-dropdown: (243px, 78px, -243px, -78px, 11px, 7px, 262px, 257px, '../images/sprite@1x.png', 'icon_dropdown', );
$icon-element-name: 'icon_element';
$icon-element-x: 240px;
$icon-element-y: 217px;
$icon-element-offset-x: -240px;
$icon-element-offset-y: -217px;
$icon-element-width: 20px;
$icon-element-height: 20px;
$icon-element-total-width: 262px;
$icon-element-total-height: 257px;
$icon-element-image: '../images/sprite@1x.png';
$icon-element: (240px, 217px, -240px, -217px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_element', );
$icon-element-selected-name: 'icon_element_selected';
$icon-element-selected-x: 242px;
$icon-element-selected-y: 89px;
$icon-element-selected-offset-x: -242px;
$icon-element-selected-offset-y: -89px;
$icon-element-selected-width: 20px;
$icon-element-selected-height: 20px;
$icon-element-selected-total-width: 262px;
$icon-element-selected-total-height: 257px;
$icon-element-selected-image: '../images/sprite@1x.png';
$icon-element-selected: (242px, 89px, -242px, -89px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_element_selected', );
$icon-eye-name: 'icon_eye';
$icon-eye-x: 166px;
$icon-eye-y: 171px;
$icon-eye-offset-x: -166px;
$icon-eye-offset-y: -171px;
$icon-eye-width: 21px;
$icon-eye-height: 21px;
$icon-eye-total-width: 262px;
$icon-eye-total-height: 257px;
$icon-eye-image: '../images/sprite@1x.png';
$icon-eye: (166px, 171px, -166px, -171px, 21px, 21px, 262px, 257px, '../images/sprite@1x.png', 'icon_eye', );
$icon-facebook-name: 'icon_facebook';
$icon-facebook-x: 126px;
$icon-facebook-y: 171px;
$icon-facebook-offset-x: -126px;
$icon-facebook-offset-y: -171px;
$icon-facebook-width: 40px;
$icon-facebook-height: 40px;
$icon-facebook-total-width: 262px;
$icon-facebook-total-height: 257px;
$icon-facebook-image: '../images/sprite@1x.png';
$icon-facebook: (126px, 171px, -126px, -171px, 40px, 40px, 262px, 257px, '../images/sprite@1x.png', 'icon_facebook', );
$icon-facebook-share-name: 'icon_facebook_share';
$icon-facebook-share-x: 121px;
$icon-facebook-share-y: 140px;
$icon-facebook-share-offset-x: -121px;
$icon-facebook-share-offset-y: -140px;
$icon-facebook-share-width: 24px;
$icon-facebook-share-height: 24px;
$icon-facebook-share-total-width: 262px;
$icon-facebook-share-total-height: 257px;
$icon-facebook-share-image: '../images/sprite@1x.png';
$icon-facebook-share: (121px, 140px, -121px, -140px, 24px, 24px, 262px, 257px, '../images/sprite@1x.png', 'icon_facebook_share', );
$icon-favor-name: 'icon_favor';
$icon-favor-x: 211px;
$icon-favor-y: 171px;
$icon-favor-offset-x: -211px;
$icon-favor-offset-y: -171px;
$icon-favor-width: 16px;
$icon-favor-height: 16px;
$icon-favor-total-width: 262px;
$icon-favor-total-height: 257px;
$icon-favor-image: '../images/sprite@1x.png';
$icon-favor: (211px, 171px, -211px, -171px, 16px, 16px, 262px, 257px, '../images/sprite@1x.png', 'icon_favor', );
$icon-favor-large-name: 'icon_favor_large';
$icon-favor-large-x: 243px;
$icon-favor-large-y: 60px;
$icon-favor-large-offset-x: -243px;
$icon-favor-large-offset-y: -60px;
$icon-favor-large-width: 18px;
$icon-favor-large-height: 18px;
$icon-favor-large-total-width: 262px;
$icon-favor-large-total-height: 257px;
$icon-favor-large-image: '../images/sprite@1x.png';
$icon-favor-large: (243px, 60px, -243px, -60px, 18px, 18px, 262px, 257px, '../images/sprite@1x.png', 'icon_favor_large', );
$icon-favor-selected-name: 'icon_favor_selected';
$icon-favor-selected-x: 227px;
$icon-favor-selected-y: 171px;
$icon-favor-selected-offset-x: -227px;
$icon-favor-selected-offset-y: -171px;
$icon-favor-selected-width: 16px;
$icon-favor-selected-height: 16px;
$icon-favor-selected-total-width: 262px;
$icon-favor-selected-total-height: 257px;
$icon-favor-selected-image: '../images/sprite@1x.png';
$icon-favor-selected: (227px, 171px, -227px, -171px, 16px, 16px, 262px, 257px, '../images/sprite@1x.png', 'icon_favor_selected', );
$icon-gear-name: 'icon_gear';
$icon-gear-x: 100px;
$icon-gear-y: 217px;
$icon-gear-offset-x: -100px;
$icon-gear-offset-y: -217px;
$icon-gear-width: 20px;
$icon-gear-height: 20px;
$icon-gear-total-width: 262px;
$icon-gear-total-height: 257px;
$icon-gear-image: '../images/sprite@1x.png';
$icon-gear: (100px, 217px, -100px, -217px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_gear', );
$icon-label-name: 'icon_label';
$icon-label-x: 183px;
$icon-label-y: 48px;
$icon-label-offset-x: -183px;
$icon-label-offset-y: -48px;
$icon-label-width: 12px;
$icon-label-height: 12px;
$icon-label-total-width: 262px;
$icon-label-total-height: 257px;
$icon-label-image: '../images/sprite@1x.png';
$icon-label: (183px, 48px, -183px, -48px, 12px, 12px, 262px, 257px, '../images/sprite@1x.png', 'icon_label', );
$icon-linkedin-name: 'icon_linkedin';
$icon-linkedin-x: 86px;
$icon-linkedin-y: 171px;
$icon-linkedin-offset-x: -86px;
$icon-linkedin-offset-y: -171px;
$icon-linkedin-width: 40px;
$icon-linkedin-height: 40px;
$icon-linkedin-total-width: 262px;
$icon-linkedin-total-height: 257px;
$icon-linkedin-image: '../images/sprite@1x.png';
$icon-linkedin: (86px, 171px, -86px, -171px, 40px, 40px, 262px, 257px, '../images/sprite@1x.png', 'icon_linkedin', );
$icon-linkedin-share-name: 'icon_linkedin_share';
$icon-linkedin-share-x: 145px;
$icon-linkedin-share-y: 140px;
$icon-linkedin-share-offset-x: -145px;
$icon-linkedin-share-offset-y: -140px;
$icon-linkedin-share-width: 24px;
$icon-linkedin-share-height: 24px;
$icon-linkedin-share-total-width: 262px;
$icon-linkedin-share-total-height: 257px;
$icon-linkedin-share-image: '../images/sprite@1x.png';
$icon-linkedin-share: (145px, 140px, -145px, -140px, 24px, 24px, 262px, 257px, '../images/sprite@1x.png', 'icon_linkedin_share', );
$icon-notice-name: 'icon_notice';
$icon-notice-x: 180px;
$icon-notice-y: 217px;
$icon-notice-offset-x: -180px;
$icon-notice-offset-y: -217px;
$icon-notice-width: 20px;
$icon-notice-height: 20px;
$icon-notice-total-width: 262px;
$icon-notice-total-height: 257px;
$icon-notice-image: '../images/sprite@1x.png';
$icon-notice: (180px, 217px, -180px, -217px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_notice', );
$icon-notice-selected-name: 'icon_notice_selected';
$icon-notice-selected-x: 200px;
$icon-notice-selected-y: 217px;
$icon-notice-selected-offset-x: -200px;
$icon-notice-selected-offset-y: -217px;
$icon-notice-selected-width: 20px;
$icon-notice-selected-height: 20px;
$icon-notice-selected-total-width: 262px;
$icon-notice-selected-total-height: 257px;
$icon-notice-selected-image: '../images/sprite@1x.png';
$icon-notice-selected: (200px, 217px, -200px, -217px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_notice_selected', );
$icon-paypal-name: 'icon_paypal';
$icon-paypal-x: 76px;
$icon-paypal-y: 0px;
$icon-paypal-offset-x: -76px;
$icon-paypal-offset-y: 0px;
$icon-paypal-width: 120px;
$icon-paypal-height: 36px;
$icon-paypal-total-width: 262px;
$icon-paypal-total-height: 257px;
$icon-paypal-image: '../images/sprite@1x.png';
$icon-paypal: (76px, 0px, -76px, 0px, 120px, 36px, 262px, 257px, '../images/sprite@1x.png', 'icon_paypal', );
$icon-plus-name: 'icon_plus';
$icon-plus-x: 196px;
$icon-plus-y: 42px;
$icon-plus-offset-x: -196px;
$icon-plus-offset-y: -42px;
$icon-plus-width: 47px;
$icon-plus-height: 47px;
$icon-plus-total-width: 262px;
$icon-plus-total-height: 257px;
$icon-plus-image: '../images/sprite@1x.png';
$icon-plus: (196px, 42px, -196px, -42px, 47px, 47px, 262px, 257px, '../images/sprite@1x.png', 'icon_plus', );
$icon-polygons-name: 'icon_polygons';
$icon-polygons-x: 243px;
$icon-polygons-y: 42px;
$icon-polygons-offset-x: -243px;
$icon-polygons-offset-y: -42px;
$icon-polygons-width: 18px;
$icon-polygons-height: 18px;
$icon-polygons-total-width: 262px;
$icon-polygons-total-height: 257px;
$icon-polygons-image: '../images/sprite@1x.png';
$icon-polygons: (243px, 42px, -243px, -42px, 18px, 18px, 262px, 257px, '../images/sprite@1x.png', 'icon_polygons', );
$icon-radio-large-name: 'icon_radio_large';
$icon-radio-large-x: 0px;
$icon-radio-large-y: 237px;
$icon-radio-large-offset-x: 0px;
$icon-radio-large-offset-y: -237px;
$icon-radio-large-width: 20px;
$icon-radio-large-height: 20px;
$icon-radio-large-total-width: 262px;
$icon-radio-large-total-height: 257px;
$icon-radio-large-image: '../images/sprite@1x.png';
$icon-radio-large: (0px, 237px, 0px, -237px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_radio_large', );
$icon-radio-large-selected-name: 'icon_radio_large_selected';
$icon-radio-large-selected-x: 120px;
$icon-radio-large-selected-y: 217px;
$icon-radio-large-selected-offset-x: -120px;
$icon-radio-large-selected-offset-y: -217px;
$icon-radio-large-selected-width: 20px;
$icon-radio-large-selected-height: 20px;
$icon-radio-large-selected-total-width: 262px;
$icon-radio-large-selected-total-height: 257px;
$icon-radio-large-selected-image: '../images/sprite@1x.png';
$icon-radio-large-selected: (120px, 217px, -120px, -217px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_radio_large_selected', );
$icon-search-name: 'icon_search';
$icon-search-x: 60px;
$icon-search-y: 217px;
$icon-search-offset-x: -60px;
$icon-search-offset-y: -217px;
$icon-search-width: 20px;
$icon-search-height: 20px;
$icon-search-total-width: 262px;
$icon-search-total-height: 257px;
$icon-search-image: '../images/sprite@1x.png';
$icon-search: (60px, 217px, -60px, -217px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_search', );
$icon-share-name: 'icon_share';
$icon-share-x: 166px;
$icon-share-y: 192px;
$icon-share-offset-x: -166px;
$icon-share-offset-y: -192px;
$icon-share-width: 18px;
$icon-share-height: 18px;
$icon-share-total-width: 262px;
$icon-share-total-height: 257px;
$icon-share-image: '../images/sprite@1x.png';
$icon-share: (166px, 192px, -166px, -192px, 18px, 18px, 262px, 257px, '../images/sprite@1x.png', 'icon_share', );
$icon-star-name: 'icon_star';
$icon-star-x: 40px;
$icon-star-y: 217px;
$icon-star-offset-x: -40px;
$icon-star-offset-y: -217px;
$icon-star-width: 20px;
$icon-star-height: 20px;
$icon-star-total-width: 262px;
$icon-star-total-height: 257px;
$icon-star-image: '../images/sprite@1x.png';
$icon-star: (40px, 217px, -40px, -217px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_star', );
$icon-star-twinkle-name: 'icon_star_twinkle';
$icon-star-twinkle-x: 220px;
$icon-star-twinkle-y: 217px;
$icon-star-twinkle-offset-x: -220px;
$icon-star-twinkle-offset-y: -217px;
$icon-star-twinkle-width: 20px;
$icon-star-twinkle-height: 20px;
$icon-star-twinkle-total-width: 262px;
$icon-star-twinkle-total-height: 257px;
$icon-star-twinkle-image: '../images/sprite@1x.png';
$icon-star-twinkle: (220px, 217px, -220px, -217px, 20px, 20px, 262px, 257px, '../images/sprite@1x.png', 'icon_star_twinkle', );
$icon-talk-name: 'icon_talk';
$icon-talk-x: 0px;
$icon-talk-y: 76px;
$icon-talk-offset-x: 0px;
$icon-talk-offset-y: -76px;
$icon-talk-width: 64px;
$icon-talk-height: 64px;
$icon-talk-total-width: 262px;
$icon-talk-total-height: 257px;
$icon-talk-image: '../images/sprite@1x.png';
$icon-talk: (0px, 76px, 0px, -76px, 64px, 64px, 262px, 257px, '../images/sprite@1x.png', 'icon_talk', );
$icon-talk-mini-name: 'icon_talk_mini';
$icon-talk-mini-x: 0px;
$icon-talk-mini-y: 171px;
$icon-talk-mini-offset-x: 0px;
$icon-talk-mini-offset-y: -171px;
$icon-talk-mini-width: 46px;
$icon-talk-mini-height: 46px;
$icon-talk-mini-total-width: 262px;
$icon-talk-mini-total-height: 257px;
$icon-talk-mini-image: '../images/sprite@1x.png';
$icon-talk-mini: (0px, 171px, 0px, -171px, 46px, 46px, 262px, 257px, '../images/sprite@1x.png', 'icon_talk_mini', );
$icon-talk-mini-selected-name: 'icon_talk_mini_selected';
$icon-talk-mini-selected-x: 196px;
$icon-talk-mini-selected-y: 89px;
$icon-talk-mini-selected-offset-x: -196px;
$icon-talk-mini-selected-offset-y: -89px;
$icon-talk-mini-selected-width: 46px;
$icon-talk-mini-selected-height: 46px;
$icon-talk-mini-selected-total-width: 262px;
$icon-talk-mini-selected-total-height: 257px;
$icon-talk-mini-selected-image: '../images/sprite@1x.png';
$icon-talk-mini-selected: (196px, 89px, -196px, -89px, 46px, 46px, 262px, 257px, '../images/sprite@1x.png', 'icon_talk_mini_selected', );
$icon-talk-selected-name: 'icon_talk_selected';
$icon-talk-selected-x: 64px;
$icon-talk-selected-y: 76px;
$icon-talk-selected-offset-x: -64px;
$icon-talk-selected-offset-y: -76px;
$icon-talk-selected-width: 64px;
$icon-talk-selected-height: 64px;
$icon-talk-selected-total-width: 262px;
$icon-talk-selected-total-height: 257px;
$icon-talk-selected-image: '../images/sprite@1x.png';
$icon-talk-selected: (64px, 76px, -64px, -76px, 64px, 64px, 262px, 257px, '../images/sprite@1x.png', 'icon_talk_selected', );
$icon-to-top-name: 'icon_to_top';
$icon-to-top-x: 183px;
$icon-to-top-y: 36px;
$icon-to-top-offset-x: -183px;
$icon-to-top-offset-y: -36px;
$icon-to-top-width: 12px;
$icon-to-top-height: 12px;
$icon-to-top-total-width: 262px;
$icon-to-top-total-height: 257px;
$icon-to-top-image: '../images/sprite@1x.png';
$icon-to-top: (183px, 36px, -183px, -36px, 12px, 12px, 262px, 257px, '../images/sprite@1x.png', 'icon_to_top', );
$icon-twitter-name: 'icon_twitter';
$icon-twitter-x: 46px;
$icon-twitter-y: 171px;
$icon-twitter-offset-x: -46px;
$icon-twitter-offset-y: -171px;
$icon-twitter-width: 40px;
$icon-twitter-height: 40px;
$icon-twitter-total-width: 262px;
$icon-twitter-total-height: 257px;
$icon-twitter-image: '../images/sprite@1x.png';
$icon-twitter: (46px, 171px, -46px, -171px, 40px, 40px, 262px, 257px, '../images/sprite@1x.png', 'icon_twitter', );
$icon-twitter-share-name: 'icon_twitter_share';
$icon-twitter-share-x: 169px;
$icon-twitter-share-y: 140px;
$icon-twitter-share-offset-x: -169px;
$icon-twitter-share-offset-y: -140px;
$icon-twitter-share-width: 24px;
$icon-twitter-share-height: 24px;
$icon-twitter-share-total-width: 262px;
$icon-twitter-share-total-height: 257px;
$icon-twitter-share-image: '../images/sprite@1x.png';
$icon-twitter-share: (169px, 140px, -169px, -140px, 24px, 24px, 262px, 257px, '../images/sprite@1x.png', 'icon_twitter_share', );
$icon-upload-name: 'icon_upload';
$icon-upload-x: 183px;
$icon-upload-y: 60px;
$icon-upload-offset-x: -183px;
$icon-upload-offset-y: -60px;
$icon-upload-width: 12px;
$icon-upload-height: 12px;
$icon-upload-total-width: 262px;
$icon-upload-total-height: 257px;
$icon-upload-image: '../images/sprite@1x.png';
$icon-upload: (183px, 60px, -183px, -60px, 12px, 12px, 262px, 257px, '../images/sprite@1x.png', 'icon_upload', );
$icon-upload-giant-name: 'icon_upload_giant';
$icon-upload-giant-x: 128px;
$icon-upload-giant-y: 76px;
$icon-upload-giant-offset-x: -128px;
$icon-upload-giant-offset-y: -76px;
$icon-upload-giant-width: 60px;
$icon-upload-giant-height: 50px;
$icon-upload-giant-total-width: 262px;
$icon-upload-giant-total-height: 257px;
$icon-upload-giant-image: '../images/sprite@1x.png';
$icon-upload-giant: (128px, 76px, -128px, -76px, 60px, 50px, 262px, 257px, '../images/sprite@1x.png', 'icon_upload_giant', );
$icon-vertices-name: 'icon_vertices';
$icon-vertices-x: 184px;
$icon-vertices-y: 192px;
$icon-vertices-offset-x: -184px;
$icon-vertices-offset-y: -192px;
$icon-vertices-width: 18px;
$icon-vertices-height: 18px;
$icon-vertices-total-width: 262px;
$icon-vertices-total-height: 257px;
$icon-vertices-image: '../images/sprite@1x.png';
$icon-vertices: (184px, 192px, -184px, -192px, 18px, 18px, 262px, 257px, '../images/sprite@1x.png', 'icon_vertices', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 140px;
$logo-offset-x: 0px;
$logo-offset-y: -140px;
$logo-width: 121px;
$logo-height: 31px;
$logo-total-width: 262px;
$logo-total-height: 257px;
$logo-image: '../images/sprite@1x.png';
$logo: (0px, 140px, 0px, -140px, 121px, 31px, 262px, 257px, '../images/sprite@1x.png', 'logo', );
$spritesheet-width: 262px;
$spritesheet-height: 257px;
$spritesheet-image: '../images/sprite@1x.png';
$spritesheet-sprites: ($icon-account, $icon-account-selected, $icon-alert, $icon-alipay, $icon-arrow-down, $icon-bank-card, $icon-cart, $icon-cart-selected, $icon-check, $icon-check-selected, $icon-checkbox, $icon-checkbox-dark, $icon-checkbox-dark-selected, $icon-checkbox-large, $icon-checkbox-large-selected, $icon-checkbox-selected, $icon-creditcard, $icon-cross, $icon-cross-black, $icon-dropdown, $icon-element, $icon-element-selected, $icon-eye, $icon-facebook, $icon-facebook-share, $icon-favor, $icon-favor-large, $icon-favor-selected, $icon-gear, $icon-label, $icon-linkedin, $icon-linkedin-share, $icon-notice, $icon-notice-selected, $icon-paypal, $icon-plus, $icon-polygons, $icon-radio-large, $icon-radio-large-selected, $icon-search, $icon-share, $icon-star, $icon-star-twinkle, $icon-talk, $icon-talk-mini, $icon-talk-mini-selected, $icon-talk-selected, $icon-to-top, $icon-twitter, $icon-twitter-share, $icon-upload, $icon-upload-giant, $icon-vertices, $logo, );
$spritesheet: (262px, 257px, '../images/sprite@1x.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
