/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$checkbox-selected-3x-name: 'checkbox-selected@3x';
$checkbox-selected-3x-x: 222px;
$checkbox-selected-3x-y: 216px;
$checkbox-selected-3x-offset-x: -222px;
$checkbox-selected-3x-offset-y: -216px;
$checkbox-selected-3x-width: 36px;
$checkbox-selected-3x-height: 36px;
$checkbox-selected-3x-total-width: 363px;
$checkbox-selected-3x-total-height: 258px;
$checkbox-selected-3x-image: '../images/sprite@3x.png';
$checkbox-selected-3x: (222px, 216px, -222px, -216px, 36px, 36px, 363px, 258px, '../images/sprite@3x.png', 'checkbox-selected@3x', );
$checkbox-3x-name: 'checkbox@3x';
$checkbox-3x-x: 42px;
$checkbox-3x-y: 216px;
$checkbox-3x-offset-x: -42px;
$checkbox-3x-offset-y: -216px;
$checkbox-3x-width: 36px;
$checkbox-3x-height: 36px;
$checkbox-3x-total-width: 363px;
$checkbox-3x-total-height: 258px;
$checkbox-3x-image: '../images/sprite@3x.png';
$checkbox-3x: (42px, 216px, -42px, -216px, 36px, 36px, 363px, 258px, '../images/sprite@3x.png', 'checkbox@3x', );
$icon-account-3x-name: 'icon_account@3x';
$icon-account-3x-x: 63px;
$icon-account-3x-y: 93px;
$icon-account-3x-offset-x: -63px;
$icon-account-3x-offset-y: -93px;
$icon-account-3x-width: 60px;
$icon-account-3x-height: 60px;
$icon-account-3x-total-width: 363px;
$icon-account-3x-total-height: 258px;
$icon-account-3x-image: '../images/sprite@3x.png';
$icon-account-3x: (63px, 93px, -63px, -93px, 60px, 60px, 363px, 258px, '../images/sprite@3x.png', 'icon_account@3x', );
$icon-account-selected-3x-name: 'icon_account_selected@3x';
$icon-account-selected-3x-x: 123px;
$icon-account-selected-3x-y: 93px;
$icon-account-selected-3x-offset-x: -123px;
$icon-account-selected-3x-offset-y: -93px;
$icon-account-selected-3x-width: 60px;
$icon-account-selected-3x-height: 60px;
$icon-account-selected-3x-total-width: 363px;
$icon-account-selected-3x-total-height: 258px;
$icon-account-selected-3x-image: '../images/sprite@3x.png';
$icon-account-selected-3x: (123px, 93px, -123px, -93px, 60px, 60px, 363px, 258px, '../images/sprite@3x.png', 'icon_account_selected@3x', );
$icon-alert-3x-name: 'icon_alert@3x';
$icon-alert-3x-x: 114px;
$icon-alert-3x-y: 216px;
$icon-alert-3x-offset-x: -114px;
$icon-alert-3x-offset-y: -216px;
$icon-alert-3x-width: 36px;
$icon-alert-3x-height: 36px;
$icon-alert-3x-total-width: 363px;
$icon-alert-3x-total-height: 258px;
$icon-alert-3x-image: '../images/sprite@3x.png';
$icon-alert-3x: (114px, 216px, -114px, -216px, 36px, 36px, 363px, 258px, '../images/sprite@3x.png', 'icon_alert@3x', );
$icon-arrow-down-3x-name: 'icon_arrow_down@3x';
$icon-arrow-down-3x-x: 300px;
$icon-arrow-down-3x-y: 204px;
$icon-arrow-down-3x-offset-x: -300px;
$icon-arrow-down-3x-offset-y: -204px;
$icon-arrow-down-3x-width: 30px;
$icon-arrow-down-3x-height: 12px;
$icon-arrow-down-3x-total-width: 363px;
$icon-arrow-down-3x-total-height: 258px;
$icon-arrow-down-3x-image: '../images/sprite@3x.png';
$icon-arrow-down-3x: (300px, 204px, -300px, -204px, 30px, 12px, 363px, 258px, '../images/sprite@3x.png', 'icon_arrow_down@3x', );
$icon-cart-3x-name: 'icon_cart@3x';
$icon-cart-3x-x: 303px;
$icon-cart-3x-y: 93px;
$icon-cart-3x-offset-x: -303px;
$icon-cart-3x-offset-y: -93px;
$icon-cart-3x-width: 60px;
$icon-cart-3x-height: 60px;
$icon-cart-3x-total-width: 363px;
$icon-cart-3x-total-height: 258px;
$icon-cart-3x-image: '../images/sprite@3x.png';
$icon-cart-3x: (303px, 93px, -303px, -93px, 60px, 60px, 363px, 258px, '../images/sprite@3x.png', 'icon_cart@3x', );
$icon-cart-selected-3x-name: 'icon_cart_selected@3x';
$icon-cart-selected-3x-x: 0px;
$icon-cart-selected-3x-y: 156px;
$icon-cart-selected-3x-offset-x: 0px;
$icon-cart-selected-3x-offset-y: -156px;
$icon-cart-selected-3x-width: 60px;
$icon-cart-selected-3x-height: 60px;
$icon-cart-selected-3x-total-width: 363px;
$icon-cart-selected-3x-total-height: 258px;
$icon-cart-selected-3x-image: '../images/sprite@3x.png';
$icon-cart-selected-3x: (0px, 156px, 0px, -156px, 60px, 60px, 363px, 258px, '../images/sprite@3x.png', 'icon_cart_selected@3x', );
$icon-checkbox-3x-name: 'icon_checkbox@3x';
$icon-checkbox-3x-x: 0px;
$icon-checkbox-3x-y: 216px;
$icon-checkbox-3x-offset-x: 0px;
$icon-checkbox-3x-offset-y: -216px;
$icon-checkbox-3x-width: 42px;
$icon-checkbox-3x-height: 42px;
$icon-checkbox-3x-total-width: 363px;
$icon-checkbox-3x-total-height: 258px;
$icon-checkbox-3x-image: '../images/sprite@3x.png';
$icon-checkbox-3x: (0px, 216px, 0px, -216px, 42px, 42px, 363px, 258px, '../images/sprite@3x.png', 'icon_checkbox@3x', );
$icon-element-3x-name: 'icon_element@3x';
$icon-element-3x-x: 120px;
$icon-element-3x-y: 156px;
$icon-element-3x-offset-x: -120px;
$icon-element-3x-offset-y: -156px;
$icon-element-3x-width: 60px;
$icon-element-3x-height: 60px;
$icon-element-3x-total-width: 363px;
$icon-element-3x-total-height: 258px;
$icon-element-3x-image: '../images/sprite@3x.png';
$icon-element-3x: (120px, 156px, -120px, -156px, 60px, 60px, 363px, 258px, '../images/sprite@3x.png', 'icon_element@3x', );
$icon-element-selected-3x-name: 'icon_element_selected@3x';
$icon-element-selected-3x-x: 240px;
$icon-element-selected-3x-y: 156px;
$icon-element-selected-3x-offset-x: -240px;
$icon-element-selected-3x-offset-y: -156px;
$icon-element-selected-3x-width: 60px;
$icon-element-selected-3x-height: 60px;
$icon-element-selected-3x-total-width: 363px;
$icon-element-selected-3x-total-height: 258px;
$icon-element-selected-3x-image: '../images/sprite@3x.png';
$icon-element-selected-3x: (240px, 156px, -240px, -156px, 60px, 60px, 363px, 258px, '../images/sprite@3x.png', 'icon_element_selected@3x', );
$icon-eye-3x-name: 'icon_eye@3x';
$icon-eye-3x-x: 0px;
$icon-eye-3x-y: 93px;
$icon-eye-3x-offset-x: 0px;
$icon-eye-3x-offset-y: -93px;
$icon-eye-3x-width: 63px;
$icon-eye-3x-height: 63px;
$icon-eye-3x-total-width: 363px;
$icon-eye-3x-total-height: 258px;
$icon-eye-3x-image: '../images/sprite@3x.png';
$icon-eye-3x: (0px, 93px, 0px, -93px, 63px, 63px, 363px, 258px, '../images/sprite@3x.png', 'icon_eye@3x', );
$icon-favor-3x-name: 'icon_favor@3x';
$icon-favor-3x-x: 300px;
$icon-favor-3x-y: 156px;
$icon-favor-3x-offset-x: -300px;
$icon-favor-3x-offset-y: -156px;
$icon-favor-3x-width: 48px;
$icon-favor-3x-height: 48px;
$icon-favor-3x-total-width: 363px;
$icon-favor-3x-total-height: 258px;
$icon-favor-3x-image: '../images/sprite@3x.png';
$icon-favor-3x: (300px, 156px, -300px, -156px, 48px, 48px, 363px, 258px, '../images/sprite@3x.png', 'icon_favor@3x', );
$icon-gear-3x-name: 'icon_gear@3x';
$icon-gear-3x-x: 180px;
$icon-gear-3x-y: 156px;
$icon-gear-3x-offset-x: -180px;
$icon-gear-3x-offset-y: -156px;
$icon-gear-3x-width: 60px;
$icon-gear-3x-height: 60px;
$icon-gear-3x-total-width: 363px;
$icon-gear-3x-total-height: 258px;
$icon-gear-3x-image: '../images/sprite@3x.png';
$icon-gear-3x: (180px, 156px, -180px, -156px, 60px, 60px, 363px, 258px, '../images/sprite@3x.png', 'icon_gear@3x', );
$icon-label-3x-name: 'icon_label@3x';
$icon-label-3x-x: 78px;
$icon-label-3x-y: 216px;
$icon-label-3x-offset-x: -78px;
$icon-label-3x-offset-y: -216px;
$icon-label-3x-width: 36px;
$icon-label-3x-height: 36px;
$icon-label-3x-total-width: 363px;
$icon-label-3x-total-height: 258px;
$icon-label-3x-image: '../images/sprite@3x.png';
$icon-label-3x: (78px, 216px, -78px, -216px, 36px, 36px, 363px, 258px, '../images/sprite@3x.png', 'icon_label@3x', );
$icon-notice-3x-name: 'icon_notice@3x';
$icon-notice-3x-x: 60px;
$icon-notice-3x-y: 156px;
$icon-notice-3x-offset-x: -60px;
$icon-notice-3x-offset-y: -156px;
$icon-notice-3x-width: 60px;
$icon-notice-3x-height: 60px;
$icon-notice-3x-total-width: 363px;
$icon-notice-3x-total-height: 258px;
$icon-notice-3x-image: '../images/sprite@3x.png';
$icon-notice-3x: (60px, 156px, -60px, -156px, 60px, 60px, 363px, 258px, '../images/sprite@3x.png', 'icon_notice@3x', );
$icon-notice-selected-3x-name: 'icon_notice_selected@3x';
$icon-notice-selected-3x-x: 243px;
$icon-notice-selected-3x-y: 93px;
$icon-notice-selected-3x-offset-x: -243px;
$icon-notice-selected-3x-offset-y: -93px;
$icon-notice-selected-3x-width: 60px;
$icon-notice-selected-3x-height: 60px;
$icon-notice-selected-3x-total-width: 363px;
$icon-notice-selected-3x-total-height: 258px;
$icon-notice-selected-3x-image: '../images/sprite@3x.png';
$icon-notice-selected-3x: (243px, 93px, -243px, -93px, 60px, 60px, 363px, 258px, '../images/sprite@3x.png', 'icon_notice_selected@3x', );
$icon-search-3x-name: 'icon_search@3x';
$icon-search-3x-x: 183px;
$icon-search-3x-y: 93px;
$icon-search-3x-offset-x: -183px;
$icon-search-3x-offset-y: -93px;
$icon-search-3x-width: 60px;
$icon-search-3x-height: 60px;
$icon-search-3x-total-width: 363px;
$icon-search-3x-total-height: 258px;
$icon-search-3x-image: '../images/sprite@3x.png';
$icon-search-3x: (183px, 93px, -183px, -93px, 60px, 60px, 363px, 258px, '../images/sprite@3x.png', 'icon_search@3x', );
$icon-to-top-3x-name: 'icon_to_top@3x';
$icon-to-top-3x-x: 150px;
$icon-to-top-3x-y: 216px;
$icon-to-top-3x-offset-x: -150px;
$icon-to-top-3x-offset-y: -216px;
$icon-to-top-3x-width: 36px;
$icon-to-top-3x-height: 36px;
$icon-to-top-3x-total-width: 363px;
$icon-to-top-3x-total-height: 258px;
$icon-to-top-3x-image: '../images/sprite@3x.png';
$icon-to-top-3x: (150px, 216px, -150px, -216px, 36px, 36px, 363px, 258px, '../images/sprite@3x.png', 'icon_to_top@3x', );
$icon-upload-3x-name: 'icon_upload@3x';
$icon-upload-3x-x: 186px;
$icon-upload-3x-y: 216px;
$icon-upload-3x-offset-x: -186px;
$icon-upload-3x-offset-y: -216px;
$icon-upload-3x-width: 36px;
$icon-upload-3x-height: 36px;
$icon-upload-3x-total-width: 363px;
$icon-upload-3x-total-height: 258px;
$icon-upload-3x-image: '../images/sprite@3x.png';
$icon-upload-3x: (186px, 216px, -186px, -216px, 36px, 36px, 363px, 258px, '../images/sprite@3x.png', 'icon_upload@3x', );
$logo-3x-name: 'logo@3x';
$logo-3x-x: 0px;
$logo-3x-y: 0px;
$logo-3x-offset-x: 0px;
$logo-3x-offset-y: 0px;
$logo-3x-width: 363px;
$logo-3x-height: 93px;
$logo-3x-total-width: 363px;
$logo-3x-total-height: 258px;
$logo-3x-image: '../images/sprite@3x.png';
$logo-3x: (0px, 0px, 0px, 0px, 363px, 93px, 363px, 258px, '../images/sprite@3x.png', 'logo@3x', );
$spritesheet-width: 363px;
$spritesheet-height: 258px;
$spritesheet-image: '../images/sprite@3x.png';
$spritesheet-sprites: ($checkbox-selected-3x, $checkbox-3x, $icon-account-3x, $icon-account-selected-3x, $icon-alert-3x, $icon-arrow-down-3x, $icon-cart-3x, $icon-cart-selected-3x, $icon-checkbox-3x, $icon-element-3x, $icon-element-selected-3x, $icon-eye-3x, $icon-favor-3x, $icon-gear-3x, $icon-label-3x, $icon-notice-3x, $icon-notice-selected-3x, $icon-search-3x, $icon-to-top-3x, $icon-upload-3x, $logo-3x, );
$spritesheet: (363px, 258px, '../images/sprite@3x.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
