/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-account-name: 'icon_account';
$icon-account-x: 20px;
$icon-account-y: 0px;
$icon-account-offset-x: -20px;
$icon-account-offset-y: 0px;
$icon-account-width: 20px;
$icon-account-height: 20px;
$icon-account-total-width: 72px;
$icon-account-total-height: 60px;
$icon-account-image: '../images/sprite@1x.png';
$icon-account: (20px, 0px, -20px, 0px, 20px, 20px, 72px, 60px, '../images/sprite@1x.png', 'icon_account', );
$icon-account-selected-name: 'icon_account_selected';
$icon-account-selected-x: 40px;
$icon-account-selected-y: 20px;
$icon-account-selected-offset-x: -40px;
$icon-account-selected-offset-y: -20px;
$icon-account-selected-width: 20px;
$icon-account-selected-height: 20px;
$icon-account-selected-total-width: 72px;
$icon-account-selected-total-height: 60px;
$icon-account-selected-image: '../images/sprite@1x.png';
$icon-account-selected: (40px, 20px, -40px, -20px, 20px, 20px, 72px, 60px, '../images/sprite@1x.png', 'icon_account_selected', );
$icon-cart-name: 'icon_cart';
$icon-cart-x: 0px;
$icon-cart-y: 20px;
$icon-cart-offset-x: 0px;
$icon-cart-offset-y: -20px;
$icon-cart-width: 20px;
$icon-cart-height: 20px;
$icon-cart-total-width: 72px;
$icon-cart-total-height: 60px;
$icon-cart-image: '../images/sprite@1x.png';
$icon-cart: (0px, 20px, 0px, -20px, 20px, 20px, 72px, 60px, '../images/sprite@1x.png', 'icon_cart', );
$icon-cart-selected-name: 'icon_cart_selected';
$icon-cart-selected-x: 20px;
$icon-cart-selected-y: 20px;
$icon-cart-selected-offset-x: -20px;
$icon-cart-selected-offset-y: -20px;
$icon-cart-selected-width: 20px;
$icon-cart-selected-height: 20px;
$icon-cart-selected-total-width: 72px;
$icon-cart-selected-total-height: 60px;
$icon-cart-selected-image: '../images/sprite@1x.png';
$icon-cart-selected: (20px, 20px, -20px, -20px, 20px, 20px, 72px, 60px, '../images/sprite@1x.png', 'icon_cart_selected', );
$icon-element-name: 'icon_element';
$icon-element-x: 40px;
$icon-element-y: 0px;
$icon-element-offset-x: -40px;
$icon-element-offset-y: 0px;
$icon-element-width: 20px;
$icon-element-height: 20px;
$icon-element-total-width: 72px;
$icon-element-total-height: 60px;
$icon-element-image: '../images/sprite@1x.png';
$icon-element: (40px, 0px, -40px, 0px, 20px, 20px, 72px, 60px, '../images/sprite@1x.png', 'icon_element', );
$icon-element-selected-name: 'icon_element_selected';
$icon-element-selected-x: 0px;
$icon-element-selected-y: 0px;
$icon-element-selected-offset-x: 0px;
$icon-element-selected-offset-y: 0px;
$icon-element-selected-width: 20px;
$icon-element-selected-height: 20px;
$icon-element-selected-total-width: 72px;
$icon-element-selected-total-height: 60px;
$icon-element-selected-image: '../images/sprite@1x.png';
$icon-element-selected: (0px, 0px, 0px, 0px, 20px, 20px, 72px, 60px, '../images/sprite@1x.png', 'icon_element_selected', );
$icon-label-name: 'icon_label';
$icon-label-x: 60px;
$icon-label-y: 0px;
$icon-label-offset-x: -60px;
$icon-label-offset-y: 0px;
$icon-label-width: 12px;
$icon-label-height: 12px;
$icon-label-total-width: 72px;
$icon-label-total-height: 60px;
$icon-label-image: '../images/sprite@1x.png';
$icon-label: (60px, 0px, -60px, 0px, 12px, 12px, 72px, 60px, '../images/sprite@1x.png', 'icon_label', );
$icon-notice-name: 'icon_notice';
$icon-notice-x: 20px;
$icon-notice-y: 40px;
$icon-notice-offset-x: -20px;
$icon-notice-offset-y: -40px;
$icon-notice-width: 20px;
$icon-notice-height: 20px;
$icon-notice-total-width: 72px;
$icon-notice-total-height: 60px;
$icon-notice-image: '../images/sprite@1x.png';
$icon-notice: (20px, 40px, -20px, -40px, 20px, 20px, 72px, 60px, '../images/sprite@1x.png', 'icon_notice', );
$icon-notice-selected-name: 'icon_notice_selected';
$icon-notice-selected-x: 40px;
$icon-notice-selected-y: 40px;
$icon-notice-selected-offset-x: -40px;
$icon-notice-selected-offset-y: -40px;
$icon-notice-selected-width: 20px;
$icon-notice-selected-height: 20px;
$icon-notice-selected-total-width: 72px;
$icon-notice-selected-total-height: 60px;
$icon-notice-selected-image: '../images/sprite@1x.png';
$icon-notice-selected: (40px, 40px, -40px, -40px, 20px, 20px, 72px, 60px, '../images/sprite@1x.png', 'icon_notice_selected', );
$icon-search-name: 'icon_search';
$icon-search-x: 0px;
$icon-search-y: 40px;
$icon-search-offset-x: 0px;
$icon-search-offset-y: -40px;
$icon-search-width: 20px;
$icon-search-height: 20px;
$icon-search-total-width: 72px;
$icon-search-total-height: 60px;
$icon-search-image: '../images/sprite@1x.png';
$icon-search: (0px, 40px, 0px, -40px, 20px, 20px, 72px, 60px, '../images/sprite@1x.png', 'icon_search', );
$icon-upload-name: 'icon_upload';
$icon-upload-x: 60px;
$icon-upload-y: 12px;
$icon-upload-offset-x: -60px;
$icon-upload-offset-y: -12px;
$icon-upload-width: 12px;
$icon-upload-height: 12px;
$icon-upload-total-width: 72px;
$icon-upload-total-height: 60px;
$icon-upload-image: '../images/sprite@1x.png';
$icon-upload: (60px, 12px, -60px, -12px, 12px, 12px, 72px, 60px, '../images/sprite@1x.png', 'icon_upload', );
$spritesheet-width: 72px;
$spritesheet-height: 60px;
$spritesheet-image: '../images/sprite@1x.png';
$spritesheet-sprites: ($icon-account, $icon-account-selected, $icon-cart, $icon-cart-selected, $icon-element, $icon-element-selected, $icon-label, $icon-notice, $icon-notice-selected, $icon-search, $icon-upload, );
$spritesheet: (72px, 60px, '../images/sprite@1x.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
