/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-account-3x-name: 'icon_account@3x';
$icon-account-3x-x: 303px;
$icon-account-3x-y: 243px;
$icon-account-3x-offset-x: -303px;
$icon-account-3x-offset-y: -243px;
$icon-account-3x-width: 60px;
$icon-account-3x-height: 60px;
$icon-account-3x-total-width: 423px;
$icon-account-3x-total-height: 402px;
$icon-account-3x-image: '../images/sprite@3x.png';
$icon-account-3x: (303px, 243px, -303px, -243px, 60px, 60px, 423px, 402px, '../images/sprite@3x.png', 'icon_account@3x', );
$icon-account-selected-3x-name: 'icon_account_selected@3x';
$icon-account-selected-3x-x: 60px;
$icon-account-selected-3x-y: 306px;
$icon-account-selected-3x-offset-x: -60px;
$icon-account-selected-3x-offset-y: -306px;
$icon-account-selected-3x-width: 60px;
$icon-account-selected-3x-height: 60px;
$icon-account-selected-3x-total-width: 423px;
$icon-account-selected-3x-total-height: 402px;
$icon-account-selected-3x-image: '../images/sprite@3x.png';
$icon-account-selected-3x: (60px, 306px, -60px, -306px, 60px, 60px, 423px, 402px, '../images/sprite@3x.png', 'icon_account_selected@3x', );
$icon-alert-3x-name: 'icon_alert@3x';
$icon-alert-3x-x: 108px;
$icon-alert-3x-y: 366px;
$icon-alert-3x-offset-x: -108px;
$icon-alert-3x-offset-y: -366px;
$icon-alert-3x-width: 36px;
$icon-alert-3x-height: 36px;
$icon-alert-3x-total-width: 423px;
$icon-alert-3x-total-height: 402px;
$icon-alert-3x-image: '../images/sprite@3x.png';
$icon-alert-3x: (108px, 366px, -108px, -366px, 36px, 36px, 423px, 402px, '../images/sprite@3x.png', 'icon_alert@3x', );
$icon-arrow-down-3x-name: 'icon_arrow_down@3x';
$icon-arrow-down-3x-x: 321px;
$icon-arrow-down-3x-y: 213px;
$icon-arrow-down-3x-offset-x: -321px;
$icon-arrow-down-3x-offset-y: -213px;
$icon-arrow-down-3x-width: 30px;
$icon-arrow-down-3x-height: 12px;
$icon-arrow-down-3x-total-width: 423px;
$icon-arrow-down-3x-total-height: 402px;
$icon-arrow-down-3x-image: '../images/sprite@3x.png';
$icon-arrow-down-3x: (321px, 213px, -321px, -213px, 30px, 12px, 423px, 402px, '../images/sprite@3x.png', 'icon_arrow_down@3x', );
$icon-cart-3x-name: 'icon_cart@3x';
$icon-cart-3x-x: 63px;
$icon-cart-3x-y: 243px;
$icon-cart-3x-offset-x: -63px;
$icon-cart-3x-offset-y: -243px;
$icon-cart-3x-width: 60px;
$icon-cart-3x-height: 60px;
$icon-cart-3x-total-width: 423px;
$icon-cart-3x-total-height: 402px;
$icon-cart-3x-image: '../images/sprite@3x.png';
$icon-cart-3x: (63px, 243px, -63px, -243px, 60px, 60px, 423px, 402px, '../images/sprite@3x.png', 'icon_cart@3x', );
$icon-cart-selected-3x-name: 'icon_cart_selected@3x';
$icon-cart-selected-3x-x: 123px;
$icon-cart-selected-3x-y: 243px;
$icon-cart-selected-3x-offset-x: -123px;
$icon-cart-selected-3x-offset-y: -243px;
$icon-cart-selected-3x-width: 60px;
$icon-cart-selected-3x-height: 60px;
$icon-cart-selected-3x-total-width: 423px;
$icon-cart-selected-3x-total-height: 402px;
$icon-cart-selected-3x-image: '../images/sprite@3x.png';
$icon-cart-selected-3x: (123px, 243px, -123px, -243px, 60px, 60px, 423px, 402px, '../images/sprite@3x.png', 'icon_cart_selected@3x', );
$icon-checkbox-3x-name: 'icon_checkbox@3x';
$icon-checkbox-3x-x: 321px;
$icon-checkbox-3x-y: 93px;
$icon-checkbox-3x-offset-x: -321px;
$icon-checkbox-3x-offset-y: -93px;
$icon-checkbox-3x-width: 42px;
$icon-checkbox-3x-height: 42px;
$icon-checkbox-3x-total-width: 423px;
$icon-checkbox-3x-total-height: 402px;
$icon-checkbox-3x-image: '../images/sprite@3x.png';
$icon-checkbox-3x: (321px, 93px, -321px, -93px, 42px, 42px, 423px, 402px, '../images/sprite@3x.png', 'icon_checkbox@3x', );
$icon-checkbox-dark-3x-name: 'icon_checkbox_dark@3x';
$icon-checkbox-dark-3x-x: 144px;
$icon-checkbox-dark-3x-y: 366px;
$icon-checkbox-dark-3x-offset-x: -144px;
$icon-checkbox-dark-3x-offset-y: -366px;
$icon-checkbox-dark-3x-width: 36px;
$icon-checkbox-dark-3x-height: 36px;
$icon-checkbox-dark-3x-total-width: 423px;
$icon-checkbox-dark-3x-total-height: 402px;
$icon-checkbox-dark-3x-image: '../images/sprite@3x.png';
$icon-checkbox-dark-3x: (144px, 366px, -144px, -366px, 36px, 36px, 423px, 402px, '../images/sprite@3x.png', 'icon_checkbox_dark@3x', );
$icon-checkbox-dark-selected-3x-name: 'icon_checkbox_dark_selected@3x';
$icon-checkbox-dark-selected-3x-x: 321px;
$icon-checkbox-dark-selected-3x-y: 177px;
$icon-checkbox-dark-selected-3x-offset-x: -321px;
$icon-checkbox-dark-selected-3x-offset-y: -177px;
$icon-checkbox-dark-selected-3x-width: 36px;
$icon-checkbox-dark-selected-3x-height: 36px;
$icon-checkbox-dark-selected-3x-total-width: 423px;
$icon-checkbox-dark-selected-3x-total-height: 402px;
$icon-checkbox-dark-selected-3x-image: '../images/sprite@3x.png';
$icon-checkbox-dark-selected-3x: (321px, 177px, -321px, -177px, 36px, 36px, 423px, 402px, '../images/sprite@3x.png', 'icon_checkbox_dark_selected@3x', );
$icon-checkbox-large-3x-name: 'icon_checkbox_large@3x';
$icon-checkbox-large-3x-x: 363px;
$icon-checkbox-large-3x-y: 0px;
$icon-checkbox-large-3x-offset-x: -363px;
$icon-checkbox-large-3x-offset-y: 0px;
$icon-checkbox-large-3x-width: 60px;
$icon-checkbox-large-3x-height: 60px;
$icon-checkbox-large-3x-total-width: 423px;
$icon-checkbox-large-3x-total-height: 402px;
$icon-checkbox-large-3x-image: '../images/sprite@3x.png';
$icon-checkbox-large-3x: (363px, 0px, -363px, 0px, 60px, 60px, 423px, 402px, '../images/sprite@3x.png', 'icon_checkbox_large@3x', );
$icon-checkbox-large-selected-3x-name: 'icon_checkbox_large_selected@3x';
$icon-checkbox-large-selected-3x-x: 363px;
$icon-checkbox-large-selected-3x-y: 60px;
$icon-checkbox-large-selected-3x-offset-x: -363px;
$icon-checkbox-large-selected-3x-offset-y: -60px;
$icon-checkbox-large-selected-3x-width: 60px;
$icon-checkbox-large-selected-3x-height: 60px;
$icon-checkbox-large-selected-3x-total-width: 423px;
$icon-checkbox-large-selected-3x-total-height: 402px;
$icon-checkbox-large-selected-3x-image: '../images/sprite@3x.png';
$icon-checkbox-large-selected-3x: (363px, 60px, -363px, -60px, 60px, 60px, 423px, 402px, '../images/sprite@3x.png', 'icon_checkbox_large_selected@3x', );
$icon-checkbox-selected-3x-name: 'icon_checkbox_selected@3x';
$icon-checkbox-selected-3x-x: 321px;
$icon-checkbox-selected-3x-y: 135px;
$icon-checkbox-selected-3x-offset-x: -321px;
$icon-checkbox-selected-3x-offset-y: -135px;
$icon-checkbox-selected-3x-width: 42px;
$icon-checkbox-selected-3x-height: 42px;
$icon-checkbox-selected-3x-total-width: 423px;
$icon-checkbox-selected-3x-total-height: 402px;
$icon-checkbox-selected-3x-image: '../images/sprite@3x.png';
$icon-checkbox-selected-3x: (321px, 135px, -321px, -135px, 42px, 42px, 423px, 402px, '../images/sprite@3x.png', 'icon_checkbox_selected@3x', );
$icon-element-3x-name: 'icon_element@3x';
$icon-element-3x-x: 363px;
$icon-element-3x-y: 180px;
$icon-element-3x-offset-x: -363px;
$icon-element-3x-offset-y: -180px;
$icon-element-3x-width: 60px;
$icon-element-3x-height: 60px;
$icon-element-3x-total-width: 423px;
$icon-element-3x-total-height: 402px;
$icon-element-3x-image: '../images/sprite@3x.png';
$icon-element-3x: (363px, 180px, -363px, -180px, 60px, 60px, 423px, 402px, '../images/sprite@3x.png', 'icon_element@3x', );
$icon-element-selected-3x-name: 'icon_element_selected@3x';
$icon-element-selected-3x-x: 363px;
$icon-element-selected-3x-y: 240px;
$icon-element-selected-3x-offset-x: -363px;
$icon-element-selected-3x-offset-y: -240px;
$icon-element-selected-3x-width: 60px;
$icon-element-selected-3x-height: 60px;
$icon-element-selected-3x-total-width: 423px;
$icon-element-selected-3x-total-height: 402px;
$icon-element-selected-3x-image: '../images/sprite@3x.png';
$icon-element-selected-3x: (363px, 240px, -363px, -240px, 60px, 60px, 423px, 402px, '../images/sprite@3x.png', 'icon_element_selected@3x', );
$icon-eye-3x-name: 'icon_eye@3x';
$icon-eye-3x-x: 0px;
$icon-eye-3x-y: 243px;
$icon-eye-3x-offset-x: 0px;
$icon-eye-3x-offset-y: -243px;
$icon-eye-3x-width: 63px;
$icon-eye-3x-height: 63px;
$icon-eye-3x-total-width: 423px;
$icon-eye-3x-total-height: 402px;
$icon-eye-3x-image: '../images/sprite@3x.png';
$icon-eye-3x: (0px, 243px, 0px, -243px, 63px, 63px, 423px, 402px, '../images/sprite@3x.png', 'icon_eye@3x', );
$icon-favor-3x-name: 'icon_favor@3x';
$icon-favor-3x-x: 348px;
$icon-favor-3x-y: 306px;
$icon-favor-3x-offset-x: -348px;
$icon-favor-3x-offset-y: -306px;
$icon-favor-3x-width: 48px;
$icon-favor-3x-height: 48px;
$icon-favor-3x-total-width: 423px;
$icon-favor-3x-total-height: 402px;
$icon-favor-3x-image: '../images/sprite@3x.png';
$icon-favor-3x: (348px, 306px, -348px, -306px, 48px, 48px, 423px, 402px, '../images/sprite@3x.png', 'icon_favor@3x', );
$icon-gear-3x-name: 'icon_gear@3x';
$icon-gear-3x-x: 120px;
$icon-gear-3x-y: 306px;
$icon-gear-3x-offset-x: -120px;
$icon-gear-3x-offset-y: -306px;
$icon-gear-3x-width: 60px;
$icon-gear-3x-height: 60px;
$icon-gear-3x-total-width: 423px;
$icon-gear-3x-total-height: 402px;
$icon-gear-3x-image: '../images/sprite@3x.png';
$icon-gear-3x: (120px, 306px, -120px, -306px, 60px, 60px, 423px, 402px, '../images/sprite@3x.png', 'icon_gear@3x', );
$icon-label-3x-name: 'icon_label@3x';
$icon-label-3x-x: 0px;
$icon-label-3x-y: 366px;
$icon-label-3x-offset-x: 0px;
$icon-label-3x-offset-y: -366px;
$icon-label-3x-width: 36px;
$icon-label-3x-height: 36px;
$icon-label-3x-total-width: 423px;
$icon-label-3x-total-height: 402px;
$icon-label-3x-image: '../images/sprite@3x.png';
$icon-label-3x: (0px, 366px, 0px, -366px, 36px, 36px, 423px, 402px, '../images/sprite@3x.png', 'icon_label@3x', );
$icon-notice-3x-name: 'icon_notice@3x';
$icon-notice-3x-x: 180px;
$icon-notice-3x-y: 306px;
$icon-notice-3x-offset-x: -180px;
$icon-notice-3x-offset-y: -306px;
$icon-notice-3x-width: 60px;
$icon-notice-3x-height: 60px;
$icon-notice-3x-total-width: 423px;
$icon-notice-3x-total-height: 402px;
$icon-notice-3x-image: '../images/sprite@3x.png';
$icon-notice-3x: (180px, 306px, -180px, -306px, 60px, 60px, 423px, 402px, '../images/sprite@3x.png', 'icon_notice@3x', );
$icon-notice-selected-3x-name: 'icon_notice_selected@3x';
$icon-notice-selected-3x-x: 363px;
$icon-notice-selected-3x-y: 120px;
$icon-notice-selected-3x-offset-x: -363px;
$icon-notice-selected-3x-offset-y: -120px;
$icon-notice-selected-3x-width: 60px;
$icon-notice-selected-3x-height: 60px;
$icon-notice-selected-3x-total-width: 423px;
$icon-notice-selected-3x-total-height: 402px;
$icon-notice-selected-3x-image: '../images/sprite@3x.png';
$icon-notice-selected-3x: (363px, 120px, -363px, -120px, 60px, 60px, 423px, 402px, '../images/sprite@3x.png', 'icon_notice_selected@3x', );
$icon-plus-3x-name: 'icon_plus@3x';
$icon-plus-3x-x: 180px;
$icon-plus-3x-y: 93px;
$icon-plus-3x-offset-x: -180px;
$icon-plus-3x-offset-y: -93px;
$icon-plus-3x-width: 141px;
$icon-plus-3x-height: 141px;
$icon-plus-3x-total-width: 423px;
$icon-plus-3x-total-height: 402px;
$icon-plus-3x-image: '../images/sprite@3x.png';
$icon-plus-3x: (180px, 93px, -180px, -93px, 141px, 141px, 423px, 402px, '../images/sprite@3x.png', 'icon_plus@3x', );
$icon-polygons-3x-name: 'icon_polygons@3x';
$icon-polygons-3x-x: 240px;
$icon-polygons-3x-y: 306px;
$icon-polygons-3x-offset-x: -240px;
$icon-polygons-3x-offset-y: -306px;
$icon-polygons-3x-width: 54px;
$icon-polygons-3x-height: 54px;
$icon-polygons-3x-total-width: 423px;
$icon-polygons-3x-total-height: 402px;
$icon-polygons-3x-image: '../images/sprite@3x.png';
$icon-polygons-3x: (240px, 306px, -240px, -306px, 54px, 54px, 423px, 402px, '../images/sprite@3x.png', 'icon_polygons@3x', );
$icon-radio-large-3x-name: 'icon_radio_large@3x';
$icon-radio-large-3x-x: 243px;
$icon-radio-large-3x-y: 243px;
$icon-radio-large-3x-offset-x: -243px;
$icon-radio-large-3x-offset-y: -243px;
$icon-radio-large-3x-width: 60px;
$icon-radio-large-3x-height: 60px;
$icon-radio-large-3x-total-width: 423px;
$icon-radio-large-3x-total-height: 402px;
$icon-radio-large-3x-image: '../images/sprite@3x.png';
$icon-radio-large-3x: (243px, 243px, -243px, -243px, 60px, 60px, 423px, 402px, '../images/sprite@3x.png', 'icon_radio_large@3x', );
$icon-radio-large-selected-3x-name: 'icon_radio_large_selected@3x';
$icon-radio-large-selected-3x-x: 183px;
$icon-radio-large-selected-3x-y: 243px;
$icon-radio-large-selected-3x-offset-x: -183px;
$icon-radio-large-selected-3x-offset-y: -243px;
$icon-radio-large-selected-3x-width: 60px;
$icon-radio-large-selected-3x-height: 60px;
$icon-radio-large-selected-3x-total-width: 423px;
$icon-radio-large-selected-3x-total-height: 402px;
$icon-radio-large-selected-3x-image: '../images/sprite@3x.png';
$icon-radio-large-selected-3x: (183px, 243px, -183px, -243px, 60px, 60px, 423px, 402px, '../images/sprite@3x.png', 'icon_radio_large_selected@3x', );
$icon-search-3x-name: 'icon_search@3x';
$icon-search-3x-x: 0px;
$icon-search-3x-y: 306px;
$icon-search-3x-offset-x: 0px;
$icon-search-3x-offset-y: -306px;
$icon-search-3x-width: 60px;
$icon-search-3x-height: 60px;
$icon-search-3x-total-width: 423px;
$icon-search-3x-total-height: 402px;
$icon-search-3x-image: '../images/sprite@3x.png';
$icon-search-3x: (0px, 306px, 0px, -306px, 60px, 60px, 423px, 402px, '../images/sprite@3x.png', 'icon_search@3x', );
$icon-to-top-3x-name: 'icon_to_top@3x';
$icon-to-top-3x-x: 36px;
$icon-to-top-3x-y: 366px;
$icon-to-top-3x-offset-x: -36px;
$icon-to-top-3x-offset-y: -366px;
$icon-to-top-3x-width: 36px;
$icon-to-top-3x-height: 36px;
$icon-to-top-3x-total-width: 423px;
$icon-to-top-3x-total-height: 402px;
$icon-to-top-3x-image: '../images/sprite@3x.png';
$icon-to-top-3x: (36px, 366px, -36px, -366px, 36px, 36px, 423px, 402px, '../images/sprite@3x.png', 'icon_to_top@3x', );
$icon-upload-3x-name: 'icon_upload@3x';
$icon-upload-3x-x: 72px;
$icon-upload-3x-y: 366px;
$icon-upload-3x-offset-x: -72px;
$icon-upload-3x-offset-y: -366px;
$icon-upload-3x-width: 36px;
$icon-upload-3x-height: 36px;
$icon-upload-3x-total-width: 423px;
$icon-upload-3x-total-height: 402px;
$icon-upload-3x-image: '../images/sprite@3x.png';
$icon-upload-3x: (72px, 366px, -72px, -366px, 36px, 36px, 423px, 402px, '../images/sprite@3x.png', 'icon_upload@3x', );
$icon-upload-giant-3x-name: 'icon_upload_giant@3x';
$icon-upload-giant-3x-x: 0px;
$icon-upload-giant-3x-y: 93px;
$icon-upload-giant-3x-offset-x: 0px;
$icon-upload-giant-3x-offset-y: -93px;
$icon-upload-giant-3x-width: 180px;
$icon-upload-giant-3x-height: 150px;
$icon-upload-giant-3x-total-width: 423px;
$icon-upload-giant-3x-total-height: 402px;
$icon-upload-giant-3x-image: '../images/sprite@3x.png';
$icon-upload-giant-3x: (0px, 93px, 0px, -93px, 180px, 150px, 423px, 402px, '../images/sprite@3x.png', 'icon_upload_giant@3x', );
$icon-vertices-3x-name: 'icon_vertices@3x';
$icon-vertices-3x-x: 294px;
$icon-vertices-3x-y: 306px;
$icon-vertices-3x-offset-x: -294px;
$icon-vertices-3x-offset-y: -306px;
$icon-vertices-3x-width: 54px;
$icon-vertices-3x-height: 54px;
$icon-vertices-3x-total-width: 423px;
$icon-vertices-3x-total-height: 402px;
$icon-vertices-3x-image: '../images/sprite@3x.png';
$icon-vertices-3x: (294px, 306px, -294px, -306px, 54px, 54px, 423px, 402px, '../images/sprite@3x.png', 'icon_vertices@3x', );
$logo-3x-name: 'logo@3x';
$logo-3x-x: 0px;
$logo-3x-y: 0px;
$logo-3x-offset-x: 0px;
$logo-3x-offset-y: 0px;
$logo-3x-width: 363px;
$logo-3x-height: 93px;
$logo-3x-total-width: 423px;
$logo-3x-total-height: 402px;
$logo-3x-image: '../images/sprite@3x.png';
$logo-3x: (0px, 0px, 0px, 0px, 363px, 93px, 423px, 402px, '../images/sprite@3x.png', 'logo@3x', );
$spritesheet-width: 423px;
$spritesheet-height: 402px;
$spritesheet-image: '../images/sprite@3x.png';
$spritesheet-sprites: ($icon-account-3x, $icon-account-selected-3x, $icon-alert-3x, $icon-arrow-down-3x, $icon-cart-3x, $icon-cart-selected-3x, $icon-checkbox-3x, $icon-checkbox-dark-3x, $icon-checkbox-dark-selected-3x, $icon-checkbox-large-3x, $icon-checkbox-large-selected-3x, $icon-checkbox-selected-3x, $icon-element-3x, $icon-element-selected-3x, $icon-eye-3x, $icon-favor-3x, $icon-gear-3x, $icon-label-3x, $icon-notice-3x, $icon-notice-selected-3x, $icon-plus-3x, $icon-polygons-3x, $icon-radio-large-3x, $icon-radio-large-selected-3x, $icon-search-3x, $icon-to-top-3x, $icon-upload-3x, $icon-upload-giant-3x, $icon-vertices-3x, $logo-3x, );
$spritesheet: (423px, 402px, '../images/sprite@3x.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
