/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-account-name: 'icon_account';
$icon-account-x: 127px;
$icon-account-y: 96px;
$icon-account-offset-x: -127px;
$icon-account-offset-y: -96px;
$icon-account-width: 20px;
$icon-account-height: 20px;
$icon-account-total-width: 241px;
$icon-account-total-height: 145px;
$icon-account-image: '../images/sprite@1x.png';
$icon-account: (127px, 96px, -127px, -96px, 20px, 20px, 241px, 145px, '../images/sprite@1x.png', 'icon_account', );
$icon-account-selected-name: 'icon_account_selected';
$icon-account-selected-x: 187px;
$icon-account-selected-y: 96px;
$icon-account-selected-offset-x: -187px;
$icon-account-selected-offset-y: -96px;
$icon-account-selected-width: 20px;
$icon-account-selected-height: 20px;
$icon-account-selected-total-width: 241px;
$icon-account-selected-total-height: 145px;
$icon-account-selected-image: '../images/sprite@1x.png';
$icon-account-selected: (187px, 96px, -187px, -96px, 20px, 20px, 241px, 145px, '../images/sprite@1x.png', 'icon_account_selected', );
$icon-alert-name: 'icon_alert';
$icon-alert-x: 228px;
$icon-alert-y: 75px;
$icon-alert-offset-x: -228px;
$icon-alert-offset-y: -75px;
$icon-alert-width: 12px;
$icon-alert-height: 12px;
$icon-alert-total-width: 241px;
$icon-alert-total-height: 145px;
$icon-alert-image: '../images/sprite@1x.png';
$icon-alert: (228px, 75px, -228px, -75px, 12px, 12px, 241px, 145px, '../images/sprite@1x.png', 'icon_alert', );
$icon-alipay-name: 'icon_alipay';
$icon-alipay-x: 0px;
$icon-alipay-y: 36px;
$icon-alipay-offset-x: 0px;
$icon-alipay-offset-y: -36px;
$icon-alipay-width: 107px;
$icon-alipay-height: 39px;
$icon-alipay-total-width: 241px;
$icon-alipay-total-height: 145px;
$icon-alipay-image: '../images/sprite@1x.png';
$icon-alipay: (0px, 36px, 0px, -36px, 107px, 39px, 241px, 145px, '../images/sprite@1x.png', 'icon_alipay', );
$icon-arrow-down-name: 'icon_arrow_down';
$icon-arrow-down-x: 230px;
$icon-arrow-down-y: 57px;
$icon-arrow-down-offset-x: -230px;
$icon-arrow-down-offset-y: -57px;
$icon-arrow-down-width: 10px;
$icon-arrow-down-height: 4px;
$icon-arrow-down-total-width: 241px;
$icon-arrow-down-total-height: 145px;
$icon-arrow-down-image: '../images/sprite@1x.png';
$icon-arrow-down: (230px, 57px, -230px, -57px, 10px, 4px, 241px, 145px, '../images/sprite@1x.png', 'icon_arrow_down', );
$icon-cart-name: 'icon_cart';
$icon-cart-x: 168px;
$icon-cart-y: 75px;
$icon-cart-offset-x: -168px;
$icon-cart-offset-y: -75px;
$icon-cart-width: 20px;
$icon-cart-height: 20px;
$icon-cart-total-width: 241px;
$icon-cart-total-height: 145px;
$icon-cart-image: '../images/sprite@1x.png';
$icon-cart: (168px, 75px, -168px, -75px, 20px, 20px, 241px, 145px, '../images/sprite@1x.png', 'icon_cart', );
$icon-cart-selected-name: 'icon_cart_selected';
$icon-cart-selected-x: 107px;
$icon-cart-selected-y: 96px;
$icon-cart-selected-offset-x: -107px;
$icon-cart-selected-offset-y: -96px;
$icon-cart-selected-width: 20px;
$icon-cart-selected-height: 20px;
$icon-cart-selected-total-width: 241px;
$icon-cart-selected-total-height: 145px;
$icon-cart-selected-image: '../images/sprite@1x.png';
$icon-cart-selected: (107px, 96px, -107px, -96px, 20px, 20px, 241px, 145px, '../images/sprite@1x.png', 'icon_cart_selected', );
$icon-check-name: 'icon_check';
$icon-check-x: 186px;
$icon-check-y: 31px;
$icon-check-offset-x: -186px;
$icon-check-offset-y: -31px;
$icon-check-width: 26px;
$icon-check-height: 26px;
$icon-check-total-width: 241px;
$icon-check-total-height: 145px;
$icon-check-image: '../images/sprite@1x.png';
$icon-check: (186px, 31px, -186px, -31px, 26px, 26px, 241px, 145px, '../images/sprite@1x.png', 'icon_check', );
$icon-check-selected-name: 'icon_check_selected';
$icon-check-selected-x: 212px;
$icon-check-selected-y: 31px;
$icon-check-selected-offset-x: -212px;
$icon-check-selected-offset-y: -31px;
$icon-check-selected-width: 26px;
$icon-check-selected-height: 26px;
$icon-check-selected-total-width: 241px;
$icon-check-selected-total-height: 145px;
$icon-check-selected-image: '../images/sprite@1x.png';
$icon-check-selected: (212px, 31px, -212px, -31px, 26px, 26px, 241px, 145px, '../images/sprite@1x.png', 'icon_check_selected', );
$icon-checkbox-name: 'icon_checkbox';
$icon-checkbox-x: 202px;
$icon-checkbox-y: 57px;
$icon-checkbox-offset-x: -202px;
$icon-checkbox-offset-y: -57px;
$icon-checkbox-width: 14px;
$icon-checkbox-height: 14px;
$icon-checkbox-total-width: 241px;
$icon-checkbox-total-height: 145px;
$icon-checkbox-image: '../images/sprite@1x.png';
$icon-checkbox: (202px, 57px, -202px, -57px, 14px, 14px, 241px, 145px, '../images/sprite@1x.png', 'icon_checkbox', );
$icon-checkbox-dark-name: 'icon_checkbox_dark';
$icon-checkbox-dark-x: 107px;
$icon-checkbox-dark-y: 36px;
$icon-checkbox-dark-offset-x: -107px;
$icon-checkbox-dark-offset-y: -36px;
$icon-checkbox-dark-width: 12px;
$icon-checkbox-dark-height: 12px;
$icon-checkbox-dark-total-width: 241px;
$icon-checkbox-dark-total-height: 145px;
$icon-checkbox-dark-image: '../images/sprite@1x.png';
$icon-checkbox-dark: (107px, 36px, -107px, -36px, 12px, 12px, 241px, 145px, '../images/sprite@1x.png', 'icon_checkbox_dark', );
$icon-checkbox-dark-selected-name: 'icon_checkbox_dark_selected';
$icon-checkbox-dark-selected-x: 96px;
$icon-checkbox-dark-selected-y: 125px;
$icon-checkbox-dark-selected-offset-x: -96px;
$icon-checkbox-dark-selected-offset-y: -125px;
$icon-checkbox-dark-selected-width: 12px;
$icon-checkbox-dark-selected-height: 12px;
$icon-checkbox-dark-selected-total-width: 241px;
$icon-checkbox-dark-selected-total-height: 145px;
$icon-checkbox-dark-selected-image: '../images/sprite@1x.png';
$icon-checkbox-dark-selected: (96px, 125px, -96px, -125px, 12px, 12px, 241px, 145px, '../images/sprite@1x.png', 'icon_checkbox_dark_selected', );
$icon-checkbox-large-name: 'icon_checkbox_large';
$icon-checkbox-large-x: 188px;
$icon-checkbox-large-y: 75px;
$icon-checkbox-large-offset-x: -188px;
$icon-checkbox-large-offset-y: -75px;
$icon-checkbox-large-width: 20px;
$icon-checkbox-large-height: 20px;
$icon-checkbox-large-total-width: 241px;
$icon-checkbox-large-total-height: 145px;
$icon-checkbox-large-image: '../images/sprite@1x.png';
$icon-checkbox-large: (188px, 75px, -188px, -75px, 20px, 20px, 241px, 145px, '../images/sprite@1x.png', 'icon_checkbox_large', );
$icon-checkbox-large-selected-name: 'icon_checkbox_large_selected';
$icon-checkbox-large-selected-x: 208px;
$icon-checkbox-large-selected-y: 75px;
$icon-checkbox-large-selected-offset-x: -208px;
$icon-checkbox-large-selected-offset-y: -75px;
$icon-checkbox-large-selected-width: 20px;
$icon-checkbox-large-selected-height: 20px;
$icon-checkbox-large-selected-total-width: 241px;
$icon-checkbox-large-selected-total-height: 145px;
$icon-checkbox-large-selected-image: '../images/sprite@1x.png';
$icon-checkbox-large-selected: (208px, 75px, -208px, -75px, 20px, 20px, 241px, 145px, '../images/sprite@1x.png', 'icon_checkbox_large_selected', );
$icon-checkbox-selected-name: 'icon_checkbox_selected';
$icon-checkbox-selected-x: 227px;
$icon-checkbox-selected-y: 96px;
$icon-checkbox-selected-offset-x: -227px;
$icon-checkbox-selected-offset-y: -96px;
$icon-checkbox-selected-width: 14px;
$icon-checkbox-selected-height: 14px;
$icon-checkbox-selected-total-width: 241px;
$icon-checkbox-selected-total-height: 145px;
$icon-checkbox-selected-image: '../images/sprite@1x.png';
$icon-checkbox-selected: (227px, 96px, -227px, -96px, 14px, 14px, 241px, 145px, '../images/sprite@1x.png', 'icon_checkbox_selected', );
$icon-creditcard-name: 'icon_creditcard';
$icon-creditcard-x: 120px;
$icon-creditcard-y: 31px;
$icon-creditcard-offset-x: -120px;
$icon-creditcard-offset-y: -31px;
$icon-creditcard-width: 66px;
$icon-creditcard-height: 42px;
$icon-creditcard-total-width: 241px;
$icon-creditcard-total-height: 145px;
$icon-creditcard-image: '../images/sprite@1x.png';
$icon-creditcard: (120px, 31px, -120px, -31px, 66px, 42px, 241px, 145px, '../images/sprite@1x.png', 'icon_creditcard', );
$icon-cross-name: 'icon_cross';
$icon-cross-x: 216px;
$icon-cross-y: 57px;
$icon-cross-offset-x: -216px;
$icon-cross-offset-y: -57px;
$icon-cross-width: 14px;
$icon-cross-height: 14px;
$icon-cross-total-width: 241px;
$icon-cross-total-height: 145px;
$icon-cross-image: '../images/sprite@1x.png';
$icon-cross: (216px, 57px, -216px, -57px, 14px, 14px, 241px, 145px, '../images/sprite@1x.png', 'icon_cross', );
$icon-element-name: 'icon_element';
$icon-element-x: 167px;
$icon-element-y: 96px;
$icon-element-offset-x: -167px;
$icon-element-offset-y: -96px;
$icon-element-width: 20px;
$icon-element-height: 20px;
$icon-element-total-width: 241px;
$icon-element-total-height: 145px;
$icon-element-image: '../images/sprite@1x.png';
$icon-element: (167px, 96px, -167px, -96px, 20px, 20px, 241px, 145px, '../images/sprite@1x.png', 'icon_element', );
$icon-element-selected-name: 'icon_element_selected';
$icon-element-selected-x: 40px;
$icon-element-selected-y: 125px;
$icon-element-selected-offset-x: -40px;
$icon-element-selected-offset-y: -125px;
$icon-element-selected-width: 20px;
$icon-element-selected-height: 20px;
$icon-element-selected-total-width: 241px;
$icon-element-selected-total-height: 145px;
$icon-element-selected-image: '../images/sprite@1x.png';
$icon-element-selected: (40px, 125px, -40px, -125px, 20px, 20px, 241px, 145px, '../images/sprite@1x.png', 'icon_element_selected', );
$icon-eye-name: 'icon_eye';
$icon-eye-x: 107px;
$icon-eye-y: 75px;
$icon-eye-offset-x: -107px;
$icon-eye-offset-y: -75px;
$icon-eye-width: 21px;
$icon-eye-height: 21px;
$icon-eye-total-width: 241px;
$icon-eye-total-height: 145px;
$icon-eye-image: '../images/sprite@1x.png';
$icon-eye: (107px, 75px, -107px, -75px, 21px, 21px, 241px, 145px, '../images/sprite@1x.png', 'icon_eye', );
$icon-favor-name: 'icon_favor';
$icon-favor-x: 186px;
$icon-favor-y: 57px;
$icon-favor-offset-x: -186px;
$icon-favor-offset-y: -57px;
$icon-favor-width: 16px;
$icon-favor-height: 16px;
$icon-favor-total-width: 241px;
$icon-favor-total-height: 145px;
$icon-favor-image: '../images/sprite@1x.png';
$icon-favor: (186px, 57px, -186px, -57px, 16px, 16px, 241px, 145px, '../images/sprite@1x.png', 'icon_favor', );
$icon-gear-name: 'icon_gear';
$icon-gear-x: 20px;
$icon-gear-y: 125px;
$icon-gear-offset-x: -20px;
$icon-gear-offset-y: -125px;
$icon-gear-width: 20px;
$icon-gear-height: 20px;
$icon-gear-total-width: 241px;
$icon-gear-total-height: 145px;
$icon-gear-image: '../images/sprite@1x.png';
$icon-gear: (20px, 125px, -20px, -125px, 20px, 20px, 241px, 145px, '../images/sprite@1x.png', 'icon_gear', );
$icon-label-name: 'icon_label';
$icon-label-x: 108px;
$icon-label-y: 125px;
$icon-label-offset-x: -108px;
$icon-label-offset-y: -125px;
$icon-label-width: 12px;
$icon-label-height: 12px;
$icon-label-total-width: 241px;
$icon-label-total-height: 145px;
$icon-label-image: '../images/sprite@1x.png';
$icon-label: (108px, 125px, -108px, -125px, 12px, 12px, 241px, 145px, '../images/sprite@1x.png', 'icon_label', );
$icon-notice-name: 'icon_notice';
$icon-notice-x: 0px;
$icon-notice-y: 125px;
$icon-notice-offset-x: 0px;
$icon-notice-offset-y: -125px;
$icon-notice-width: 20px;
$icon-notice-height: 20px;
$icon-notice-total-width: 241px;
$icon-notice-total-height: 145px;
$icon-notice-image: '../images/sprite@1x.png';
$icon-notice: (0px, 125px, 0px, -125px, 20px, 20px, 241px, 145px, '../images/sprite@1x.png', 'icon_notice', );
$icon-notice-selected-name: 'icon_notice_selected';
$icon-notice-selected-x: 147px;
$icon-notice-selected-y: 96px;
$icon-notice-selected-offset-x: -147px;
$icon-notice-selected-offset-y: -96px;
$icon-notice-selected-width: 20px;
$icon-notice-selected-height: 20px;
$icon-notice-selected-total-width: 241px;
$icon-notice-selected-total-height: 145px;
$icon-notice-selected-image: '../images/sprite@1x.png';
$icon-notice-selected: (147px, 96px, -147px, -96px, 20px, 20px, 241px, 145px, '../images/sprite@1x.png', 'icon_notice_selected', );
$icon-paypal-name: 'icon_paypal';
$icon-paypal-x: 0px;
$icon-paypal-y: 0px;
$icon-paypal-offset-x: 0px;
$icon-paypal-offset-y: 0px;
$icon-paypal-width: 120px;
$icon-paypal-height: 36px;
$icon-paypal-total-width: 241px;
$icon-paypal-total-height: 145px;
$icon-paypal-image: '../images/sprite@1x.png';
$icon-paypal: (0px, 0px, 0px, 0px, 120px, 36px, 241px, 145px, '../images/sprite@1x.png', 'icon_paypal', );
$icon-plus-name: 'icon_plus';
$icon-plus-x: 60px;
$icon-plus-y: 75px;
$icon-plus-offset-x: -60px;
$icon-plus-offset-y: -75px;
$icon-plus-width: 47px;
$icon-plus-height: 47px;
$icon-plus-total-width: 241px;
$icon-plus-total-height: 145px;
$icon-plus-image: '../images/sprite@1x.png';
$icon-plus: (60px, 75px, -60px, -75px, 47px, 47px, 241px, 145px, '../images/sprite@1x.png', 'icon_plus', );
$icon-polygons-name: 'icon_polygons';
$icon-polygons-x: 78px;
$icon-polygons-y: 125px;
$icon-polygons-offset-x: -78px;
$icon-polygons-offset-y: -125px;
$icon-polygons-width: 18px;
$icon-polygons-height: 18px;
$icon-polygons-total-width: 241px;
$icon-polygons-total-height: 145px;
$icon-polygons-image: '../images/sprite@1x.png';
$icon-polygons: (78px, 125px, -78px, -125px, 18px, 18px, 241px, 145px, '../images/sprite@1x.png', 'icon_polygons', );
$icon-radio-large-name: 'icon_radio_large';
$icon-radio-large-x: 148px;
$icon-radio-large-y: 75px;
$icon-radio-large-offset-x: -148px;
$icon-radio-large-offset-y: -75px;
$icon-radio-large-width: 20px;
$icon-radio-large-height: 20px;
$icon-radio-large-total-width: 241px;
$icon-radio-large-total-height: 145px;
$icon-radio-large-image: '../images/sprite@1x.png';
$icon-radio-large: (148px, 75px, -148px, -75px, 20px, 20px, 241px, 145px, '../images/sprite@1x.png', 'icon_radio_large', );
$icon-radio-large-selected-name: 'icon_radio_large_selected';
$icon-radio-large-selected-x: 128px;
$icon-radio-large-selected-y: 75px;
$icon-radio-large-selected-offset-x: -128px;
$icon-radio-large-selected-offset-y: -75px;
$icon-radio-large-selected-width: 20px;
$icon-radio-large-selected-height: 20px;
$icon-radio-large-selected-total-width: 241px;
$icon-radio-large-selected-total-height: 145px;
$icon-radio-large-selected-image: '../images/sprite@1x.png';
$icon-radio-large-selected: (128px, 75px, -128px, -75px, 20px, 20px, 241px, 145px, '../images/sprite@1x.png', 'icon_radio_large_selected', );
$icon-search-name: 'icon_search';
$icon-search-x: 207px;
$icon-search-y: 96px;
$icon-search-offset-x: -207px;
$icon-search-offset-y: -96px;
$icon-search-width: 20px;
$icon-search-height: 20px;
$icon-search-total-width: 241px;
$icon-search-total-height: 145px;
$icon-search-image: '../images/sprite@1x.png';
$icon-search: (207px, 96px, -207px, -96px, 20px, 20px, 241px, 145px, '../images/sprite@1x.png', 'icon_search', );
$icon-to-top-name: 'icon_to_top';
$icon-to-top-x: 107px;
$icon-to-top-y: 48px;
$icon-to-top-offset-x: -107px;
$icon-to-top-offset-y: -48px;
$icon-to-top-width: 12px;
$icon-to-top-height: 12px;
$icon-to-top-total-width: 241px;
$icon-to-top-total-height: 145px;
$icon-to-top-image: '../images/sprite@1x.png';
$icon-to-top: (107px, 48px, -107px, -48px, 12px, 12px, 241px, 145px, '../images/sprite@1x.png', 'icon_to_top', );
$icon-upload-name: 'icon_upload';
$icon-upload-x: 107px;
$icon-upload-y: 60px;
$icon-upload-offset-x: -107px;
$icon-upload-offset-y: -60px;
$icon-upload-width: 12px;
$icon-upload-height: 12px;
$icon-upload-total-width: 241px;
$icon-upload-total-height: 145px;
$icon-upload-image: '../images/sprite@1x.png';
$icon-upload: (107px, 60px, -107px, -60px, 12px, 12px, 241px, 145px, '../images/sprite@1x.png', 'icon_upload', );
$icon-upload-giant-name: 'icon_upload_giant';
$icon-upload-giant-x: 0px;
$icon-upload-giant-y: 75px;
$icon-upload-giant-offset-x: 0px;
$icon-upload-giant-offset-y: -75px;
$icon-upload-giant-width: 60px;
$icon-upload-giant-height: 50px;
$icon-upload-giant-total-width: 241px;
$icon-upload-giant-total-height: 145px;
$icon-upload-giant-image: '../images/sprite@1x.png';
$icon-upload-giant: (0px, 75px, 0px, -75px, 60px, 50px, 241px, 145px, '../images/sprite@1x.png', 'icon_upload_giant', );
$icon-vertices-name: 'icon_vertices';
$icon-vertices-x: 60px;
$icon-vertices-y: 125px;
$icon-vertices-offset-x: -60px;
$icon-vertices-offset-y: -125px;
$icon-vertices-width: 18px;
$icon-vertices-height: 18px;
$icon-vertices-total-width: 241px;
$icon-vertices-total-height: 145px;
$icon-vertices-image: '../images/sprite@1x.png';
$icon-vertices: (60px, 125px, -60px, -125px, 18px, 18px, 241px, 145px, '../images/sprite@1x.png', 'icon_vertices', );
$logo-name: 'logo';
$logo-x: 120px;
$logo-y: 0px;
$logo-offset-x: -120px;
$logo-offset-y: 0px;
$logo-width: 121px;
$logo-height: 31px;
$logo-total-width: 241px;
$logo-total-height: 145px;
$logo-image: '../images/sprite@1x.png';
$logo: (120px, 0px, -120px, 0px, 121px, 31px, 241px, 145px, '../images/sprite@1x.png', 'logo', );
$spritesheet-width: 241px;
$spritesheet-height: 145px;
$spritesheet-image: '../images/sprite@1x.png';
$spritesheet-sprites: ($icon-account, $icon-account-selected, $icon-alert, $icon-alipay, $icon-arrow-down, $icon-cart, $icon-cart-selected, $icon-check, $icon-check-selected, $icon-checkbox, $icon-checkbox-dark, $icon-checkbox-dark-selected, $icon-checkbox-large, $icon-checkbox-large-selected, $icon-checkbox-selected, $icon-creditcard, $icon-cross, $icon-element, $icon-element-selected, $icon-eye, $icon-favor, $icon-gear, $icon-label, $icon-notice, $icon-notice-selected, $icon-paypal, $icon-plus, $icon-polygons, $icon-radio-large, $icon-radio-large-selected, $icon-search, $icon-to-top, $icon-upload, $icon-upload-giant, $icon-vertices, $logo, );
$spritesheet: (241px, 145px, '../images/sprite@1x.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
