/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-account-3x-name: 'icon_account@3x';
$icon-account-3x-x: 240px;
$icon-account-3x-y: 375px;
$icon-account-3x-offset-x: -240px;
$icon-account-3x-offset-y: -375px;
$icon-account-3x-width: 60px;
$icon-account-3x-height: 60px;
$icon-account-3x-total-width: 723px;
$icon-account-3x-total-height: 435px;
$icon-account-3x-image: '../images/sprite@3x.png';
$icon-account-3x: (240px, 375px, -240px, -375px, 60px, 60px, 723px, 435px, '../images/sprite@3x.png', 'icon_account@3x', );
$icon-account-selected-3x-name: 'icon_account_selected@3x';
$icon-account-selected-3x-x: 120px;
$icon-account-selected-3x-y: 375px;
$icon-account-selected-3x-offset-x: -120px;
$icon-account-selected-3x-offset-y: -375px;
$icon-account-selected-3x-width: 60px;
$icon-account-selected-3x-height: 60px;
$icon-account-selected-3x-total-width: 723px;
$icon-account-selected-3x-total-height: 435px;
$icon-account-selected-3x-image: '../images/sprite@3x.png';
$icon-account-selected-3x: (120px, 375px, -120px, -375px, 60px, 60px, 723px, 435px, '../images/sprite@3x.png', 'icon_account_selected@3x', );
$icon-alert-3x-name: 'icon_alert@3x';
$icon-alert-3x-x: 498px;
$icon-alert-3x-y: 225px;
$icon-alert-3x-offset-x: -498px;
$icon-alert-3x-offset-y: -225px;
$icon-alert-3x-width: 36px;
$icon-alert-3x-height: 36px;
$icon-alert-3x-total-width: 723px;
$icon-alert-3x-total-height: 435px;
$icon-alert-3x-image: '../images/sprite@3x.png';
$icon-alert-3x: (498px, 225px, -498px, -225px, 36px, 36px, 723px, 435px, '../images/sprite@3x.png', 'icon_alert@3x', );
$icon-alipay-3x-name: 'icon_alipay@3x';
$icon-alipay-3x-x: 0px;
$icon-alipay-3x-y: 108px;
$icon-alipay-3x-offset-x: 0px;
$icon-alipay-3x-offset-y: -108px;
$icon-alipay-3x-width: 321px;
$icon-alipay-3x-height: 117px;
$icon-alipay-3x-total-width: 723px;
$icon-alipay-3x-total-height: 435px;
$icon-alipay-3x-image: '../images/sprite@3x.png';
$icon-alipay-3x: (0px, 108px, 0px, -108px, 321px, 117px, 723px, 435px, '../images/sprite@3x.png', 'icon_alipay@3x', );
$icon-arrow-down-3x-name: 'icon_arrow_down@3x';
$icon-arrow-down-3x-x: 690px;
$icon-arrow-down-3x-y: 171px;
$icon-arrow-down-3x-offset-x: -690px;
$icon-arrow-down-3x-offset-y: -171px;
$icon-arrow-down-3x-width: 30px;
$icon-arrow-down-3x-height: 12px;
$icon-arrow-down-3x-total-width: 723px;
$icon-arrow-down-3x-total-height: 435px;
$icon-arrow-down-3x-image: '../images/sprite@3x.png';
$icon-arrow-down-3x: (690px, 171px, -690px, -171px, 30px, 12px, 723px, 435px, '../images/sprite@3x.png', 'icon_arrow_down@3x', );
$icon-bank-card-3x-name: 'icon_bank_card@3x';
$icon-bank-card-3x-x: 384px;
$icon-bank-card-3x-y: 225px;
$icon-bank-card-3x-offset-x: -384px;
$icon-bank-card-3x-offset-y: -225px;
$icon-bank-card-3x-width: 72px;
$icon-bank-card-3x-height: 51px;
$icon-bank-card-3x-total-width: 723px;
$icon-bank-card-3x-total-height: 435px;
$icon-bank-card-3x-image: '../images/sprite@3x.png';
$icon-bank-card-3x: (384px, 225px, -384px, -225px, 72px, 51px, 723px, 435px, '../images/sprite@3x.png', 'icon_bank_card@3x', );
$icon-cart-3x-name: 'icon_cart@3x';
$icon-cart-3x-x: 441px;
$icon-cart-3x-y: 288px;
$icon-cart-3x-offset-x: -441px;
$icon-cart-3x-offset-y: -288px;
$icon-cart-3x-width: 60px;
$icon-cart-3x-height: 60px;
$icon-cart-3x-total-width: 723px;
$icon-cart-3x-total-height: 435px;
$icon-cart-3x-image: '../images/sprite@3x.png';
$icon-cart-3x: (441px, 288px, -441px, -288px, 60px, 60px, 723px, 435px, '../images/sprite@3x.png', 'icon_cart@3x', );
$icon-cart-selected-3x-name: 'icon_cart_selected@3x';
$icon-cart-selected-3x-x: 621px;
$icon-cart-selected-3x-y: 288px;
$icon-cart-selected-3x-offset-x: -621px;
$icon-cart-selected-3x-offset-y: -288px;
$icon-cart-selected-3x-width: 60px;
$icon-cart-selected-3x-height: 60px;
$icon-cart-selected-3x-total-width: 723px;
$icon-cart-selected-3x-total-height: 435px;
$icon-cart-selected-3x-image: '../images/sprite@3x.png';
$icon-cart-selected-3x: (621px, 288px, -621px, -288px, 60px, 60px, 723px, 435px, '../images/sprite@3x.png', 'icon_cart_selected@3x', );
$icon-check-3x-name: 'icon_check@3x';
$icon-check-3x-x: 558px;
$icon-check-3x-y: 93px;
$icon-check-3x-offset-x: -558px;
$icon-check-3x-offset-y: -93px;
$icon-check-3x-width: 78px;
$icon-check-3x-height: 78px;
$icon-check-3x-total-width: 723px;
$icon-check-3x-total-height: 435px;
$icon-check-3x-image: '../images/sprite@3x.png';
$icon-check-3x: (558px, 93px, -558px, -93px, 78px, 78px, 723px, 435px, '../images/sprite@3x.png', 'icon_check@3x', );
$icon-check-selected-3x-name: 'icon_check_selected@3x';
$icon-check-selected-3x-x: 636px;
$icon-check-selected-3x-y: 93px;
$icon-check-selected-3x-offset-x: -636px;
$icon-check-selected-3x-offset-y: -93px;
$icon-check-selected-3x-width: 78px;
$icon-check-selected-3x-height: 78px;
$icon-check-selected-3x-total-width: 723px;
$icon-check-selected-3x-total-height: 435px;
$icon-check-selected-3x-image: '../images/sprite@3x.png';
$icon-check-selected-3x: (636px, 93px, -636px, -93px, 78px, 78px, 723px, 435px, '../images/sprite@3x.png', 'icon_check_selected@3x', );
$icon-checkbox-3x-name: 'icon_checkbox@3x';
$icon-checkbox-3x-x: 606px;
$icon-checkbox-3x-y: 171px;
$icon-checkbox-3x-offset-x: -606px;
$icon-checkbox-3x-offset-y: -171px;
$icon-checkbox-3x-width: 42px;
$icon-checkbox-3x-height: 42px;
$icon-checkbox-3x-total-width: 723px;
$icon-checkbox-3x-total-height: 435px;
$icon-checkbox-3x-image: '../images/sprite@3x.png';
$icon-checkbox-3x: (606px, 171px, -606px, -171px, 42px, 42px, 723px, 435px, '../images/sprite@3x.png', 'icon_checkbox@3x', );
$icon-checkbox-dark-3x-name: 'icon_checkbox_dark@3x';
$icon-checkbox-dark-3x-x: 321px;
$icon-checkbox-dark-3x-y: 108px;
$icon-checkbox-dark-3x-offset-x: -321px;
$icon-checkbox-dark-3x-offset-y: -108px;
$icon-checkbox-dark-3x-width: 36px;
$icon-checkbox-dark-3x-height: 36px;
$icon-checkbox-dark-3x-total-width: 723px;
$icon-checkbox-dark-3x-total-height: 435px;
$icon-checkbox-dark-3x-image: '../images/sprite@3x.png';
$icon-checkbox-dark-3x: (321px, 108px, -321px, -108px, 36px, 36px, 723px, 435px, '../images/sprite@3x.png', 'icon_checkbox_dark@3x', );
$icon-checkbox-dark-selected-3x-name: 'icon_checkbox_dark_selected@3x';
$icon-checkbox-dark-selected-3x-x: 534px;
$icon-checkbox-dark-selected-3x-y: 225px;
$icon-checkbox-dark-selected-3x-offset-x: -534px;
$icon-checkbox-dark-selected-3x-offset-y: -225px;
$icon-checkbox-dark-selected-3x-width: 36px;
$icon-checkbox-dark-selected-3x-height: 36px;
$icon-checkbox-dark-selected-3x-total-width: 723px;
$icon-checkbox-dark-selected-3x-total-height: 435px;
$icon-checkbox-dark-selected-3x-image: '../images/sprite@3x.png';
$icon-checkbox-dark-selected-3x: (534px, 225px, -534px, -225px, 36px, 36px, 723px, 435px, '../images/sprite@3x.png', 'icon_checkbox_dark_selected@3x', );
$icon-checkbox-large-3x-name: 'icon_checkbox_large@3x';
$icon-checkbox-large-3x-x: 501px;
$icon-checkbox-large-3x-y: 288px;
$icon-checkbox-large-3x-offset-x: -501px;
$icon-checkbox-large-3x-offset-y: -288px;
$icon-checkbox-large-3x-width: 60px;
$icon-checkbox-large-3x-height: 60px;
$icon-checkbox-large-3x-total-width: 723px;
$icon-checkbox-large-3x-total-height: 435px;
$icon-checkbox-large-3x-image: '../images/sprite@3x.png';
$icon-checkbox-large-3x: (501px, 288px, -501px, -288px, 60px, 60px, 723px, 435px, '../images/sprite@3x.png', 'icon_checkbox_large@3x', );
$icon-checkbox-large-selected-3x-name: 'icon_checkbox_large_selected@3x';
$icon-checkbox-large-selected-3x-x: 561px;
$icon-checkbox-large-selected-3x-y: 288px;
$icon-checkbox-large-selected-3x-offset-x: -561px;
$icon-checkbox-large-selected-3x-offset-y: -288px;
$icon-checkbox-large-selected-3x-width: 60px;
$icon-checkbox-large-selected-3x-height: 60px;
$icon-checkbox-large-selected-3x-total-width: 723px;
$icon-checkbox-large-selected-3x-total-height: 435px;
$icon-checkbox-large-selected-3x-image: '../images/sprite@3x.png';
$icon-checkbox-large-selected-3x: (561px, 288px, -561px, -288px, 60px, 60px, 723px, 435px, '../images/sprite@3x.png', 'icon_checkbox_large_selected@3x', );
$icon-checkbox-selected-3x-name: 'icon_checkbox_selected@3x';
$icon-checkbox-selected-3x-x: 456px;
$icon-checkbox-selected-3x-y: 225px;
$icon-checkbox-selected-3x-offset-x: -456px;
$icon-checkbox-selected-3x-offset-y: -225px;
$icon-checkbox-selected-3x-width: 42px;
$icon-checkbox-selected-3x-height: 42px;
$icon-checkbox-selected-3x-total-width: 723px;
$icon-checkbox-selected-3x-total-height: 435px;
$icon-checkbox-selected-3x-image: '../images/sprite@3x.png';
$icon-checkbox-selected-3x: (456px, 225px, -456px, -225px, 42px, 42px, 723px, 435px, '../images/sprite@3x.png', 'icon_checkbox_selected@3x', );
$icon-corss-3x-name: 'icon_corss@3x';
$icon-corss-3x-x: 648px;
$icon-corss-3x-y: 171px;
$icon-corss-3x-offset-x: -648px;
$icon-corss-3x-offset-y: -171px;
$icon-corss-3x-width: 42px;
$icon-corss-3x-height: 42px;
$icon-corss-3x-total-width: 723px;
$icon-corss-3x-total-height: 435px;
$icon-corss-3x-image: '../images/sprite@3x.png';
$icon-corss-3x: (648px, 171px, -648px, -171px, 42px, 42px, 723px, 435px, '../images/sprite@3x.png', 'icon_corss@3x', );
$icon-creditcard-3x-name: 'icon_creditcard@3x';
$icon-creditcard-3x-x: 360px;
$icon-creditcard-3x-y: 93px;
$icon-creditcard-3x-offset-x: -360px;
$icon-creditcard-3x-offset-y: -93px;
$icon-creditcard-3x-width: 198px;
$icon-creditcard-3x-height: 126px;
$icon-creditcard-3x-total-width: 723px;
$icon-creditcard-3x-total-height: 435px;
$icon-creditcard-3x-image: '../images/sprite@3x.png';
$icon-creditcard-3x: (360px, 93px, -360px, -93px, 198px, 126px, 723px, 435px, '../images/sprite@3x.png', 'icon_creditcard@3x', );
$icon-element-3x-name: 'icon_element@3x';
$icon-element-3x-x: 420px;
$icon-element-3x-y: 375px;
$icon-element-3x-offset-x: -420px;
$icon-element-3x-offset-y: -375px;
$icon-element-3x-width: 60px;
$icon-element-3x-height: 60px;
$icon-element-3x-total-width: 723px;
$icon-element-3x-total-height: 435px;
$icon-element-3x-image: '../images/sprite@3x.png';
$icon-element-3x: (420px, 375px, -420px, -375px, 60px, 60px, 723px, 435px, '../images/sprite@3x.png', 'icon_element@3x', );
$icon-element-selected-3x-name: 'icon_element_selected@3x';
$icon-element-selected-3x-x: 180px;
$icon-element-selected-3x-y: 375px;
$icon-element-selected-3x-offset-x: -180px;
$icon-element-selected-3x-offset-y: -375px;
$icon-element-selected-3x-width: 60px;
$icon-element-selected-3x-height: 60px;
$icon-element-selected-3x-total-width: 723px;
$icon-element-selected-3x-total-height: 435px;
$icon-element-selected-3x-image: '../images/sprite@3x.png';
$icon-element-selected-3x: (180px, 375px, -180px, -375px, 60px, 60px, 723px, 435px, '../images/sprite@3x.png', 'icon_element_selected@3x', );
$icon-eye-3x-name: 'icon_eye@3x';
$icon-eye-3x-x: 321px;
$icon-eye-3x-y: 225px;
$icon-eye-3x-offset-x: -321px;
$icon-eye-3x-offset-y: -225px;
$icon-eye-3x-width: 63px;
$icon-eye-3x-height: 63px;
$icon-eye-3x-total-width: 723px;
$icon-eye-3x-total-height: 435px;
$icon-eye-3x-image: '../images/sprite@3x.png';
$icon-eye-3x: (321px, 225px, -321px, -225px, 63px, 63px, 723px, 435px, '../images/sprite@3x.png', 'icon_eye@3x', );
$icon-favor-3x-name: 'icon_favor@3x';
$icon-favor-3x-x: 558px;
$icon-favor-3x-y: 171px;
$icon-favor-3x-offset-x: -558px;
$icon-favor-3x-offset-y: -171px;
$icon-favor-3x-width: 48px;
$icon-favor-3x-height: 48px;
$icon-favor-3x-total-width: 723px;
$icon-favor-3x-total-height: 435px;
$icon-favor-3x-image: '../images/sprite@3x.png';
$icon-favor-3x: (558px, 171px, -558px, -171px, 48px, 48px, 723px, 435px, '../images/sprite@3x.png', 'icon_favor@3x', );
$icon-gear-3x-name: 'icon_gear@3x';
$icon-gear-3x-x: 360px;
$icon-gear-3x-y: 375px;
$icon-gear-3x-offset-x: -360px;
$icon-gear-3x-offset-y: -375px;
$icon-gear-3x-width: 60px;
$icon-gear-3x-height: 60px;
$icon-gear-3x-total-width: 723px;
$icon-gear-3x-total-height: 435px;
$icon-gear-3x-image: '../images/sprite@3x.png';
$icon-gear-3x: (360px, 375px, -360px, -375px, 60px, 60px, 723px, 435px, '../images/sprite@3x.png', 'icon_gear@3x', );
$icon-label-3x-name: 'icon_label@3x';
$icon-label-3x-x: 570px;
$icon-label-3x-y: 225px;
$icon-label-3x-offset-x: -570px;
$icon-label-3x-offset-y: -225px;
$icon-label-3x-width: 36px;
$icon-label-3x-height: 36px;
$icon-label-3x-total-width: 723px;
$icon-label-3x-total-height: 435px;
$icon-label-3x-image: '../images/sprite@3x.png';
$icon-label-3x: (570px, 225px, -570px, -225px, 36px, 36px, 723px, 435px, '../images/sprite@3x.png', 'icon_label@3x', );
$icon-notice-3x-name: 'icon_notice@3x';
$icon-notice-3x-x: 300px;
$icon-notice-3x-y: 375px;
$icon-notice-3x-offset-x: -300px;
$icon-notice-3x-offset-y: -375px;
$icon-notice-3x-width: 60px;
$icon-notice-3x-height: 60px;
$icon-notice-3x-total-width: 723px;
$icon-notice-3x-total-height: 435px;
$icon-notice-3x-image: '../images/sprite@3x.png';
$icon-notice-3x: (300px, 375px, -300px, -375px, 60px, 60px, 723px, 435px, '../images/sprite@3x.png', 'icon_notice@3x', );
$icon-notice-selected-3x-name: 'icon_notice_selected@3x';
$icon-notice-selected-3x-x: 0px;
$icon-notice-selected-3x-y: 375px;
$icon-notice-selected-3x-offset-x: 0px;
$icon-notice-selected-3x-offset-y: -375px;
$icon-notice-selected-3x-width: 60px;
$icon-notice-selected-3x-height: 60px;
$icon-notice-selected-3x-total-width: 723px;
$icon-notice-selected-3x-total-height: 435px;
$icon-notice-selected-3x-image: '../images/sprite@3x.png';
$icon-notice-selected-3x: (0px, 375px, 0px, -375px, 60px, 60px, 723px, 435px, '../images/sprite@3x.png', 'icon_notice_selected@3x', );
$icon-paypal-3x-name: 'icon_paypal@3x';
$icon-paypal-3x-x: 0px;
$icon-paypal-3x-y: 0px;
$icon-paypal-3x-offset-x: 0px;
$icon-paypal-3x-offset-y: 0px;
$icon-paypal-3x-width: 360px;
$icon-paypal-3x-height: 108px;
$icon-paypal-3x-total-width: 723px;
$icon-paypal-3x-total-height: 435px;
$icon-paypal-3x-image: '../images/sprite@3x.png';
$icon-paypal-3x: (0px, 0px, 0px, 0px, 360px, 108px, 723px, 435px, '../images/sprite@3x.png', 'icon_paypal@3x', );
$icon-plus-3x-name: 'icon_plus@3x';
$icon-plus-3x-x: 180px;
$icon-plus-3x-y: 225px;
$icon-plus-3x-offset-x: -180px;
$icon-plus-3x-offset-y: -225px;
$icon-plus-3x-width: 141px;
$icon-plus-3x-height: 141px;
$icon-plus-3x-total-width: 723px;
$icon-plus-3x-total-height: 435px;
$icon-plus-3x-image: '../images/sprite@3x.png';
$icon-plus-3x: (180px, 225px, -180px, -225px, 141px, 141px, 723px, 435px, '../images/sprite@3x.png', 'icon_plus@3x', );
$icon-polygons-3x-name: 'icon_polygons@3x';
$icon-polygons-3x-x: 534px;
$icon-polygons-3x-y: 375px;
$icon-polygons-3x-offset-x: -534px;
$icon-polygons-3x-offset-y: -375px;
$icon-polygons-3x-width: 54px;
$icon-polygons-3x-height: 54px;
$icon-polygons-3x-total-width: 723px;
$icon-polygons-3x-total-height: 435px;
$icon-polygons-3x-image: '../images/sprite@3x.png';
$icon-polygons-3x: (534px, 375px, -534px, -375px, 54px, 54px, 723px, 435px, '../images/sprite@3x.png', 'icon_polygons@3x', );
$icon-radio-large-3x-name: 'icon_radio_large@3x';
$icon-radio-large-3x-x: 381px;
$icon-radio-large-3x-y: 288px;
$icon-radio-large-3x-offset-x: -381px;
$icon-radio-large-3x-offset-y: -288px;
$icon-radio-large-3x-width: 60px;
$icon-radio-large-3x-height: 60px;
$icon-radio-large-3x-total-width: 723px;
$icon-radio-large-3x-total-height: 435px;
$icon-radio-large-3x-image: '../images/sprite@3x.png';
$icon-radio-large-3x: (381px, 288px, -381px, -288px, 60px, 60px, 723px, 435px, '../images/sprite@3x.png', 'icon_radio_large@3x', );
$icon-radio-large-selected-3x-name: 'icon_radio_large_selected@3x';
$icon-radio-large-selected-3x-x: 321px;
$icon-radio-large-selected-3x-y: 288px;
$icon-radio-large-selected-3x-offset-x: -321px;
$icon-radio-large-selected-3x-offset-y: -288px;
$icon-radio-large-selected-3x-width: 60px;
$icon-radio-large-selected-3x-height: 60px;
$icon-radio-large-selected-3x-total-width: 723px;
$icon-radio-large-selected-3x-total-height: 435px;
$icon-radio-large-selected-3x-image: '../images/sprite@3x.png';
$icon-radio-large-selected-3x: (321px, 288px, -321px, -288px, 60px, 60px, 723px, 435px, '../images/sprite@3x.png', 'icon_radio_large_selected@3x', );
$icon-search-3x-name: 'icon_search@3x';
$icon-search-3x-x: 60px;
$icon-search-3x-y: 375px;
$icon-search-3x-offset-x: -60px;
$icon-search-3x-offset-y: -375px;
$icon-search-3x-width: 60px;
$icon-search-3x-height: 60px;
$icon-search-3x-total-width: 723px;
$icon-search-3x-total-height: 435px;
$icon-search-3x-image: '../images/sprite@3x.png';
$icon-search-3x: (60px, 375px, -60px, -375px, 60px, 60px, 723px, 435px, '../images/sprite@3x.png', 'icon_search@3x', );
$icon-to-top-3x-name: 'icon_to_top@3x';
$icon-to-top-3x-x: 321px;
$icon-to-top-3x-y: 144px;
$icon-to-top-3x-offset-x: -321px;
$icon-to-top-3x-offset-y: -144px;
$icon-to-top-3x-width: 36px;
$icon-to-top-3x-height: 36px;
$icon-to-top-3x-total-width: 723px;
$icon-to-top-3x-total-height: 435px;
$icon-to-top-3x-image: '../images/sprite@3x.png';
$icon-to-top-3x: (321px, 144px, -321px, -144px, 36px, 36px, 723px, 435px, '../images/sprite@3x.png', 'icon_to_top@3x', );
$icon-upload-3x-name: 'icon_upload@3x';
$icon-upload-3x-x: 321px;
$icon-upload-3x-y: 180px;
$icon-upload-3x-offset-x: -321px;
$icon-upload-3x-offset-y: -180px;
$icon-upload-3x-width: 36px;
$icon-upload-3x-height: 36px;
$icon-upload-3x-total-width: 723px;
$icon-upload-3x-total-height: 435px;
$icon-upload-3x-image: '../images/sprite@3x.png';
$icon-upload-3x: (321px, 180px, -321px, -180px, 36px, 36px, 723px, 435px, '../images/sprite@3x.png', 'icon_upload@3x', );
$icon-upload-giant-3x-name: 'icon_upload_giant@3x';
$icon-upload-giant-3x-x: 0px;
$icon-upload-giant-3x-y: 225px;
$icon-upload-giant-3x-offset-x: 0px;
$icon-upload-giant-3x-offset-y: -225px;
$icon-upload-giant-3x-width: 180px;
$icon-upload-giant-3x-height: 150px;
$icon-upload-giant-3x-total-width: 723px;
$icon-upload-giant-3x-total-height: 435px;
$icon-upload-giant-3x-image: '../images/sprite@3x.png';
$icon-upload-giant-3x: (0px, 225px, 0px, -225px, 180px, 150px, 723px, 435px, '../images/sprite@3x.png', 'icon_upload_giant@3x', );
$icon-vertices-3x-name: 'icon_vertices@3x';
$icon-vertices-3x-x: 480px;
$icon-vertices-3x-y: 375px;
$icon-vertices-3x-offset-x: -480px;
$icon-vertices-3x-offset-y: -375px;
$icon-vertices-3x-width: 54px;
$icon-vertices-3x-height: 54px;
$icon-vertices-3x-total-width: 723px;
$icon-vertices-3x-total-height: 435px;
$icon-vertices-3x-image: '../images/sprite@3x.png';
$icon-vertices-3x: (480px, 375px, -480px, -375px, 54px, 54px, 723px, 435px, '../images/sprite@3x.png', 'icon_vertices@3x', );
$logo-3x-name: 'logo@3x';
$logo-3x-x: 360px;
$logo-3x-y: 0px;
$logo-3x-offset-x: -360px;
$logo-3x-offset-y: 0px;
$logo-3x-width: 363px;
$logo-3x-height: 93px;
$logo-3x-total-width: 723px;
$logo-3x-total-height: 435px;
$logo-3x-image: '../images/sprite@3x.png';
$logo-3x: (360px, 0px, -360px, 0px, 363px, 93px, 723px, 435px, '../images/sprite@3x.png', 'logo@3x', );
$spritesheet-width: 723px;
$spritesheet-height: 435px;
$spritesheet-image: '../images/sprite@3x.png';
$spritesheet-sprites: ($icon-account-3x, $icon-account-selected-3x, $icon-alert-3x, $icon-alipay-3x, $icon-arrow-down-3x, $icon-bank-card-3x, $icon-cart-3x, $icon-cart-selected-3x, $icon-check-3x, $icon-check-selected-3x, $icon-checkbox-3x, $icon-checkbox-dark-3x, $icon-checkbox-dark-selected-3x, $icon-checkbox-large-3x, $icon-checkbox-large-selected-3x, $icon-checkbox-selected-3x, $icon-corss-3x, $icon-creditcard-3x, $icon-element-3x, $icon-element-selected-3x, $icon-eye-3x, $icon-favor-3x, $icon-gear-3x, $icon-label-3x, $icon-notice-3x, $icon-notice-selected-3x, $icon-paypal-3x, $icon-plus-3x, $icon-polygons-3x, $icon-radio-large-3x, $icon-radio-large-selected-3x, $icon-search-3x, $icon-to-top-3x, $icon-upload-3x, $icon-upload-giant-3x, $icon-vertices-3x, $logo-3x, );
$spritesheet: (723px, 435px, '../images/sprite@3x.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
