<div class="container profile">
    <h2 id="profile-title">
        <span>Edit Profile</span>
    </h2>
    <div id="profile-form-wrap">
        <form action="" id="profile-form">
            <div class="line">
                <label>First name</label>
                <input type="text">
            </div>
            <div class="line">
                <label>Last name</label>
                <input type="text">
            </div>
            <div class="line picture">
                <label>Picture</label>
                <div class="portrait">
                    <img src="upload/large_ch47d_chinook_helicopter_3d_model_fbx_ma_mb_17f490ce-4034-4b3d-815d-889e05f5413f.jpg" alt="">
                </div>
                <input id="change-btn" type="button" value="Change">
            </div>
            <div class="line">
                <label>Home page</label>
                <span id="homepage-prefix">http://www.novaby.com/</span>
                <input type="text">
            </div>
            <div class="line">
                <label>Location</label>
                <input type="text">
            </div>
            <div class="line">
                <label>Job</label>
                <input type="text">
            </div>
            <hr>
            <div class="line">
                <input id="cancel-btn" type="button" value="Cancel">
                <input id="save-btn" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>