<div class="container applied-success">
    <div id="smile-img"></div>
    <h2>
        Congratulation !
    </h2>
    <p>
        you have been approved to be a certified modeler in Novaby!
    </p>
    <button>
        Check $50 coupon
    </button>
</div>