<div id="channel-bar-wrap">
    <%- include('partial-channel-bar'); %>
</div>
<div class="container publish">
    <div class="grid">
        <div class="column right">
            <form id="product-form" onsubmit="return false;">
                <input type="submit" value="Publish" id="product-form-submit">
                <div class="grid">
                    <div class="column">
                        <label for="product-title">Title:</label>
                        <input type="text" id="product-title">
                    </div>
                </div>
                <div class="grid">
                    <div class="column">
                        <label for="product-geometry">Geometry:</label>
                        <div class="dropdown-input">
                            <input type="text" class="dropdown-handle" id="product-geometry" readonly="readonly" value="AAA AAA">
                            <ul class="dropdown-list">
                                <li>
                                    <span>AAA AAA</span>
                                </li>
                                <li>
                                    <span>BBB BBB</span>
                                </li>
                                <li>
                                    <span>CCC CCC</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid two">
                    <div class="column">
                        <label for="product-polygons">
                            <i class="icon polygons"></i>
                        </label>
                        <input type="text" id="product-polygons" placeholder="polygons">
                    </div>
                    <div class="column">
                        <label for="product-vertices">
                            <i class="icon vertices"></i>
                        </label>
                        <input type="text" id="product-vertices" placeholder="vertices">
                    </div>
                </div>
                <div class="grid">
                    <div class="column">
                        <label for="product-category">Category:</label>
                        <div class="dropdown-input">
                            <input type="text" class="dropdown-handle" id="product-category" readonly="readonly" value="AAA AAA">
                            <ul class="dropdown-list">
                                <li>
                                    <span>AAA AAA</span>
                                </li>
                                <li>
                                    <span>BBB BBB</span>
                                </li>
                                <li>
                                    <span>CCC CCC</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="column">
                        <label for="product-format">Format:</label>
                        <div class="dropdown-input">
                            <input type="text" class="dropdown-handle" id="product-format" readonly="readonly" value="AAA AAA">
                            <ul class="dropdown-list">
                                <li>
                                    <span>AAA AAA</span>
                                </li>
                                <li>
                                    <span>BBB BBB</span>
                                </li>
                                <li>
                                    <span>CCC CCC</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="column">
                        <div class="line justify">
                            <a class="item checkbox-btn">
                                <i class="icon checkbox" id="product-animation"></i>
                                <label for="product-animation">Animation</label>
                            </a>
                            <a class="item checkbox-btn">
                                <i class="icon checkbox" id="product-low-poly"></i>
                                <label for="product-low-poly">low-poly</label>
                            </a>
                        </div>
                        <div class="line justify">
                            <a class="item checkbox-btn">
                                <i class="icon checkbox" id="product-texture"></i>
                                <label for="product-texture">Texture</label>
                            </a>
                            <a class="item checkbox-btn">
                                <i class="icon checkbox" id="product-material"></i>
                                <label for="product-material">Material</label>
                            </a>
                        </div>
                        <div class="line justify">
                            <a class="item checkbox-btn">
                                <i class="icon checkbox" id="product-rigged"></i>
                                <label for="product-rigged">Rigged</label>
                            </a>
                            <a class="item checkbox-btn">
                                <i class="icon checkbox" id="product-uvw"></i>
                                <label for="product-uvw">UVW mapping</label>
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="grid">
                    <div class="column">
                        <div class="line fill">
                            <label for="product-price">Price:</label>
                            <span>US dollars</span>
                            <div id="product-price-wrap"><input type="text" id="product-price"></div>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="column">
                        <label class="monopoly">License & Legal information</label>
                    </div>
                </div>
                <div class="grid">
                    <div class="column">
                        <div class="line fill">
                            <label id="product-license-label">License<sup>*</sup></label>
                            <a class="item radio-btn">
                                <i class="icon radio" id="product-editorial"></i>
                                <label for="product-editorial">Editorial</label>
                            </a>
                            <div class="align-center">
                                <a class="item radio-btn">
                                    <i class="icon radio" id="product-general"></i>
                                    <label for="product-general">General</label>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="grid">
                    <div class="column">
                        <label>Watermark:</label>
                        <div class="line fill monopoly checkbox-btn">
                            <i class="icon checkbox" id="product-watermark"></i>
                            <div id="watermark-label-wrap">
                                <label for="product-watermark">Add a your watermark to the photos when displayed</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="column">
                        <label for="product-description">Description(Optional):</label>
                        <textarea type="text" id="product-description"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="column left">
            <form id="upload-form">
                <h2>Step 1：upload photos</h2>
                <div id="upload-images-wrap">
                    <ul id="upload-images">
                        <li>
                            <img src="upload/large_ch47d_chinook_helicopter_3d_model_fbx_ma_mb_17f490ce-4034-4b3d-815d-889e05f5413f.jpg" alt="">
                        </li>
                        <li>
                            <img src="upload/large_ch47d_chinook_helicopter_3d_model_fbx_ma_mb_17f490ce-4034-4b3d-815d-889e05f5413f.jpg" alt="">
                        </li>
                        <li>
                            <i class="icon plus"></i>
                        </li>
                        <li>
                            <i class="icon plus"></i>
                        </li>
                        <li>
                            <i class="icon plus"></i>
                        </li>
                    </ul>
                </div>
                <hr>
                <h2>Step 2: upload a model file</h2>
                <div id="upload-choose-file-wrap">
                    <button id="upload-choose-file">Choose file</button>
                </div>
                <div id="upload-progress-wrap">
                    <div class="progress" id="upload-progress">
                        <div class="value" style="width: 30%;"></div>
                    </div>
                    <i class="icon upload-giant"></i>
                    <label for="upload-progress">30%</label>
                </div>
            </form>
        </div>
    </div>
</div>