<div class="container settings">
    <h2 id="settings-title">
        <span>Settings</span>
    </h2>
    <div id="settings-forms-wrap">
        <form action="" id="account-form">
            <h3>Account Basic</h3>
            <div class="line">
                <label>Email</label>
                <div>
                    <input type="text">
                </div>
            </div>
            <div class="line">
                <label>Original Password</label>
                <div>
                    <input type="text">
                </div>
            </div>
            <div class="line">
                <label>New Password</label>
                <div>
                    <input type="password">
                </div>
            </div>
            <div class="line">
                <label>Confirm Password</label>
                <div>
                    <input type="password">
                </div>
            </div>
            <div class="line">
                <input type="submit" value="Confirm">
            </div>
        </form>
        <hr>
        <form action="" id="social-form">
            <h3>Social networks</h3>
            <div class="line">
                <label>
                    <i class="icon facebook"></i>
                    Facebook
                </label>
                <button>Connect</button>
            </div>
            <div class="line">
                <label>
                    <i class="icon twitter"></i>
                    Twitter
                </label>
                <button>Connect</button>
            </div>
            <div class="line">
                <label>
                    <i class="icon linkedin"></i>
                    Linkedin
                </label>
                <button>Disconnect</button>
            </div>
        </form>
        <hr>
        <form action="" id="payment-form">
            <h3>
                Payment Agreement
            </h3>
            <p>
                Novaby Payment Agreement
            </p>
            <p>
                In order to proceed payments to designer Novaby requires to have full information about personal or business users. This allows us to run simple and clear payment process for both buyers and sellers.
            </p>
            <p>
                Please go through the and confirm your payment details below.
            </p>
            <div class="grid">
                <div class="row three">
                    <div class="column">
                        <label>Name<sup>*</sup></label>
                        <input type="text">
                    </div>
                    <div class="column">
                        <label>Surname<sup>*</sup></label>
                        <input type="text">
                    </div>
                    <div class="column">
                        <label>Date of Birth<sup>*</sup></label>
                        <input type="text" placeholder="YYYY-MM-DD">
                    </div>
                </div>
                <div class="row two">
                    <div class="column">
                        <label>Identifocayion Number<sup>*</sup></label>
                        <input type="text">
                    </div>
                    <div class="column">
                        <label>VAT</label>
                        <input type="text">
                    </div>
                </div>
                <div class="row three">
                    <div class="column">
                        <label>Country<sup>*</sup></label>
                        <input type="text">
                    </div>
                    <div class="column">
                        <label>City<sup>*</sup></label>
                        <input type="text">
                    </div>
                    <div class="column">
                        <label>DStreet Address / ZIP<sup>*</sup></label>
                        <input type="text">
                    </div>
                </div>
                <div class="row fill">
                    <div class="column right">
                        <input type="button" id="upload-btn" value="Upload files">
                    </div>
                    <div class="column cork">
                        Please attach a copy of your ID,passport or social security in order to receive payments<sup>*</sup>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <form action="" id="payment-method-form">
            <h3>Account Basic</h3>
            <div class="line">
                <label>Paypal address</label>
                <div>
                    <input type="text">
                </div>
            </div>
        </form>
        <hr>
        <div class="submit-wrap">
            <input type="button" id="settings-cancel-btn" value="Cancel">
            <input type="button" id="settings-save-btn" value="Save">
        </div>
    </div>
</div>