<div class="container checkout">
    <h2>Cart</h2>
    <ul id="goods-list">
        <li>
            <i class="icon check"></i>
            <div class="goods-card-wrap">
                <div class="goods-card">
                    <img class="goods-thumbnail" src="upload/large_ch47d_chinook_helicopter_3d_model_fbx_ma_mb_17f490ce-4034-4b3d-815d-889e05f5413f.jpg" alt="">
                    <div class="goods-info-wrap">
                        <h3 class="goods-title">Transformer</h3>
                        <div class="goods-abs">
                            <span>License: Exclusive</span>
                            <span>File size: 500MB</span>
                        </div>
                        <div class="goods-detail">
                            <span>Category: Role</span>
                            <span>Level: Movie</span>
                            <span>Format: 3DMAX</span>
                            <span>Animation: No</span>
                            <span>Texture: No</span>
                            <span>Style: Cartoon</span>
                        </div>
                        <span class="goods-price">US $149</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <hr>
    <div id="total-price">
        TOTAL: 206USD
    </div>

    <div id="payment">

    </div>
</div>