<div id="channel-bar-wrap">
    <%- include('partial-channel-bar-project'); %>
</div>
<div class="container project-process">
    <h2>World War III</h2>
    <ul class="steps">
        <li>Inquiry</li>
        <li class="selected">Trial</li>
        <li>Pay</li>
        <li>Build</li>
        <li>Review</li>
    </ul>
    <div class="skipped">
        You skipped Trail
    </div>
    <hr>
    <input class="next-btn enabled" type="button" value="Next">
</div>