<div class="container applied-success">
    <div id="smile-img"></div>
    <h2>
        Congratulation !
    </h2>
    <p>
        your project has been published successfully!
    </p>
    <button>
        Check your project
    </button>
</div>