<div id="channel-bar-wrap">
    <%- include('partial-channel-bar'); %>
</div>
<div id="filter-bar-wrap">
    <ul id="filter-bar">
        <li>
            <a href="" class="button">
                All format
                <i class="icon arrow-down"></i>
            </a>
        </li>
        <li>
            <a href="" class="button">
                All category
                <i class="icon arrow-down"></i>
            </a>
        </li>
        <li>
            <a href="" class="button">
                Texture：yes
                <i class="icon arrow-down"></i>
            </a>
        </li>
        <li>
            <a href="" class="button">
                <i class="icon checkbox"></i>
                Animated
            </a>
        </li>
        <li>
            <a href="" class="button">
                <i class="icon checkbox"></i>
                Rigged
            </a>
        </li>
        <li>
            <a href="" class="button">
                <i class="icon checkbox"></i>
                Low-poly
            </a>
        </li>
    </ul>
</div>
<div class="container">
    <%- include('partial-grid'); %>
</div>
