<div id="channel-bar-wrap">
    <%- include('partial-channel-bar-project2'); %>
</div>
<div class="container project-process2">
    <h2>World War III</h2>
    <ul class="steps">
        <li>Inquiry</li>
        <li>Trial</li>
        <li>Pay</li>
        <li>Build</li>
        <li class="selected">Review</li>
    </ul>
    <h3>Review result</h3>
    <div class="clock-wrap">
        <span>waiting for review</span>
        <i class="icon clock"></i>
        <span class="time">11:23:43</span>
    </div>
</div>