<div id="channel-bar-wrap">
    <%- include('partial-channel-bar-project2'); %>
</div>
<div class="container project-process2">
    <h2>World War III</h2>
    <ul class="steps">
        <li>Inquiry</li>
        <li>Trial</li>
        <li>Pay</li>
        <li>Build</li>
        <li class="selected">Review</li>
    </ul>
    <h3>Review result</h3>
    <div class="not-audit">Not through the audit</div>
    <textarea class="description">please write ...</textarea>
    <div class="review-btns">
        <button class="confirm-btn">To resubmit</button>
        <button class="report-btn">Complaint</button>
    </div>
</div>