<div class="container applying-b">
    <form id="applying-b-form" onsubmit="return false;">
        <p>
            Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. However,
            you aren’t invisible. Going incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
        </p>
        <p>
            Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. However,
            you aren’t invisible. Going incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
        </p>
        <hr>
        <div id="account-detail-wrap">
            <div class="item">
                <label for="first-name">First name:</label>
                <input type="text" id="first-name">
            </div>
            <div class="item">
                <label for="last-name">Last name:</label>
                <input type="text" id="last-name">
            </div>
            <div class="item">
                <label id="gender">Gender:</label>
                <a class="item radio-btn">
                    <i class="icon radio" id=""></i>
                    <label for="">Male</label>
                </a>
                <a class="item radio-btn">
                    <i class="icon radio" id=""></i>
                    <label for="">Female</label>
                </a>
            </div>
            <div class="item">
                <label for="age">Age:</label>
                <div class="dropdown-input">
                    <input type="text" class="dropdown-handle" id="age" readonly="readonly" value="AAA AAA">
                    <ul class="dropdown-list">
                        <li>
                            <span>AAA AAA</span>
                        </li>
                        <li>
                            <span>BBB BBB</span>
                        </li>
                        <li>
                            <span>CCC CCC</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <label for="country">Country:</label>
                <div class="dropdown-input">
                    <input type="text" class="dropdown-handle" id="country" readonly="readonly" value="AAA AAA">
                    <ul class="dropdown-list">
                        <li>
                            <span>AAA AAA</span>
                        </li>
                        <li>
                            <span>BBB BBB</span>
                        </li>
                        <li>
                            <span>CCC CCC</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="item" id="experience-wrap">
            <label for="age">3D modeling work experience</label>
            <div class="dropdown-input">
                <input type="text" class="dropdown-handle" id="experience" readonly="readonly" value="over 10 years">
                <ul class="dropdown-list">
                    <li>
                        <span>AAA AAA</span>
                    </li>
                    <li>
                        <span>BBB BBB</span>
                    </li>
                    <li>
                        <span>CCC CCC</span>
                    </li>
                </ul>
            </div>
        </div>
        <p>
            Pick your professional modeling fields (3 at most)
        </p>
        <div id="fields-wrap">
            <button class="selected">Character</button>
            <button>Electronics</button>
            <button>Scene</button>
            <button>Animal</button>
            <button>Character</button>
            <button class="selected">Electronics</button>
            <button>Scene</button>
            <button>Animal</button>
            <button class="selected">Character</button>
            <button>Electronics</button>
            <button>Scene</button>
            <button>Animal</button>
            <button>Character</button>
            <button>Electronics</button>
            <button>Scene</button>
            <button>Animal</button>
        </div>
        <hr>
        <p id="payment-title">
            Your payment methods account
        </p>
        <div id="payment-wrap">
            <div class="item">
                <label for="alipay">Alipay:</label>
                <input type="text" id="alipay">
            </div>
            <div class="item">
                <label for="paypal">Paypal:</label>
                <input type="text" id="paypal">
            </div>
        </div>
        <hr>
        <button id="applying-b-form-submit">Next</button>
    </form>
</div>