<div id="channel-bar-wrap">
    <%- include('partial-channel-bar'); %>
</div>

<div class="container following">
    <div class="grid">
        <div class="column right">
            <div class="cell">
                <div class="card" id="following-author-profile">
                    <div id="following-author-detail">
                        <img class="portrait" src="upload/large_ch47d_chinook_helicopter_3d_model_fbx_ma_mb_17f490ce-4034-4b3d-815d-889e05f5413f.jpg" alt="">
                        <div class="cork">
                            <span class="author-name">Harry Meyer</span>
                            <button class="follow-btn">Follow</button>
                        </div>
                        <i class="icon talk"></i>
                    </div>
                    <div id="following-author-regard">
                        <a>
                            <span>42</span>
                            <label>Works</label>
                        </a>
                        <a>
                            <span>126</span>
                            <label>Follower</label>
                        </a>
                        <a>
                            <span>231</span>
                            <label>Following</label>
                        </a>
                    </div>
                </div>
                <div class="card" id="following-who">
                    <h2>Who to follow</h2>
                    <ul>
                        <% [1, 2, 3, 4, 5].forEach(function (i) { %>
                        <li>
                            <div class="following-who-user">
                                <img class="portrait" src="upload/large_ch47d_chinook_helicopter_3d_model_fbx_ma_mb_17f490ce-4034-4b3d-815d-889e05f5413f.jpg" alt="">
                                <% if(i % 2){ %>
                                <button>Follow</button>
                                <% }else{ %>
                                <button class="following">Following</button>
                                <% } %>
                                <div class="cork">
                                    <h3>Joseph Griffin</h3>
                                    <span>150 works</span>
                                </div>
                            </div>
                            <div class="following-who-images">
                                <% [1, 2, 3, 4, 5].forEach(function () { %>
                                <a href="">
                                    <img src="upload/large_ch47d_chinook_helicopter_3d_model_fbx_ma_mb_17f490ce-4034-4b3d-815d-889e05f5413f.jpg" alt="">
                                </a>
                                <% }); %>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                    <div id="following-who-footer">In a batch</div>
                </div>
            </div>
        </div>
        <div class="column left">
            <div class="cell">
                <% [1, 2, 3, 4, 5].map(function () { %>
                <div class="card following-product">
                    <img class="thumbnail" src="upload/large_ch47d_chinook_helicopter_3d_model_fbx_ma_mb_17f490ce-4034-4b3d-815d-889e05f5413f.jpg" alt="">
                    <h3>
                        Felipeside
                        <span class="datetime">3 hours</span>
                    </h3>
                    <div class="following-regard">
                        <div class="following-product-users">
                            <img class="portrait" src="upload/large_ch47d_chinook_helicopter_3d_model_fbx_ma_mb_17f490ce-4034-4b3d-815d-889e05f5413f.jpg" alt="">
                            <span class="author">Nora Graves</span>
                        </div>
                        <div class="following-product-follow">
                            <label class="favorite">
                                <i class="icon favor"></i>
                                21
                            </label>
                            <label class="watch">
                                <i class="icon eye"></i>
                                945
                            </label>
                            <label class="share-wrap">
                                <i class="icon share"></i>
                                <div class="dropdown">
                                    <span>share to</span>
                                    <ul>
                                        <li>
                                            <a href="">
                                                <i class="icon facebook"></i>
                                                Facebook
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="icon twitter"></i>
                                                Twitter
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="icon linkedin"></i>
                                                LinkedIn
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<%- include('partial-to-top'); %>