<div id="channel-bar-wrap">
    <%- include('partial-terms-bar'); %>
</div>
<div class="container terms">
    <h2 id="personal-title">
        <span>About us</span>
    </h2>
    <p>
        Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. However, you aren’t invisible. Going incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
    </p>
    <p>
        Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept.
    </p>
    <p>
        However, you aren’t invisible. Going incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
    </p>
</div>