<div id="channel-bar-wrap">
    <%- include('partial-channel-bar'); %>
</div>
<div id="filter-bar-wrap">
    <div id="filter-bar-wrap">

    </div>
</div>
<%- include('partial-grid'); %>

<!--<%- include('partial-signin'); %>-->
<!--<%- include('partial-signup'); %>-->