<div class="container new-project">
    <h2 id="new-project-title">
        <span>New Project</span>
    </h2>
    <div id="new-project-form-wrap">
        <form action="" id="new-project-form">
            <div class="line">
                <label>Name:</label>
                <input type="text">
            </div>
            <div class="line">
                <label>Model accuracy:</label>
                <div class="options">
                    <div class="option">Game</div>
                    <div class="option">Film</div>
                    <div class="option selected">Film</div>
                    <div class="option">Film</div>
                    <div class="option">Film</div>
                </div>
            </div>
            <div class="line">
                <label>Model accuracy:</label>
                <div class="options">
                    <div class="option">Game</div>
                    <div class="option selected">Film</div>
                    <div class="option">Film</div>
                    <div class="option">Film</div>
                </div>
            </div>
            <div class="line">
                <label>Model accuracy:</label>
                <div class="options">
                    <div class="option selected">Game</div>
                    <div class="option">Film</div>
                    <div class="option">Film</div>
                </div>
            </div>
            <div class="line">
                <label>Model accuracy:</label>
                <div class="options">
                    <div class="option selected">Game</div>
                    <div class="option">Film</div>
                </div>
            </div>
            <hr>
            <h3>Reference Photos:</h3>
            <ul class="photos">
                <li><img src="/upload/large_fantasy_village_and_tower_defense_3d_model_fbx_e3bf7909-f1a4-4f7e-8468-7dbe307a68a7.png" alt=""></li>
                <li><img src="/upload/large_fantasy_village_and_tower_defense_3d_model_fbx_e3bf7909-f1a4-4f7e-8468-7dbe307a68a7.png" alt=""></li>
                <li><img src="/upload/large_fantasy_village_and_tower_defense_3d_model_fbx_e3bf7909-f1a4-4f7e-8468-7dbe307a68a7.png" alt=""></li>
                <li><img src="/upload/large_fantasy_village_and_tower_defense_3d_model_fbx_e3bf7909-f1a4-4f7e-8468-7dbe307a68a7.png" alt=""></li>
                <li class="add">
                    <i class="icon plus"></i>
                    <div>Add new</div>
                </li>
            </ul>
            <p class="tips">Tips: Writing blah blah blah blah blah blah</p>
            <hr>
            <h3>Description:</h3>
            <textarea id="description"></textarea>
            <hr>
            <div class="line">
                <label>Quotation period:</label>
                <input class="period" type="text" value="12h">
            </div>
            <div class="line">
                <label>Due time:</label>
                <label>12:00:00</label>
                <label>12, Dec, 2016</label>
            </div>
            <div class="line">
                <label>Mobile:</label>
                <input class="country" type="text" value="China">
                <input class="area-code" type="text" value="+86">
                <input class="phone-code" type="text" value="13888888888">
            </div>
            <hr>
            <input id="submit-btn" type="button" value="Submit">
            <a href="#" id="save-draft-btn">Save as a draft</a>
        </form>
        <p class="bottom-tips">Tips: Writing blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
    </div>
</div>