<div id="activated-wrap">
    <div class="img"></div>
    <h1>Congratulations！</h1>
    <p>
        our account has been activated successfully，click the button below to return to the home page and log in
    </p>
    <button>Return</button>
</div>