<div id="channel-bar-wrap">
    <%- include('partial-channel-bar'); %>
</div>

<div class="container model">
    <div class="grid">
        <div class="column right">
            <div class="cell">
                <div class="card" id="model-author-profile">
                    <div id="model-author-detail">
                        <img class="portrait" src="upload/large_ch47d_chinook_helicopter_3d_model_fbx_ma_mb_17f490ce-4034-4b3d-815d-889e05f5413f.jpg" alt="">
                        <div class="cord">
                            <span class="author-name">Harry Meyer</span>
                            <button class="follow-btn">Follow</button>
                        </div>
                        <i class="icon talk"></i>
                    </div>
                    <div id="model-author-regard">
                        <a>
                            <span>42</span>
                            <label>Works</label>
                        </a>
                        <a>
                            <span>126</span>
                            <label>Follower</label>
                        </a>
                        <a>
                            <span>231</span>
                            <label>Following</label>
                        </a>
                    </div>
                </div>
                <div class="card" id="model-detail">
                    <div id="model-detail-major">
                        <h2>
                            Transformers
                            <label class="watch">
                                <i class="icon eye"></i>
                                945
                            </label>
                        </h2>
                        <div class="btn-wrap">
                            <button class="star-btn">
                                <i class="icon favor"></i>
                                20
                            </button>
                            <button class="share-btn">
                                <i class="icon share"></i>
                                Share
                            </button>
                        </div>
                        <h3 id="model-detail-price">Price:
                            <span>$12.00</span>
                        </h3>
                        <h3 id="model-detail-rate">Rate:
                            <span>
                                <i class="icon star-twinkle"></i>
                                <i class="icon star-twinkle"></i>
                                <i class="icon star"></i>
                                <i class="icon star"></i>
                                <i class="icon star"></i>
                            </span>
                        </h3>
                        <h3>Description(Optional):</h3>
                        <div id="model-detail-desc">
                            There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station whether.
                        </div>
                    </div>
                    <hr>
                    <div class="attr-list">
                        <h3>File Formats</h3>
                        <ul>
                            <li>
                                <label>Autodesk FBX (.fbx)</label>
                                <span>150K</span>
                            </li>
                            <li>
                                <label>3D Studio Max 2015 (.max)</label>
                                <span>17.4M</span>
                            </li>
                            <li>
                                <label>OBJ (.obj)</label>
                                <span>14.7K</span>
                            </li>
                            <li>
                                <label>Textures</label>
                                <span>14M</span>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="attr-list">
                        <h3>3D Model Details</h3>
                        <ul>
                            <li>
                                <label>Product ID</label>
                                <span>#5688735</span>
                            </li>
                            <li>
                                <label>Published on</label>
                                <span>2016-08-07</span>
                            </li>
                            <li>
                                <label>Animated</label>
                                <span class="blue">No</span>
                            </li>
                            <li>
                                <label>Rigged</label>
                                <span class="blue">No</span>
                            </li>
                            <li>
                                <label>Lowpoly (game-ready)</label>
                                <span class="red">Yes</span>
                            </li>
                            <li>
                                <label>Geometry</label>
                                <span>Polygon mesh</span>
                            </li>
                            <li>
                                <label>Polygons</label>
                                <span>13,085</span>
                            </li>
                            <li>
                                <label>Vertices</label>
                                <span>6,749</span>
                            </li>
                            <li>
                                <label>Textures</label>
                                <span class="red">Yes</span>
                            </li>
                            <li>
                                <label>Materials</label>
                                <span class="red">Yes</span>
                            </li>
                            <li>
                                <label>UV Mapping</label>
                                <span class="red">Yes</span>
                            </li>
                            <li>
                                <label>Unwrapped UVs</label>
                                <span>Non-overlapping</span>
                            </li>
                            <li>
                                <label>Plugins used</label>
                                <span class="blue">No</span>
                            </li>
                        </ul>
                    </div>
                    <button value="Publish" id="add-cart-submit">
                        <i class="icon cart"></i>
                        Add to Cart
                    </button>
                </div>
                <div class="card" id="model-more">
                    <h2>
                        More from
                        <span>Harry Meyer</span>
                    </h2>
                    <div class="model-thumbnails">
                        <a href="" class="model-thumbnail"><img src="/upload/large_fantasy_village_and_tower_defense_3d_model_fbx_e3bf7909-f1a4-4f7e-8468-7dbe307a68a7.png" alt=""></a>
                        <a href="" class="model-thumbnail"><img src="/upload/large_fantasy_village_and_tower_defense_3d_model_fbx_e3bf7909-f1a4-4f7e-8468-7dbe307a68a7.png" alt=""></a>
                        <a href="" class="model-thumbnail"><img src="/upload/large_fantasy_village_and_tower_defense_3d_model_fbx_e3bf7909-f1a4-4f7e-8468-7dbe307a68a7.png" alt=""></a>
                        <a href="" class="model-thumbnail"><img src="/upload/large_fantasy_village_and_tower_defense_3d_model_fbx_e3bf7909-f1a4-4f7e-8468-7dbe307a68a7.png" alt=""></a>
                        <a href="" class="model-thumbnail"><img src="/upload/large_fantasy_village_and_tower_defense_3d_model_fbx_e3bf7909-f1a4-4f7e-8468-7dbe307a68a7.png" alt=""></a>
                        <a href="" class="model-thumbnail"><img src="/upload/large_fantasy_village_and_tower_defense_3d_model_fbx_e3bf7909-f1a4-4f7e-8468-7dbe307a68a7.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column left">
            <div id="model-images">
                <div id="model-image-current">
                    <img src="/upload/large_fantasy_village_and_tower_defense_3d_model_fbx_e3bf7909-f1a4-4f7e-8468-7dbe307a68a7.png" alt="">
                </div>
                <div id="model-image-thumbnails">
                    <ul>
                        <% [1, 2, 3, 4, 5].map(function(ele){ %>
                        <li>
                            <a>
                                <img src="/upload/large_fantasy_village_and_tower_defense_3d_model_fbx_e3bf7909-f1a4-4f7e-8468-7dbe307a68a7.png" alt="">
                            </a>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partial-to-top'); %>