<div id="channel-bar-wrap">
    <%- include('partial-channel-bar-project'); %>
</div>
<div class="container project-process">
    <h2>World War III</h2>
    <ul class="steps">
        <li>Inquiry</li>
        <li>Trial</li>
        <li class="selected">Pay</li>
        <li>Build</li>
        <li>Review</li>
    </ul>
    <h3>Project Information</h3>
    <ul class="requirements">
        <li>
            <label>Name:</label>
            <span>World War III</span>
        </li>
        <br>
        <li>
            <label>Start time:</label>
            <span>12, Dec, 2016 12:00:00</span>
        </li>
        <li>
            <label>Due time:</label>
            <span>Film</span>
        </li>
        <br>
        <li>
            <label>Time:</label>
            <span>24h</span>
        </li>
        <br>
        <li>
            <label>Time:</label>
            <span>24h</span>
        </li>
        <br>
        <li>
            <label>Time:</label>
            <span>24h</span>
        </li>
        <br>
        <li>
            <label>Time:</label>
            <span>24h</span>
        </li>
        <br>
        <li>
            <label>Time:</label>
            <span>24h</span>
        </li>
        <br>
        <li>
            <label>Time:</label>
            <span>24h</span>
        </li>
        <br>
        <li>
            <label>Time:</label>
            <span>24h</span>
        </li>
    </ul>
    <hr>
    <input class="next-btn enabled" type="button" value="Next">
</div>