<div id="channel-bar-wrap">
    <%- include('partial-channel-bar-project'); %>
</div>
<div class="container project-process">
    <h2>World War III</h2>
    <ul class="steps">
        <li>Inquiry</li>
        <li class="selected">Trial</li>
        <li>Pay</li>
        <li>Build</li>
        <li>Review</li>
    </ul>
    <h3>Project Requirement</h3>
    <ul class="requirements">
        <li>
            <label>Industry:</label>
            <span>Film</span>
        </li>
    </ul>
    <h4>Description</h4>
    <div class="description">
        <p>The demo is available in module directory. To test the demo just go to demo directory in module folder and open index.html in your browser. However, you can build the demo again with npm. To re-build the demo just go to demo
            directory in module folder and run command.</p>
        <p>The demo is available in module directory. To test the demo just go to demo directory in module folder and open index.html in your browser. However, you can build the demo again with npm. To re-build the demo just go to demo
            directory in module folder and run command.</p>
        <p>The demo is available in module directory. To test the demo just go to demo directory in module folder and open index.html in your browser. However, you can build the demo again with npm. To re-build the demo just go to demo
            directory in module folder and run command.</p>
        <p>The demo is available in module directory. To test the demo just go to demo directory in module folder and open index.html in your browser. However, you can build the demo again with npm. To re-build the demo just go to demo
            directory in module folder and run command.</p>
    </div>
    <div class="item-line">
        <label>Test Fee:</label>
        <span>100 dollar</span>
    </div>
    <div class="item-line">
        <label>Test time:</label>
        <span>12h</span>
    </div>
    <div class="item-line">
        <label>Due time:</label>
        <span>12:00:00</span>
        <span>12, Dec, 2016</span>
    </div>
    <div class="item-line">
        <label>Has choose:</label>
        <span>B</span>
        <span>C</span>
        <span>D</span>
    </div>
    <div class="item-line">
        <label>Total:</label>
        <span>300 dollar</span>
    </div>
    <div class="item-line">
        <label>Payment:</label>
        <span>Alipay</span>
    </div>
    <hr>
    <h3>Trail Results</h3>
    <div class="clock-wrap">
        <i class="icon clock"></i>
        <span class="time">11:23:43</span>
    </div>
    <hr>
    <input class="next-btn" type="button" value="Next">
</div>