<form action="" id="signup-form">
    <h2>REGISTER A NOVABY ACCOUNT</h2>
    <input type="text" placeholder="Firstname">
    <input type="text" placeholder="Lastname">
    <input type="text" placeholder="Email">
    <input type="password" placeholder="Password">
    <input type="password" placeholder="Confirm Password">
    <input type="checkbox" id="i-agree"><label for="remember-me">I agree the policy</label>
    <input type="submit" value="Sign up">
</form>