<div id="confirm-wrap">
    <div id="confirm">
        <div id="confirm-form">
            <button id="confirm-yes-btn">Yes</button>
            <button id="confirm-no-btn">No</button>
        </div>
        <div id="confirm-message">
            <p>Should you delete your product?</p>
        </div>
    </div>
</div>