<form action="" id="signin-form">
    <h2>WELCOME</h2>
    <input type="text" placeholder="Email">
    <input type="text" placeholder="Password">
    <input type="checkbox" id="remember-me"><label for="remember-me">Remember me</label>
    <input type="checkbox" id="forget-password"><label for="forget-password">forget password</label>
    <input type="submit" value="Sign in">
</form>