<div class="application-alert-wrap" id="application-alert-wrap">
    <h2>Thanks for your application !</h2>
    <p>
        We will send you email after the review of your application, it will be 1-2 days generally.
    </p>
    <span class="cross-wrap">
        <i class="cross"></i>
    </span>
</div>