<div id="photo-wrap">
    <div id="photo-box" style="height: 380px; width: 676px">
        <img id="photo" src="/upload/large_fantasy_village_and_tower_defense_3d_model_fbx_e3bf7909-f1a4-4f7e-8468-7dbe307a68a7.png" alt="">
        <div class="to-wrap">
            <a class="to_prev"></a>
            <a class="to_next"></a>
        </div>
        <span class="cross-wrap">
            <i class="cross"></i>
        </span>
    </div>
</div>