<header>
    <img src="" alt="" id="header-logo">
    <form action="" id="header-search-form">
        <input type="text" id="header-search-input" placeholder="search">
    </form>
    <menu id="header-menu">
        <menuitem>Element</menuitem>
        <menuitem>Checkout</menuitem>
        <menuitem>Notice</menuitem>
        <menuitem>Login</menuitem>
    </menu>
</header>