<div class="waiting-alert-wrap" id="waiting-alert-wrap">
    <h2>What If They Let You Run The Hubble</h2>
    <p>
        There's blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.
    </p>
    <div class="btns">
        <button class="success">Pay for success</button>
        <button class="failure">Pay for failure</button>
    </div>
</div>