<div class="review-alert-wrap" id="review-alert-wrap">
    <h2>Review</h2>
    <ul>
        <li>
            <label>Time</label>
            <span>
                <i class="icon star-twinkle"></i>
                <i class="icon star-twinkle"></i>
                <i class="icon star"></i>
                <i class="icon star"></i>
                <i class="icon star"></i>
            </span>
        </li>
        <li>
            <label>Quality</label>
            <span>
                <i class="icon star-twinkle"></i>
                <i class="icon star-twinkle"></i>
                <i class="icon star"></i>
                <i class="icon star"></i>
                <i class="icon star"></i>
            </span>
        </li>
        <li>
            <label>Other</label>
            <span>
                <i class="icon star-twinkle"></i>
                <i class="icon star-twinkle"></i>
                <i class="icon star"></i>
                <i class="icon star"></i>
                <i class="icon star"></i>
            </span>
        </li>
    </ul>
    <span class="cross-wrap">
        <i class="cross"></i>
    </span>
    <button>Submit</button>
</div>