<div class="sign-form-wrap" id="forgot-password-form-wrap">
    <h2>FORGOT PASSWORD</h2>
    <form action="" id="forget-password-form">
        <input type="text" placeholder="Enter email address when registering">
        <span class="error-msg">Verification code has been sent to your mailbox.</span>
        <input type="button" value="Send Code" id="send-code-btn">
        <input type="text" placeholder="Input validation code">
        <input type="password" placeholder="New password">
        <input type="password" placeholder="Confirm Password">
        <input type="submit" value="Confirm">
    </form>
    <span class="cross-wrap">
        <i class="cross"></i>
    </span>
</div>