<nav id="channel-bar">
    <a href="" class="selected">MARKET</a>
    <a href="">FOLLOWING</a>
    <a href="">HOT</a>
</nav>
<button id="upload-button">
    <i class="icon upload"></i>
    Upload
</button>