<div id="signin-form-wrap" class="sign-form-wrap">
    <h2>WELCOME</h2>
    <form action="" id="signin-form">
        <input type="text" placeholder="Email">
        <span class="error-msg">Email format is wrong！</span>
        <input type="password" placeholder="Password" class="error">
        <span class="error-msg">Account and password do not Account and password do not match！</span>
        <div class="checkbox-wrap">
            <a class="checkbox-btn" id="remember-me">
                <i class="icon checkbox"></i>
                <label>Remember me</label>
            </a>
            <a id="forget-password" href="">
                <label>forget password</label>
            </a>
        </div>
        <input type="submit" value="Sign in">
    </form>
    <div class="link-wrap">
        <!--<a href="" class="left">I forgot password</a>-->
        <a href="" class="right">Create new account</a>
    </div>
</div>