<div class="container">
    <div class="grid five">
        <% [1, 2, 3, 4, 5].map(function(){ %>
        <div class="column">
            <% [1, 2, 3, 4].map(function(){ %>
            <div class="cell">
                <div class="product-card">
                    <div class="product-card-thumbnail">
                        <img src="/upload/large_fantasy_village_and_tower_defense_3d_model_fbx_e3bf7909-f1a4-4f7e-8468-7dbe307a68a7.png" alt="">
                    </div>
                    <div class="product-card-describe">
                        <div class="product-card-title">
                            <h3>Transformers</h3>
                            <label>
                                <i class="icon label"></i>
                                Game
                            </label>
                        </div>
                        <div class="product-card-author">
                            <span>
                                <i class="portrait"></i>
                                Mark Flowers
                            </span>
                        </div>
                        <div class="product-card-follow">20</div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
        <% }); %>
    </div>
</div>