<div class="grid five">
    <% [1, 2, 3, 4, 5].map(function(){ %>
    <div class="column">
        <% [1, 2, 3, 4].map(function(){ %>
        <div class="cell">
            <%- include('partial-product-card'); %>
        </div>
        <% }); %>
    </div>
    <% }); %>
</div>