<div class="report-alert-wrap" id="report-alert-wrap">
    <h2>Report</h2>
    <textarea>Pls ...</textarea>
    <span class="cross-wrap">
        <i class="cross"></i>
    </span>
    <button>Submit</button>
</div>