<header>
    <img src="" alt="" id="header-logo">
    <form action="" id="header-search-form">
        <input type="text" id="header-search-input" placeholder="search">
    </form>
    <menu id="header-menu">
        <menuitem>
            <a class="dropdown-handler">Element</a>
            <div class="dropdown">
                <a href="">AAA</a>
                <a href="">BBB</a>
                <a href="">CCC</a>
            </div>
        </menuitem>
        <menuitem>Checkout</menuitem>
        <menuitem>Notice</menuitem>
        <menuitem>Login</menuitem>
    </menu>
</header>