<div class="authorized-form-wrap" id="authorized-form-wrap">
    <h2>Select authorized</h2>
    <form id="authorized-form">
        <ul id="authorized-list">
            <li>
                <img class="thumbnail" src="upload/large_ch47d_chinook_helicopter_3d_model_fbx_ma_mb_17f490ce-4034-4b3d-815d-889e05f5413f.jpg" alt="">
                <div class="info-wrap">
                    <h3 class="title">Transformer</h3>
                    <div class="detail">
                        <span>License: Exclusive</span>
                        <span>File size: 500MB</span>
                        <span>Category: Role</span>
                        <span>Level: Movie</span>
                        <span>Format: 3DMAX</span>
                        <span>Animation: No</span>
                        <span>Texture: No</span>
                        <span>Style: Cartoon</span>
                    </div>
                </div>
                <span class="price">US $149</span>
            </li>
            <li class="selected">
                <img class="thumbnail" src="upload/large_ch47d_chinook_helicopter_3d_model_fbx_ma_mb_17f490ce-4034-4b3d-815d-889e05f5413f.jpg" alt="">
                <div class="info-wrap">
                    <h3 class="title">Transformer</h3>
                    <div class="detail">
                        <span>License: Exclusive</span>
                        <span>File size: 500MB</span>
                        <span>Category: Role</span>
                        <span>Level: Movie</span>
                        <span>Format: 3DMAX</span>
                        <span>Animation: No</span>
                        <span>Texture: No</span>
                        <span>Style: Cartoon</span>
                    </div>
                </div>
                <span class="price">US $149</span>
            </li>
        </ul>
        <div class="btn-wrap">
            <button class="add-cart-submit">
                <i class="icon cart"></i>
                Add to Cart
            </button>
        </div>
    </form>
    <span class="cross-wrap">
        <i class="cross"></i>
    </span>
</div>