<div class="product-card">
    <div class="product-card-thumbnail">
        <img src="/upload/large_fantasy_village_and_tower_defense_3d_model_fbx_e3bf7909-f1a4-4f7e-8468-7dbe307a68a7.png" alt="">
    </div>
    <div class="product-card-describe">
        <div class="product-card-title">
            <h3>Transformers</h3>
            <label>
                <i class="icon label"></i>
                Game
            </label>
        </div>
        <div class="product-card-author">
            <span>
                <img class="portrait" src="/upload/game_ready_fantasy_goat_3d_model_max_obj_3ds_fbx_c4d_lwo_lw_lws_376aeb90-9854-4611-b225-e401a5890400.jpg"/>
                <h3>Mark Flowers</h3>
                <span class="time">06:20PM</span>
            </span>
        </div>
        <div class="product-card-follow">
            <label class="favorite">
                <i class="icon favor <%= (Math.random() > .6) ? 'selected' : '' %>"></i>
                21
            </label>
            <label class="watch">
                <i class="icon eye"></i>
                945
            </label>
        </div>
    </div>
    <a class="pop-card-fly"><i class="icon fly"></i></a>
    <a class="pop-card-cart"><i class="icon cart"></i></a>
</div>